/* content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-4 .amazingcarousel-image {	
	position: relative;
	padding: 0px;
}

#amazingcarousel-4 .amazingcarousel-image img {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#amazingcarousel-4 .amazingcarousel-title {
	position:relative;
	font: bold 12px 'Open Sans', sans-serif;
	color:#333333;
	margin:6px;
	text-align:left;
	line-height: 14px;
	height: 14px;
	overflow: hidden;
}

#amazingcarousel-4 .amazingcarousel-description {
	position:relative;
	font: 12px 'Open Sans', sans-serif;
	color:#333333;
	margin:6px;
	text-align:left;
	line-height: 14px;		
	height: 28px;
	overflow: hidden;
}

/* carousel */

#amazingcarousel-container-4 {
	padding: 32px 60px; 
}

#amazingcarousel-4 .amazingcarousel-list-container { 
	padding: 0;
}

/* item */

#amazingcarousel-4 .amazingcarousel-item-container {
	text-align: center;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ddd;
	-moz-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
}

/* arrows */

#amazingcarousel-4 .amazingcarousel-prev {
	left: 50%;
	top: 0%;
	margin-left: -16px;
	margin-top: -36px;
}

#amazingcarousel-4 .amazingcarousel-next {
	left: 50%;
	bottom: 0%;
	margin-left: -16px;
	margin-bottom: -36px;
}


/* navigation bullets */

#amazingcarousel-4 .amazingcarousel-nav {
	position: right;
	top: 0%;
	left: 100%;
	margin-top:15px; 
	margin-left:70px;
}

#amazingcarousel-4 .amazingcarousel-bullet-wrapper {
	margin: 0 16px;
}

