/* bottom center */
#wowslider-container8  .ws_bullets {
	top:0;
    right: 0;
}

#wowslider-container8 { 
	/*overflow: hidden; */
	zoom: 1; 
	position: relative; 
	width:507px;
	margin:0 auto;
	z-index:100;
	border:1px solid #FFFFFF;
}
#wowslider-container8 .ws_images{
	width:507px;
	height:379px;
	overflow:hidden;
	position:relative;
}
#wowslider-container8 .ws_images a{
	color:transparent;
}

#wowslider-container8 .ws_images img{
	top:0;
	left:0;
	border:none 0;
	max-width: none;
}
#wowslider-container8 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container8  .ws_bullets { 
	font-size: 0px; 
	padding: 5px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container8  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container8 .ws_bullets a { 
	width:22px;
	height:20px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -1000px; 
	position:relative;
	color:transparent;
}
#wowslider-container8 .ws_bullets a.ws_selbull, #wowslider-container8 .ws_bullets a:hover{
	background-position: 0 100%; 
}

#wowslider-container8 a.ws_next, #wowslider-container8 a.ws_prev {
	position:absolute;
	display:block;
	top:50%;
	margin-top:-16px;
	z-index:60;
	height: 50px;
	width: 39px;
	background-image: url(./arrows.png);
}
#wowslider-container8 a.ws_next{
	background-position: 100% 0; 
	right:0px;
}
#wowslider-container8 a.ws_prev {
	left:0px;
	background-position: 0 0;  
}
#wowslider-container8 .ws-title{
	position: absolute;
	bottom:7%;
	left: 0;
	margin-right:5px;
	z-index: 50;
	background: #FFF;
    color: #000;
	padding: 10px;
	font-size: 19px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: 1px 1px 0 #fff;
    opacity: 0.7;    
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
#wowslider-container8 .ws-title div{
	padding-top:5px;
	font-size: 13px;
}