<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<a title="Emprego e negócio" href="/{{estado}}/{{categoria}}">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg4.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
				<b>Emprego e negócio</b>
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg4.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999; font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Currículos</b>
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Tipo</strong>
			</p>
			
			<label>
				<input type="checkbox" name="adm_sec_fin" value="adm_sec_fin" id="adm_sec_fin">
				<span style="font-size:8pt;" class="checkatrovb">Admin./Secretariado/Finanças</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="comer_vend" value="comer_vend" id="comer_vend">
				<span style="font-size:8pt;" class="checkatrovb">Comercial / Vendas</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="tel_inf_mul" value="tel_inf_mul" id="tel_inf_mul">
				<span style="font-size:8pt; " class="checkatrovb">Inform./Multimídia/Telecomun.</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="aten_call" value="aten_call" id="aten_call">
				<span style="font-size:8pt; " class="checkatrovb">Atendimento / Call Center</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="ban_seg_con_jur" value="ban_seg_con_jur" id="ban_seg_con_jur">
				<span style="font-size:8pt; " class="checkatrovb">Banco/Seguro/Cons.Jurídica</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="log_dis" value="log_dis" id="log_dis">
				<span style="font-size:8pt; " class="checkatrovb">Logística/Distribuição</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span style="font-size:8pt; " class="checkatrovb">Hotelaria/Restaurante/Turismo</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span style="font-size:8pt; " class="checkatrovb">Educação / Formação</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span style="font-size:8pt; " class="checkatrovb">Marketing / Comunicação</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span style="font-size:8pt; " class="checkatrovb">Serv.Domésticos / Limpeza</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span style="font-size:8pt; " class="checkatrovb">Indústrial / Construção</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span style="font-size:8pt; " class="checkatrovb">Saúde/Medicina/Enfermagem</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span style="font-size:8pt; " class="checkatrovb">Agricut./Pecuária/Veterinaria</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span style="font-size:8pt; " class="checkatrovb">Engenharia/Arquiterura/Design</span>
			</label>
			<br>
		</form> 

		<div class="stparpincbx"> </div>
	</div>
	<!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->
