<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 
	{% include "pesquisa.html" %}

	<a title="Empregos e negócios" href="/{{estado}}/{{categoria}}">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg4.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
				<b>Empregos e negócios</b> 
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/indi.png);" class="icsesctgg"> </div>
		<span class="vdapr" style="font-size:10pt; color:#999; font-family:arial; margin-top:3px;  margin-left:5px; float:left;">
			<b>Indústria, agro e comércio</b>
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
	{% include "faixa_salario.html" %}
	</div>
	<!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->