<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<a title="Eletrônicos e celulares" href="/{{estado}}/{{categoria}}">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg3.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Eletrônicos e celulares</b> 
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/aip.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Audio/Vídeo/Tv e foto</b> 
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Tipo</strong>
			</p>
			<label>
				<input type="checkbox" name="Tvs" value="Tvs" id="Tvs">
				<span class="checkatrovb">Tvs</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="iPod e mp3" value="iPod e mp3" id="iPod e mp3">
				<span class="checkatrovb">iPod e mp3</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Fotografia e Filmagem" value="Fotografia e Filmagem" id="Fotografia e Filmagem">
				<span class="checkatrovb">Fotografia e Filmagem</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Ap. de Som e Micro-system" value="Ap. de Som e Micro-system" id="Ap. de Som e Micro-system">
				<span class="checkatrovb">Ap. de Som e Micro-system</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Dvd Player e Blu-ray" value="Dvd Player e Blu-ray" id="Dvd Player e Blu-ray">
				<span class="checkatrovb">Dvd Player e Blu-ray</span>
			</label>
			<br>
	
			<label>
				<input type="checkbox" name="Som profissional" value="Som profissional" id="Som profissional">
				<span class="checkatrovb">Som profissional</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Projetores" value="Projetores" id="Projetores">
				<span class="checkatrovb">Projetores</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Caixa de som e speakers" value="Caixa de som e speakers" id="Caixa de som e speakers">
				<span class="checkatrovb">Caixa de som e speakers</span>
			</label>
			<br>


			<label>
				<input type="checkbox" name="Home theater, módulos etc." value="Home theater, módulos etc." id="Home theater, módulos etc.">
				<span class="checkatrovb">Home theater, módulos etc.</span>
			</label>
			<br>



			<label>
				<input type="checkbox" name="Antenas e receptores" value="Antenas e receptores" id="Antenas e receptores">
				<span class="checkatrovb">Antenas e receptores</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Acessórios" value="Acessórios" id="Acessórios">
				<span class="checkatrovb">Acessórios</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Outros" value="Outros" id="Outros">
				<span class="checkatrovb">Outros</span>
			</label>
			<br>
		</form>
	
	{% include "faixa_preco.html" %}
	</div>
	<!--FIM  ATRIB CTTG -->

	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->