<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 
	{% include "pesquisa.html" %}

	<a title="Eletrônicos e celulares" href="/{{estado}}/{{categoria}}">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg3.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Eletrônicos e celulares</b>
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/compt.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>PCs e acessórios</b> 
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Tipo</strong>
			</p>
			
			<label>
				<input type="checkbox" name="PCs e acessórios" value="PCs e acessórios" id="PCs e acessórios">
				<span class="checkatrovb">PCs e acessórios</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Notebook e netbook" value="Notebook e netbook" id="Notebook e netbook">
				<span class="checkatrovb">Notebook e netbook</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Ipad e tablet" value="Ipad e tablet" id="Ipad e tabletIpad e tablet">
				<span class="checkatrovb">Ipad e tablet</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Impressora e suplementos" value="Impressora e suplementos" id="Impressora e suplementos">
				<span class="checkatrovb">Impressora e suplementos</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Peças e acessórios" value="Peças e acessórios" id="Peças e acessórios">
				<span class="checkatrovb">Peças e acessórios</span>
			</label>
			<br>
		</form>

	{% include "faixa_preco.html" %}
	</div>
	<!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->