<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<a title="Eletrônicos e celulares" href="/{{estado}}/{{categoria}}">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg3.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Eletrônicos e celulares</b>
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/cel.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Celular e telefonia</b> 
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<form class="formcheatrb" name="form1" method="post" action="">
		<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
			<strong>Tipo</strong>
		</p>
	
		<label>
			<input type="checkbox" name="iphone" value="iphone" id="iphone">
			<span class="checkatrovb">iPhone</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="Nextel" value="Nextel" id="Nextel">
			<span class="checkatrovb">Nextel</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="Samsung" value="Samsung" id="Samsung">
			<span class="checkatrovb">Samsung</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="LG" value="LG" id="LG">
			<span class="checkatrovb">LG</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="Nokia" value="Nokia" id="Nokia">
			<span class="checkatrovb">Nokia</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="Motorola" value="Motorola" id="Motorola">
			<span class="checkatrovb">Motorola</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="Sony Ericsson" value="Sony" id="Sony">
			<span class="checkatrovb">Sony Ericsson</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="Blackberry" value="Blackberry" id="Blackberry">
			<span class="checkatrovb">Blackberry</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="HTC" value="HTC" id="HTC">
			<span class="checkatrovb">HTC</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="Outras marcas" value="outros" id="outros">
			<span class="checkatrovb">Outras marcas</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="Telefones" value="Telefones" id="Telefones">
			<span class="checkatrovb">Telefones</span>
		</label>
		<br>

		<label>
			<input type="checkbox" name="Acessorios" value="Acessorios" id="Acessorios">
			<span class="checkatrovb">Acessórios</span>
		</label>
		<br>

		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Novo / Usado</strong>
			</p>

			<label>
				<input type="checkbox" name="Novo" value="Novo" id="Novo">
				<span class="checkatrovb">Novo</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Usado" value="Usado" id="Usado">
				<span class="checkatrovb">Usado</span>
			</label>
			<br>
		</form>

		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:5px;">
			<strong>Faixa de Preço</strong>
		</p>

	<div class="pricerangebx">
		<input class="gxfpricebx" name="ps" id="ps" placeholder="  Mín." value="" maxlength="13" type="text">
		<input class="gxfpricebx" name="pe" id="pe" placeholder="  Máx." value="" maxlength="13" type="text">
		<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px; background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
	</div>
	
	<div class="stparpincbx"> </div>
  
	</div>
	 <!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->
