<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<a title="Eletrônicos e celulares" href="/{{estado}}/{{categoria}}">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg3.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Eletrônicos e celulares</b> 
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/vdg.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Videogames</b>
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		{% include "faixa_preco.html" %}
	</div>
	<!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->