
/* Gallery styles */

#gallery{
	

	
	
	background:url(img/panel.jpg) repeat-x bottom center #ffffff;
	
	/* The width of the gallery */
	width:618px;
	height:497px; float:left;
	overflow:hidden;
}


.galleryanctrb {max-width:618px; max-height:472px;  }
.patrocftodt {max-width:618px; max-height:472px; margin: 7px 0px 8px; display:flex; }


#slides{
	/* This is the slide area */
	height:427px; 
	width:920px;
	overflow:hidden; background-color:#F00; }

.slide{
	float:left;  display:flex ; max-width:618px; max-height:472px; 
}
.txte {width:619px; height:430px; background-color:#FFF; display: flex;}
.ftajst {max-width:619px; max-height:430px; margin:0px auto;}

.tribtrb {max-width:64px; max-height:51px; margin:0px auto;}
.mnhu {max-height:45px; max-height:53px; margin:auto; background-color:#FFF; display: flex; border: 1px solid #CECECE;}

#menu{
	/* This is the container for the thumbnails */
	max-height:45px; position:relative; z-index:99; background-color:#FFF;  max-height:63px; margin:0px auto;
}

ul{
	margin:0px;
	padding:0px;
}

li.menuItem{
	/* Every thumbnail is a li element */
	width:65px;
	display:inline-block;
	list-style:none;
	height:63px;
	overflow:hidden;
}

li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(img/pic_bg.png) repeat;
}

li.act,li.act:hover{
	/* The active state of the thumb */
	background:url(img/active_bg.png); no-repeat;
}

li.act a{
	cursor:default;
}

.fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width:2px; background-color:#960;
	background:url(img/divider.png) no-repeat right;
}

li a{
	display:block;
	background:url(img/divider.png) no-repeat right;
	height:35px;
	padding-top:10px;
}


#main{
	/* The main container */
	float:left;
	text-align:center;
	width:618px; position:relative; margin-left:17px; margin-top:7px;
}

