.imgtest {width:980px; height:300px; float:left; filter: blur(1px); }



.separa-ban {width:100%; height:118px; float:left;}
.baninfo {width:995px; height:346px; float:left; margin-left:2px; }
.contdesqu {width:225px; height:346px; float:left; background-color:#424242;}
.imagem-banner-client {width:770px; height:346px; float:left; background-repeat:no-repeat;}
.pngrilh {width:770px; height:346px; float:left; background-image:url(../img/bpng.png);}


.strava {width:150px; height:35px; float:right; margin-top:-65px;  margin-right:5px;}
.strava-ctd {width:150px; height:18px; float:right;   }

.strr {width:18px; height:18px; float:left;}


.clasestre {width:150px; height:18px; float:left; }


.bar-informtvo {width:770px; height:144px; float:left; background-color:#FFF; margin-top:202px;}
.nmeancia{width:770px; height:37px; float:left; margin-top:-37px;}
.nomeempr {width:770px; height:37px; float:left;}
.informtve {width:375px; height:144px; float:left; margin-left:5px; }
.endco {width:100%; min-height:15px; float:left;   margin-top:10px;}
.icnh {width:15px; height:15px; float:left; background-repeat:no-repeat;}
.textcnt {width:348px; min-height:15px;  float:left;  margin-left:5px;}
.rrsctud {width:100%; height:15px; float:left; }

.separarr1px {width:1px; height:144px; float:left; background-color:#CCC;}
.INFORTX {width:389px; height:144px; float:left;  }
.brevdesci {width:370px; height:85px; float:left; margin-left:8px; margin-top:8px;}
.phnne {width:297px; height:57px; float:right; margin-right:-20px; margin-top:-10px; background-image:url(../img/phn.png);}
.tlpne {width:250px; height:30px; float:left; margin-top:23px;  margin-left:40px;}


.MOLDEFOT {width:170px; height:170px; float:left;}
.amarr-mold {width:170px; height:170px; float:left; margin-left:25px; margin-top:25px;}
.CATEGORIADOANN {width:215px; height:20px; float:left; margin-left:5px; margin-top:5px;}
.Botapro {width:200px; height:30px; float:left; margin-left:20px; margin-top:10px;}
.RDSOCIAL {width:150px; height:28px; float:left; margin-top:15px; margin-left:45px;}
.icnrsc {width:28px; height:28px; float:left;}
.shadcontinf {width:995px; height:11px; float:left; background-image:url(../img/shadin.png); background-repeat:repeat-x; margin-left:2px;}
.amarra-conteudann {width:1000px; min-height:500px; float:left; background-color:#f3f3f3;}
.sidesquercont {width:650px; min-height:400px; float:left; margin-top:5px;  margin-left:10px; }
.sidedircont {width:320px; min-height:400px; float:right;  margin-top:5px;  margin-right:10px; }
.sdlclgps {width:100%; height:330px; float:left; background-color:#CCC;}
.espacrod {width:100%; height:50px; float:left; }
.sdlclgpsdt {width:318px;; height:328px; float:left; background-color:#FFF;
margin-left:1px; margin-top:1px;}


.espacrod {width:100%; height:50px; float:left; }



.box-resoqe {width:650px; min-height:250px; float:left; background-color:#d7d7d7;}
.box-resoqedent {width:648px; min-height:248px; float:left; background-color:#FFF; margin-top:1px; margin-left:1px;}
.datpost {width:100%; height:35px; float:left; background-image:url(../img/sding.png); }
.TITUANCOO {width:100%; height:35px; float:left; margin-top:10px; }
.separvert1px {width:100%; height:1px; float:left; background-color:#d7d7d7;}
.shaap {width:650px; height:10px; float:left; background-image:url(../img/sap.png); }
.dif {width:100%; min-height:100px; float:left; background-color:#d7d7d7; margin-top:20px;}
.difd {width:648px; min-height:98px; float:left; background-color:#FFF; margin-left:1px; margin-top:1px; }
.ribss { width:100%; height:35px; float:left; }
.ribnme {width:260px; height:52px; float:left; background-image:url(../img/rnn.png); margin-left:-8px; margin-top:-10px;}

.dif2 {width:100%; min-height:300px; float:left; background-color:#d7d7d7; margin-top:25px;}
.difd2 {width:648px; min-height:298px; float:left; background-color:#FFF; margin-left:1px; margin-top:1px; }

.bxftcomet {width:100%; height:79px; float:left; background-image:url(../img/bgcm.png); background-repeat:no-repeat;}
.ftdodic {width:60px; height:60px; float:left;  }
.fotoftdodic {width:60px; height:60px; float:left; margin-left:-60px; }
.bxtxcmt {width:230px; height:68px; float:right; margin-right:5px; margin-top:5px;}

.prr {width:100%; height:15px; float:left; margin-top:5px;}
.albfoto {width:100%; height:76px; float:left; margin-top:10px;  }
.amarra-ftss {width:480px; height:66px; margin-top:-10px; float:left; margin-left:80px;}


.sidgpss {width:320px; height:44px; float:left; background-image:url(../img/ondd.png); background-repeat:no-repeat; z-index:100; position:relative;}

.bxlinedir {width:320px; min-height:350px; background-color:#CCC; float:left; margin-top:-10px;}
.bxlinedir-dentro {width:318px; min-height:348px; background-color:#FFF; float:left; margin-left:1px; margin-top:1px;}
.nmgps {width:230px; height:30px; float:left; margin-left:35px; margin-top:2px;}

.box-msgfre {width:320px; height:335px; float:left; background-color:#CCC; margin-top:-10px;}

.sid-msgg {width:320px; height:44px; float:left; background-image:url(../img/ondd2.png); position:relative; z-index:100; margin-top:5px;}
.shdirr {width:320px; height:18px; float:left; background-image:url(../img/shaddirt.png); }

.adsfree {width:650px; height:90px; float:left; background-color:#E5E5E5; }
.adsfree-nmpubl {width:650px; height:15px; float:left;  margin-top:5px;}


.relacionad-frre {width:649px; height:212px; float:left; background-color:#CCC;  }

.nmptroc {width:100%; height:20px; float:left;}
.sidofertpatrofre {width:649px; height:33px; float:left; background-image:url(../img/sfp.png); margin-top:15px;}

.patroinfo-free {width:320px; height:131px; float:left; background-image:url(../img/pubinf.png); margin-top:20px;}













.btn-round.btn-xs {
    width: 41px;
    height: 34px;  border-radius: 10%;
}




.btmsenfdereco {width:100%; height:20px; float:left; background-color:#C93;}
.icondc {width:50px; height:50px; float:left; background-image:url(../img/pstt2.jpg); margin-top:25px; margin-left:15px;}

.bxefdrec {width:320px; height:300px; float:left; }
.bxendrspp {width:100%; min-height:30px; float:left; margin-top:5px;}







.mybutton {
background-color:#ff9c00;

border-radius: 3px;
color: #fff;
display: inline-block;
font-size: 14px;
padding: 8px 15px;
text-decoration: none;
text-align: center;
min-width: 30px;
position: relative;
transition: color .1s ease;
}
.mybutton:hover {
 color:#FFF;
}
.mybutton.mybutton-big {
font-size: 18px;
padding: 15px 20px;
min-width: 100px;
}
.mybutton-close {
color: #aaaaaa;
font-size: 15px;
text-decoration: none;
position: absolute;
right: 10px;
top: 10px;
}
.mybutton-close:hover {
color: #919191;
}
.popup_div:before {
content: "";
display: none;
background: rgba(0, 0, 0, 0.6);
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 1000;
}
.popup_div:target:before, .popup_div.loaded:before {
display: block;
}

.popup_div-dialog {
background: #fefefe;
border: #333333 solid 1px;
border-radius: 5px;
margin-left: -200px;
position: fixed;
left: 50%;
top: -100%;
z-index: 11000;
width: 360px;
-webkit-transform: translate(0, -500%);
-ms-transform: translate(0, -500%);
transform: translate(0, -500%);
-webkit-transition: -webkit-transform 0.3s ease-out;
-moz-transition: -moz-transform 0.3s ease-out;
-o-transition: -o-transform 0.3s ease-out;
transition: transform 0.3s ease-out;
}
.popup_div-body {
padding: 20px;
}
.popup_div-top {
padding: 10px 20px;
}

.popup_div-bottom{
padding: 5px 20px 10px 20px;
}

.popup_div-top {
border-bottom: #eeeeee solid 1px;
}
.popup_div-top h2 {
font-size: 20px;
}

.popup_div:target .popup_div-dialog, .popup_div.loaded .popup_div-dialog {
-webkit-transform: translate(0, 0);
-ms-transform: translate(0, 0);
transform: translate(0, 0);
top: 20%;
}

.popup_div-bottom {
border-top: #eeeeee solid 1px;
text-align: center;
}

.popup_div-body input{width:100%; padding:10px; margin-bottom:20px;}
.bottomcontent{font-size:12px;}





.lmtdvdesci {width:375px; height:75px; overflow:hidden; float:left;}










