@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);
@import url(https://fonts.googleapis.com/css?family=Lato:700);

body { }


.nav-topo {width:100%; height:72px; background-image:url(../img/cristalinesid.png); position:fixed; z-index:100;}

.conteudo-home {width:1000px; min-height:995px; background-color:#FFF; margin:auto;}

.sidertopp {width:1000px; height:70px; margin:auto; }
.logo {width:190px; height:72px; float:left; background-image:url(../img/inf-log.png);   margin-left:5px; }
.estado {width:240px; height:30px; float:left;  margin-top:20px; margin-left:30px;  }
.entrar-log {width:240px; height:30px; float:right;  margin-top:28px;}

.enter {min-width:60px; height:20px; float:left; }
.enter p {font-size:13px; text-align:center;}
.enter p a {color:#FFF; text-decoration:none;}
.enter p a:hover {text-decoration:underline;}

.cadastre-se {width:130px; height:28px; float:left;  background-image:url(../img/cds.png); margin-top:-4px; margin-left:20px;}

.categorias {width:100%; min-height:35px; float:left; background-color:#069;}
.categorias-separa {width:100%; height:35px; float:left; background-image:url(../img/sidminhacont.png);}
.categorias-separa2 {width:100%; height:3px; float:left; background-image:url(../img/ssd.png);}
.categorias-amarra {width:1000px; min-height:35px; margin:auto; }
.icon-ctg {width:25px; height:15px; float:left;}
.iconssd {width:30px; height:30px; float:left; }
.anunciec {width:100%; height:160px; background-image:url(../img/conhc.png); float:left; }
.text-area-est {width:1000px; height:320px;  margin:auto; }
.sider-ctg-rapd {width:1000px; height:590px; margin:auto; margin-top:-150px; position:relative; z-index:60000; background-color:#FFF; }
.cont-cima-coment {width:398px; margin-top:2px; min-height:218px; float:left; background-image:url(../img/bg-pro.jpg); background-repeat:no-repeat; margin-left:2px;}
.info-cmt {width:600px; min-height:220px; float:left; }
.cont-promo {width:398px; margin-left:2px; min-height:262px; float:left; background-image:url(../img/bg-promo.jpg); margin-top:2px; }
.titl-nvanc {width:100%; height:35px; float:left; }
.titl-nvanc-inline {width:580px; height:2px; float:left; margin-left:10px; background-color:#D7D7D7;}
.promogastro {width:300px; height:120px; margin-top:2px; margin-left:2px; float:left; }
.prom-hot {width:294px; height:120px; margin-top:2px;  float:left;}
.text-apres {width:100%; height:180px; float:left; margin-top:100px;}
.text-apres { font-size:26pt; text-align:center; text-shadow: 0 0 5px rgba(0,0,0,.45);}
.plan-promo {width:338px; height:277px; float:left; background-image:url(../img/pnc.png); margin-left:30px; margin-top:-70px;}
.promo-ing{width:596px; height:95px; float:left; background-color:#F93; margin-left:2px; margin-top:2px;}
.icn-info-opert {width:67px; height:95px; float:left; background-image:url(../img/of.png); margin-left:15px;}
.info-opert {width:82%; height:95px; float:left; margin-left:15px;}
.info-opert p {color:#FFF; text-shadow: 0 0 5px rgba(0,0,0,.45); text-align:center; font-size:19px; }
.busca-rapid {width:596px; height:262px; float:left; background-image:url(../img/bg-trans.png); margin-top:2px; margin-left:2px;}
.nam-mais-acess {width:100%; height:30px; float:left; }
.icons-ctgg {width:100%; height:100px; float:left; margin-top:10px;  }
.boxone {width:100px; height:100px; float:left; margin-left:16px; background-image:url(../img/bg-trans.png);}
.oferta-bot {width:1000px; height:320px; margin:auto;  margin-top:5px;}
.oferta-bot-amarra {width:970px; height:320px; margin:auto;}
.porc {width:100%; height:350px; float:left; background-image:url(../img/bg--.jpg); background-repeat:repeat-x;}
.shadow-bnn {width:1000px; height:20px; float:left; margin-top:5px; background-image:url(../img/element-jquery/banshado.png); z-index:100; position:relative;}
.titulo-oft {width:100%; height:101px; background-image:url(../img/element-jquery/rib.png); float:left; margin-top:-20px; }
.test {width:50px; height:50px; margin:auto; background-color:#900;}
.ads {width:100%; height:90px; float:left; margin-top:10px;}
.ads-code {width:728px; height:90px; float:left; background-image:url(../img/ads.jpg); margin-left:15px;}
.ads-ofert {width:225px; height:90px; float:left; background-image:url(../img/criof.jpg); margin-left:15px;}
.novos-no-info {width:100%; height:190px; float:left; background-image:url(../img/new.jpg); margin-top:15px;}
.separ-nvinfo {width:100%; height:2px; float:left; background-color:#F93;}
.boxes-hme {width:100%; height:300px; float:left; margin-top:35px;}
.boxx0 {width:300px; height:282px; float:left; background-color:#CCC; margin-left:25px;  border-top-left-radius: 8px; border-top-right-radius: 8px;}
.img-tarol {width:100%; height:160px; float:left; background-color:#FFF; border-top-left-radius: 8px; border-top-right-radius: 8px; }
.bbx0cont {width:298px; height:120px; float:left; background-color:#FFF; margin-left:1px;}
.imgic {width:80px; height:80px; margin:auto; margin-top:-30px; }

.rodape {width:100%; height:250px; float:left; background-image:url(../img/cty-rod2.jpg);}
.rodape-amar {width:1000px; height:250px; margin:auto; }
.bx-rod {width:280px; height:250px; float:left;  margin-left:20px; }
.inlgo {width:280px; height:100px; background-image:url(../img/inlgrod.png); float:left; margin-top:15px;}
.tit-ses-rod {width:100%; height:30px; float:left; margin-top:40px;}
.bx-rod2 {width:300px; height:230px; float:left;  margin-left:50px; }
.red-social {width:100%; height:25px; float:left; }
.bxrdsoci {width:25px; height:25px; float:right; margin-right:5px;}





input.file {
	width: 150px;
	height: 20px;
	border: 1px solid #BBB;
	border-right: 0;
	color: #888;
	padding: 5px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	outline: none;
}
































/* CONFIGURACAO DO BUSCAR */
 #search input {
		background: none repeat scroll 0 0 #fff;
		border: 0 none;
		color: #7F7F7F;
		float: left;
		font-size:13px;
		height: 35px;
		margin: 0;
		padding: 10px;
		transition: background 0.3s ease-in-out 0s;
		width: 215px;
	}

	#search button {
		background: url("") no-repeat scroll center center #F93;
		cursor: pointer;
		height: 35px;
		text-indent: -99999em;
		transition: background 0.3s ease-in-out 0s;
		width: 35px;
		border: 2px solid #fff;
	}

	#search button:hover {
		background-color:#F06;
	}
 




.estado2 {width:241px; height:37px; float:left; background-color:#CF0;}


































/* NAVEGADOR CATEGORIAS */
.nav2,
.nav2 a,
.nav2 ul,
.nav2 li,
.nav2 div,
.nav2 form,
.nav2 input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.nav2 a { text-decoration: none; }

.nav2 li { list-style: none; }

/* Menu Container */
.nav2 {
	display: inline-block;
	position: relative;
	cursor: default;
	z-index: 500; 
}

/* Menu List */
.nav2 > li {
	display: block; float:left;
}

/* Menu Links */
.nav2 > li > a {
	position: relative; 
	display: block;
	z-index: 510;
	height: 40px;
	padding: 0 20px;
	line-height: 45px;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	color: #fcfcfc;
	text-shadow: 0 0 1px rgba(0,0,0,.35);

	background: #069;
	border-left: 1px thin #036;
	border-right: 1px solid #036;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.nav2 > li:hover > a {  background: #0C9;   }

.nav2 > li:first-child > a {
	border-radius: 3px 0 0 3px; 
	border-left: none;
}


/* Menu Dropdown */
.nav2 > li > div {
	position: absolute;
	display: block;
	width: 100%;
	top: 50px;
	left: 0;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	background: #ffffff;
	border-radius: 0 0 3px 3px; 

	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
}

.nav2 > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible; 
}

/* Menu Content Styles */
.nav2 .nav2-column {
	float: left;
	width: 15%;
	padding: 2%; 
}

.nav2 .nav2-column h3 {
	
	line-height: 18px;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #372f2b;
	text-transform: uppercase;
}

.nav2 .nav2-column h3.orange { color: #ff722b; }

.nav2 .nav2-column li a {
	display: block;
	line-height: 26px;
	
	font-family: Helvetica, Arial, sans-serif;
	
	font-size: 13px;
	color: #888888;
}

.nav2 .nav2-column li a:hover { color: #666666; }
/* FIM NAVEGADOR CATEGORIAS */







/* CODIGO DO BG RESPONSIVO */
.contact-input {
  overflow: hidden; 
  margin-bottom: 20px;
  padding: 5px;
  background: #eef7f9;
  border-radius: 2px;      
}
.contact-input > input, .contact-input > textarea {
  display: block; 
  width: 100%;
  height: 29px; 
  padding: 0 9px;
  color: #4d5a5e;
  background: white;
  border: 1px solid #cfdfe3;
  border-bottom-color: #d2e2e7;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2); 
} 
.contact-input > input:focus, .contact-input > textarea:focus {
  border-color: #93c2ec;
  outline: 0;
  -webkit-box-shadow: 0 0 0 8px #e1ecf5;
  box-shadow: 0 0 0 8px #e1ecf5;
}
.lt-ie9 .contact-input > input, .lt-ie9 .contact-input > textarea {
  line-height: 27px;
}
.contact-input > textarea {
  padding: 4px 8px;
  height: 90px;
  line-height: 20px;
  resize: none;
}

.select {
  display: block;
  position: relative;
  overflow: hidden;
  background: white; 
  border: 1px solid #d2e2e7;
  border-bottom-color: #c5d4d9;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: -moz-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: -o-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: linear-gradient(to bottom, #fcfdff, #f2f7f7);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
.select:before, .select:after {
  content: '';
  position: absolute;
  right: 11px;
  width: 0; 
  height: 0;
  border-left: 3px outset transparent;
  border-right: 3px outset transparent;
}
.select:before {
  top: 10px;
  border-bottom: 3px solid #7f9298;
}
.select:after {
  top: 16px;
  border-top: 3px solid #7f9298; 
}
.select > select {
  position: relative; 
  z-index: 2;
  width: 112%;
  height: 29px;
  line-height: 17px;
  padding: 5px 9px;
  padding-right: 0;
  color: #80989f;
  background: transparent;
  background: rgba(0, 0, 0, 0);
  border: 0;
  -webkit-appearance: none;
}
.select > select:focus {
  color: #4d5a5e;
  outline: 0; 
}

.contact-submit {
  text-align: right;
}
.contact-submit > input {
  display: inline-block;
  vertical-align: top;
  padding: 0 14px;
  height: 29px;
  font-weight: bold;
  color: #729fb2;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #deeef4;
  border: 1px solid #bed6e3;
  border-bottom-color: #accbd9;
  border-radius: 15px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #e6f2f7, #d0e6ee);
  background-image: -moz-linear-gradient(top, #e6f2f7, #d0e6ee);
  background-image: -o-linear-gradient(top, #e6f2f7, #d0e6ee);
  background-image: linear-gradient(to bottom, #e6f2f7, #d0e6ee);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
}
.contact-submit > input:active {
  color: #6a95a9;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  background: #c9dfe9;
  border-color: #a3bed0 #b5ccda #b5ccda;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
}
/* FIM CODIGO DO BG RESPONSIVO */



























/*
 * CONFIGURAÇÃO DAS OFERTAS JQUERY
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
	width: 2240px !important; 
	
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 6px;
	left: 0;
	width: 100%;
	height: 28px;
	background: url(img/bar.png) no-repeat 0 0;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: url(img/scroll.png) no-repeat center 50%;
	position: relative;
}

.jspDrag
{
	background: url(img/drag.png) no-repeat center 50%;
	width: 28px !important; 
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrowLeft { padding-left: 19px; background: url(img/scroll-left.png) no-repeat center 8px; }

.jspArrowRight { padding-right: 21px; background: url(img/scroll-right.png) no-repeat 13px 8px; }

.jspArrow.jspDisabled
{
	cursor: default;
	
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 13px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}






















   /* CLASSES QUE FORAM ADICONADAS, ADICIONAR NO CSS MASTER  */
   
   
.estado23 {width:200px; height:38px; float:left;  margin-top:18px; margin-left:10px; }
  


.nmond {min-width:40px; height:30px; float:left; margin-left:20px;  margin-top:28px;}
.nmond2 {min-width:40px; height:30px; float:left; margin-left:15px;  margin-top:28px;}



   /* DIV ESTADO MODIFICADA ATUALIZADA */
.estado24 {width:300px; height:38px; float:left;  margin-top:18px; margin-left:10px; }



 /* DIV DO ENTRAR OU CADASTRAR ATUALIZADA */
.entrar-log {width:140px; height:30px; float:right;  margin-top:12px; margin-right:10px;}

.cadastre-se2 {width:176px; height:45px; float:left;  background-image:url(../img/inser.png);  }








/* NOVAS LINHAS DO FORM DA SIDEBAR INDEX */

.form-control2 {
width: 200px;
height: 38px;
background: #FFF;
overflow:auto;

/* Border style */
border: 1px solid #FFF;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;  padding: 10px;



}










/* CONFIGURACAO DO BUSCAR */
#search2 input {
width: 200px;
height: 38px;
background: #FFF;
overflow:auto;
color:#333;

/* Border style */
border: 1px solid #FFF;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;  padding: 10px;

}



#search2 button {
background-color:#ffa900;
background-image:url(../img/searicon.png);
cursor: pointer;
height: 38px;
text-indent: -99999em;
transition: background 0.3s ease-in-out 0s;
width: 78px;
margin-left:5px;
border: 1px solid #F90;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

#search2 button:hover {
background-color:#0C9;
border: 1px solid #099;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;



}






   /*  FIM DAS CLASSES QUE FORAM ADICONADAS, ADICIONAR NO CSS MASTER  */


.ussernet {width:100%; height:20px; float:left;  }

.inusrentr {width:16px; height:20px; float:left; background-image:url(../img/ussfdbar.png);}

.nmeusrriio {width:123px; height:20px; float:left; }
.inusrentricon {width:23px; height:20px; float:right; background-repeat:no-repeat; margin-right:5px; }






.bsxlmteofertxt {width:227px; height:100px; float:left; overflow:hidden; margin-top:-10px; }
.bsxlmteofertxt p { margin:10px; height:85px; float:left; overflow:hidden; }









#map {
	display:none; margin-left:100px; float:left; margin-top:10px;
}

#map a {
	 text-decoration:none; 
}


#map .state {
	cursor:pointer;  
}
#map .state .shape {
	cursor:pointer; 
	stroke-width:0
}
#map .state .label_icon_state {
	fill:#fff;
	font-family:Arial;
	font-size:11px;
	line-height:12px;
	font-weight:normal
}
#map .state .label_state {
	display:none;
	font-family:Arial;
	font-size:14px;
	line-height:16px;
	font-weight:bold
}
#map .state:hover .label_state,#map .state.hover .label_state {
	display:block
}
#mapa_brasil.hover #map .model-green .state .shape {
	fill:#39C;
}
#mapa_brasil.hover #map .model-green .state .icon_state {
	fill:#5a95ce
}
#mapa_brasil.hover #map .model-gray .state .shape {
	fill:#3d3d3d
}
#mapa_brasil.hover #map .model-gray .state .icon_state {
	fill:#fd7131
}
#map .model-green .state .shape {
	fill:#3cb5a8;
}
#map .model-green .state .icon_state {
	fill:#10592f
}
#map .model-green .state .label_icon_state {
	fill:#fff
}
#map .model-green .state .label_state {
	fill:#666
}
#map .model-green .state:hover .shape,#map .model-green .state.hover .shape {
	fill:#F93;
}
#map .model-green .state:hover .icon_state,#map .model-green .state.hover .icon_state {
	fill:#F60;
}
#map .model-orange .state .shape {
	fill:#fd7132
}
#map .model-orange .state .icon_state {
	fill:#6cb361
}
#map .model-orange .state .label_icon_state {
	fill:#fff
}
#map .model-orange .state .label_state {
	fill:#666
}
#map .model-orange .state:hover .shape,#map .model-orange .state.hover .shape {
	fill:#c93f04
}
#map .model-orange .state:hover .icon_state,#map .model-orange .state.hover .icon_state {
	fill:#10592f
}
#map .model-darkgreen .state .shape {
	fill:#366823
}
#map .model-darkgreen .state .icon_state {
	fill:#2779c6
}
#map .model-darkgreen .state .label_icon_state {
	fill:#fff
}
#map .model-darkgreen .state .label_state {
	fill:#666
}
#map .model-darkgreen .state:hover .shape,#map .model-darkgreen .state.hover .shape {
	fill:#4a8c31
}
#map .model-darkgreen .state:hover .icon_state,#map .model-darkgreen .state.hover .icon_state {
	fill:#5a95ce
}
#map .model-blue .state .shape {
	fill:#2268ad
}
#map .model-blue .state .icon_state {
	fill:#6cb361
}
#map .model-blue .state .label_icon_state {
	fill:#fff
}
#map .model-blue .state .label_state {
	fill:#666
}
#map .model-blue .state:hover .shape,#map .model-blue .state.hover .shape {
	fill:#00508e
}
#map .model-blue .state:hover .icon_state,#map .model-blue .state.hover .icon_state {
	fill:#10592f
}
#map .model-green-orange .state .shape {
	fill:#366823
}
#map .model-green-orange .state .icon_state {
	fill:#fd7131
}
#map .model-green-orange .state .label_icon_state {
	fill:#fff
}
#map .model-green-orange .state .label_state {
	fill:#fff
}
#map .model-green-orange .state:hover .shape,#map .model-green-orange .state.hover .shape {
	fill:#2a501b
}
#map .model-green-orange .state:hover .icon_state,#map .model-green-orange .state.hover .icon_state {
	fill:#e24803
}
#map .model-gray .state .shape {
	fill:#707070
}
#map .model-gray .state .icon_state {
	fill:#fd7131
}
#map .model-gray .state .label_icon_state {
	fill:#fff
}
#map .model-gray .state .label_state {
	fill:#fff
}
#map .model-gray .state:hover .shape,#map .model-gray .state.hover .shape {
	fill:#3d3d3d
}



.basempcnthome {width:1024px; height:600px; margin:auto; background-color:#FFF; margin-top:-260px; position:relative; z-index:10; -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 60px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 60px;
border-top-left-radius: 0px;
border-top-right-radius: 60px;}




.basempcnthomecot {width:1024px; height:600px; margin:auto;  position:relative; z-index:10; }





.laeingcinfo {width:420px; height:200px; float:left; }
.ladingcinfo {width:600px; height:580px; float:right;}
.msnutxx {width:1024px; height:30px; margin:auto; }
.msnutxx1 {width:120px; height:20px; margin-top:5px; float:left;}
.msnutxx1uf {width:20px; height:20px; margin-top:5px; float:left; margin-left:5px;}
.buads {width:100%; height:100px; float:left; }
.imgthemhome {width:420px; height:275px; float:left; background-image:url(../img/img-tema-hme.png); background-repeat:no-repeat;}
.aprsntxtconthme {width:100%; height:50px; margin-top:10px; float:left; }
.adshmeprd {width:320px; height:100px; float:left; background-color:#F2F2F2; margin-left:45px; }
.ufsss {width:100%; height:30px; float:left; background-color:#E6E6E6;}
.mnuminhacnt {width:1024px; height:35px; margin:auto; }
.mhfct {min-width:50px;  height:20px; float:right; text-align:center; margin-top:9px; margin-right:15px;}
.mhfctrel {min-width:18px;  height:20px; float:right; text-align:center; margin-top:9px; margin-right:15px;}
.mhfct p {text-align:center; font-family:Arial, Helvetica, sans-serif;  font-size:11pt;  color:#003366;}
.mhfctrel p {text-align:left; font-family:Arial, Helvetica, sans-serif;  font-size:11pt;  color:#003366;}
.icnyghj {width:14px; height:20px; float:left; float:right; margin-top:9px; margin-right:4px;}
.icnyghjmailnew {width:17px; height:19px; float:left; float:right; margin-top:8px; margin-right:7px; background-image:url(../img/mrv1.png);}



.mnuminhacntmnu {width:130px; height:20px; float:right; margin-top:8px;}
.mnuminhacntmnu2 {width:80px; height:20px; float:right; margin-top:8px;}
.icncnttt {width:12px; height:29px; float:left;}
.sepraescond3 {width:100%; height:102px; float:left; margin-top:10px; }
.sepraescond4 {width:100%; height:98px; float:left; margin-top:10px; }
.adstpsesca {width:728px; height:90px; float:left; background-color:#F2F2F2; margin-left:130px;}
.txtdcgric {width:100%; height:80px; float:left; margin-top:-20px;}

.formmlgcria {width:100%; height:275px; float:left; margin-top:10px;}

.fmormlgin {width:395px; height:275px; float:left;  margin-left:70px;}
.ads-patrocinio {width:100%; height:90px; float:left; margin-top:5px; margin-top:5px;}
.adsss-patrocinio {width:728px; height:90px; float:left; background-color:#F2F2F2; margin-left:18px; }
.patroncio {width:228px; height:90px; float:left; margin-left:10px;}
.sesctglae {width:214px; min-height:300px; float:left; background-color:#DFDFDF; margin-left:10px; margin-top:15px; }
.sdtilctg {width:249px; height:54px; margin-left:-22px; float:left; background-image:url(../img/sdvgt.png);}

.sdmnctg {width:212px; margin-left:1px; height:40px; float:left; background-color:#FFF;  margin-top:1px;}
.sdmnctg:hover {background-color:#F0F0F0;}

.sdmnctgdois {width:212px; margin-left:1px; height:40px; float:left; background-color:#FFF;  margin-top:1px;}


.icsesctgg {width:43px; height:40px; float:left;  }
.lnespctglae {width:214px;  height:1px; float:left; background-color:#DFDFDF;}

.sdssao {width:249px; height:54px;  margin-left:-24px; float:left; background-image:url(../img/sdvgt.png);}
.spsesbusexp {width:214px; height:25px; float:left; background-color:#FFF; margin-top:1px;}
.adsladblock {width:160px; height:600px; float:left; margin-top:15px; margin-left:12px; background-color:#F2F2F2;}

.centerlinksanunc {width:580px; min-height:400px; float:left; margin-left:12px; margin-top:15px;}



.blocanc {width:100%; height:131px; float:left; background-color:#FFF; border: 1px solid #CCC; margin-top:10px;}
.blocanc:hover {background-color:#e3edf6;}

.ftoanucn {width:130px; height:111px; background-color:#FFF;  border: 1px solid #CCC; margin-top:9px; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }
.ftodentrouo {width:118px; height:99px; float:left; background-color:#FFF; background-image:url(../img/sfto.png); margin-top:5px; margin-left:5px; border: 1px solid #CCC; display: flex; }

.laeftooo {width:130px; height:128px; float:left; margin-left:8px;}
.ladinfanc {width:420px; height:109px; float:right; margin-right:10px; margin-top:10px;}
.titleancui {width:100%; height:43px; overflow:hidden; float:left;}
.postdicnf {width:100%; height:30px; float:left; }
.imganucoferant {max-height: 97px; max-width: 116px; display: inline; margin:0px auto;}
.nvhrdiaprice {width:100%; height:26px; float:left; margin-top:10px; }
.priceynf {min-width:50px; height:26px; float:right; background-image:url(../img/ptb.png); margin-right:-10px; }
.priceynf p {font-family:arial; color:#FFF; font-size:12pt; margin:10px; margin-top:2px; text-shadow: 0 0 8px rgba(0,0,0,.25);}
.bandenfet {width:10px; height:26px; float:right; background-image:url(../img/sment.png);}
.bxhrdia {min-width:50px; height:26px; float:right; margin-right:10px;}
.bxhrdia p {color:#666; font-size:10pt; margin:10px; margin-top:3px; }
.patrocinfotmy {width:91px; height:26px; float:right;}
.tab-content {width:275px; min-height:20px; float:left; margin-top:10px; margin-left:10px; }
.sparaumpco {width:100%; height:25px; float:left; }




.ftodentrouo {width:118px; height:99px; float:left; background-color:#FFF; background-image:url(../img/sfto.png); margin-top:5px; margin-left:5px; border: 1px solid #CCC;  }

.patrocftodt{max-width:78px; max-height:72px; margin:0px auto;}
.patrocftodtd{max-width:78px; max-height:72px; margin:0px auto;}
.patrocftbs {width:78px; height:72px; float:left; background-image:url(../img/ftstk.png); margin-left:5px; display: flex; margin-top:5px; border: 1px solid #DFDFDF;}


.barinforvelad {width:288px; min-height:220px; float:right; background-color:#FFF; margin-top:15px; border: 1px solid #D6D6D6; }
.amarrgaller {width:690px; min-height:560px; float:left; background-color:#FFFFFF; border: 1px solid #D6D6D6; margin-top:5px;}
.sharbttt {width:47px; height:158px; float:right;  margin-right:-60px;  }
.shhiex {width:47px; height:33px; float:left; background-image:url(../img/shhh.png);}
.icwshr {width:47px; height:37px; float:left; background-repeat:no-repeat; margin-left:7px; margin-top:8px;}
.sdtiltlo {width:690px; height:35px; float:left; background-color:#FFF; margin-top:15px; border: 1px solid #D6D6D6;}
.titlanuciante {width:670px; min-height:35px; float:left;   margin-left:10px; margin-top:5px;}
.txtatitleanc {font-size:18pt; margin:5px; float:left; color:#333;  }
.separlneiy {width:100%; height:1px; float:left; background-color:#CCC;}
.iciy {width:18px; height:38px; float:left; background-image:url(../img/icic.png);}
.sdquandopost {width:288; height:27px; background-image:url(../img/yu.png); margin-left:-1px; margin-top:-1px;}
.sdquandopost p {color:#FFF; text-align:center; font-family:Arial, Helvetica, sans-serif; }
.ichrr {width:13px; height:27px; float:left; background-image:url(../img/rlwg.png); margin-left:8px;}
.lcalprice {width:287px; height:35px; float:left; background-image:url(../img/II.png); margin-top:-6px; margin-left:-1px;}
.sdiclaprc {width:287px; height:28px; float:left; background-image:url(../img/suyru.png); background-repeat:no-repeat; margin-left:-1px; margin-top:-1px;   }
.sdicusrr {width:100%; height:33px; float:left; margin-top:10px; }
.icusry {width:33px; height:33px; margin:auto; background-image:url(../img/ususer.png);}
.nmmeusrry {width:100%; height:35px;  float:left; }
.nmmeusrry p { text-align:center; font-size:19pt; color:#666666; }
.phneanciantte {width:100%; height:35px; float:left; }
.icnphn {width:28px; height:28px; float:left; margin-top:5px; background-repeat:no-repeat; margin-left:10px;}
.phnetrib {font-size:21pt; float:left; color:#FA964B; margin-top:-3px; margin-left:10px;}
.ladama {width:288px; min-height:300px; float:right;}
.msscntanuc {width:288px; min-height:405px; float:right; background-color:#FFF; margin-top:10px; border: 1px solid #D6D6D6; }
.sdnmsg {width:288px; height:35px; float:left; background-image:url(../img/ssdms.png); background-repeat:repeat-x; margin-top:-1px; margin-left:-1px;  }
.sdnmsgic {width:31px; height:42px; float:left; background-image:url(../img/smm.png); margin-left:2px; position:relative; z-index:10;}
.tcenvmsgg {color:#FFF; margin-top:2px; font-size:15pt; font-family: 'Ubuntu', sans-serif; float:left; margin-left:25px;}
.txinfdvv {width:690px; min-height:300px; float:left; background-color:#FFFFFF; border: 1px solid #D6D6D6; margin-top:15px;}
.sdinfancioo { width:466px; height:40px; float:left; margin-top:20px;}
.sdprcbax {width:233px; height:54px; float:right; background-image:url(../img/addyars.png); margin-right:-12px; margin-top:20px;}
.rfsreal {width:212px; height:25px; margin-top:8px; float:left; margin-left:12px;}
.txtbos {font-size:11pt; float:left; color:#069; margin-left:20px; margin-top:10px; font-family:Arial, Helvetica, sans-serif;}
.txtdescuy {width:100%; min-height:150px; float:left; }
.txtdescuy p {color:#000;     font-size:13px; margin:20px; }
.dncdic {width:288px; height:140px; float:right; background-color:#FFF; margin-top:10px; border: 1px solid #D6D6D6;}
.dncdiccara {width:288px; min-height:50px; float:right; background-color:#FFF; margin-top:10px; border: 1px solid #D6D6D6;}
.tltleparasua {width:100%; height:20px; margin-top:10px; float:left; }
.tltleparasuap {font-size:12pt; color:#099; float:left; margin-top:-5px; margin-left:3px;font-family: 'Ubuntu', sans-serif; }
.icsegf {width:18px; height:20px; background-image:url(../img/icsg.png); float:left; margin-left:8px;}
.icsegfra {width:18px; height:20px; background-image:url(../img/lcaa.png); float:left; margin-left:8px;}
.icsegfradiff {width:18px; height:20px; background-image:url(../img/diff.png); float:left; margin-left:8px;}
.icsegfradiffds {width:18px; height:20px; background-image:url(../img/crtad.png); float:left; margin-left:8px;}
.icsegfradiffdsyu {width:18px; height:20px; background-image:url(../img/usri.png); float:left; margin-left:8px;}
.icsegfradifftt {width:18px; height:20px; background-image:url(../img/crta.png); float:left; margin-left:8px;}
.sbtcxt {float:left; margin-top:5px;}
.dncdicads {width:288px; height:260px; float:right; background-color:#FFF; margin-top:10px; border: 1px solid #D6D6D6;}
.bxdtlanclca {width:690px; min-height:100px; float:left; background-color:#FFFFFF; border: 1px solid #D6D6D6; margin-top:15px;}
.sdinfanciooy {width:100%; height:33px; float:left; background-color:#099;}
.bxdrelaciooo {width:100%; min-height:150px; float:left; background-color:#FFFFFF; border: 1px solid #D6D6D6; margin-top:15px;}
.sdinfanciooyu {width:100%; height:33px; float:left; background-image:url(../img/ssd23.png);}
.bxrelaan {width:141px; height:157px; float:left; background-color:#C93;}
.bxpromorelaci{width:306px; height:95px; float:left; margin-left:25px;   margin-top:5px;   }
.bxpromorelaci:hover {background-color:#EBEBEB;}
.bxrlttle {width:210px; height:40px; float:left;  margin-top:5px;}
.barsidninfg {width:100%; min-height:15px; float:left; margin-top:5px;}
.txtmunyu {color:#666; font-family:Arial, Helvetica, sans-serif; font-size:9pt; margin:10px; margin-top:-3px;}
.sdctganoma {width:100%; height:10px; float:left; }
.ctginfoft {width:315px; height:15px;  float:left; margin-top:10px;  margin-left:20px;}
.chatg { font-family:Arial, Helvetica, sans-serif; font-size:9pt; color:#666;}
.dscrib {width:91px; height:90px; float:left; background-image:url(../img/DSTRX.png); margin-top:-63px; margin-left:-45px;}
.sdpatrodenc {width:690px; height:25px; float:left; margin-top:5px;}
.iccapy {width:18px; height:25px; float:left; margin-left:10px;}
.ancdesttyk {color:#FF9900; font-family:Arial, Helvetica, sans-serif; font-size:10pt; float:left; margin-left:5px; margin-top:5px;}

.ancdesttyksample {color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:10pt; float:left; margin-left:5px; margin-top:5px;}
.ancdesttyksampleemp {color:#009999; font-family:Arial, Helvetica, sans-serif; font-size:10pt; float:left; margin-left:5px; margin-top:5px;}


.iccapyden {width:18px; height:25px; float:right; margin-right:5px;}
.ancdesttykden {color:#FF3300; font-family:Arial, Helvetica, sans-serif; font-size:10pt; float:right;  margin-top:5px;}
.cartdifbx {width:190px; min-height:169px; float:left; background-color:#006699;}
.carayim {width:100%; min-height:20px;  float:left; margin-top:5px;}
.icatv {width:18px; height:20px; float:left; background-image:url(../img/VV.png); margin-left:10px;}
.icatvas {width:18px; height:20px; float:left; background-image:url(../img/asdf.png); margin-left:10px;}
.txtcarar {width:255px; min-height:20px; float:left;  }
.txtyoi {float:left; margin-top:3px; margin-left:3px; color:#666666; font-family:Arial, Helvetica, sans-serif;}
.sepctv {width:100%; height:5px; float:left; }
.bxinfomoyv {width:690px; background-color:#FFFFFF; min-height:100px; float:left;  border: 1px solid #D6D6D6; margin-top:15px;}
.bcsxmaisinfmo {width:645px; min-height:100px;  margin-left:20px; float:left; }
.titlght {width:100%; height:25px; float:left;  margin-top:10px;}
.lnsdd {width:100%; height:1px; float:left; background-color:#CCCCCC;}
.txghyt {font-size:10pt; color:#069; float:left; margin-top:2px; font-family:Arial, Helvetica, sans-serif;}
.bxyatrb {width:100%; height:20px; float:left;  margin-top:10px;}
.bsdpo {width:200px; height:20px; background-color:#0099CC;  float:left; margin-left:11px;}
.cvhyt {width:150px; margin-left:5px; height:18px; float:left; margin-top:5px; }
.txthuy {color:#CC6600; font-family:Arial, Helvetica, sans-serif; color:#666666; font-size:9pt;}
.ctgmne {width:970px; min-height:700px; float:left; margin-left:15px;}
.ctgmne2 {width:970px; min-height:470px; float:left; margin-left:15px;}



@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 240px;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {
  float: none;
}
#cssmenu ul {
  background: #fff;
}
#cssmenu > ul > li {
  border-left: 3px solid #d7d8da;
}
#cssmenu > ul > li > a {
  padding: 10px 20px;
}
#cssmenu > ul > li:hover {
  border-left: 3px solid #3dbd99;
}
#cssmenu ul li:hover > a {
  color: #3dbd99;
}
#cssmenu > ul > li:hover {
  background: #f6f6f6;
}
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  width: 240px;
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
#cssmenu ul ul li {
  padding: 0 20px;
  background: #fff;
}
#cssmenu ul ul li:last-child {
  border-bottom: 3px solid #d7d8da;
  padding-bottom: 10px;
}
#cssmenu ul ul li:first-child {
  padding-top: 10px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.icvnctg {width:20px; height:20px; float:left; }
.txsfs { font-size:14pt;}


..txtdcgricy {width:100%; background-color:#096; height:80px; float:left; margin-top:-20px;}
.nmscltsgoria {width:100%; height:30px; float:left; background-color:#FFF;}
.uiuo {width:13px; height:12px; margin-top:2px; float:left; background-image:url(../img/vlat.png);}
.ahtxt {margin-top:7px; float:left; margin-left:5px;}
.sfbctgsele {width:212px; margin-left:1px; margin-top:1px; min-height:80px; float:left; background-color:#FFF;}
.checkatrovb {font-family:Arial, Helvetica, sans-serif; font-size:9pt; color:#666; margin-top:5px; float:right; margin-left:5px;}
.formcheatrb {margin-left:12px; margin-top:10px;}
.gxfpricebx {width:81px; height:35px;  border: 1px solid #D6D6D6; -webkit-border-radius: 5px; -moz-border-radius: 3px; border-radius: 3px;  margin-left:3px; float:left;}
.pricerangebx { width:212px;  }
.stparpincbx {width:212px; height:15px; float:left; }

.txttldgy {width:100%; min-height:110px; background-color:#900; float:left;}
.vdapr {width:160px; height:30px;  float:left; }

.sdtyi {width:100%; height:50px; float:left; background-color:#006633;}

.lnedffg {width:200px; height:20px; float:left;}
.ghtyu {width:100%; height:20px; float:left; background-color:#003399; margin-top:-10px;}


.hgh-whttectpainel {width:1024px; height:400px;  margin:auto;}
.ampaneflot {width:1024px; min-height:200px; float:left; background-color:#0066CC; }


.spscondd {width:100%; height:110px; float:left;}


.dvstaancctg {width:100%; height:119px; float:left; }
.yungpnel {width:228px; height:119px; float:left; -webkit-border-radius: 6px; -moz-border-radius: 6px; margin-left:22px; }



.iopuj {width:100px; height:60px; float:left; margin-top:15px; margin-left:40px;  }
.uiyjht { text-align:center; color:#FFFFFF; font-size:50pt; font-family:Arial, Helvetica, sans-serif; margin-top:-8px; text-shadow: 0 0 4px rgba(0,0,0,.35);}
.vganccio {width:100%; height:20px; float:left; margin-top:23px;}
.iujhgi { text-align:center; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:10pt; text-shadow: 0 0 4px rgba(0,0,0,.35); }
.desfgtu {color:#999999; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11pt; margin-top:-5px;}

.iopuj2 {min-width:100px; height:22px; float:left; }
.uiyjht2 { text-align:center; color:#FFFFFF; font-size:16pt; font-family:Arial, Helvetica, sans-serif; margin-top:-8px; text-shadow: 0 0 4px rgba(0,0,0,.35);}
.bxnmesv2 {width:80px; height:20px; float:left; }
.ighlool {width:17px; height:25px; float:left; margin-left:10px;}

.adspromoutrher {width:200px; height:89px; margin-left:10px; float:left; background-image:url(../img/adstt.jpg);}
.nvsidbmsgg {width:935px; height:30px; float:left; background-image:url(../img/bgone.png); margin-left:1px; margin-top:1px;}
.icnewmma {width:30px; height:30px; float:left; margin-left:10px;}
.titlemodanmcctit {min-width:100px; height:20px; float:left; margin-top:5px; margin-left:5px;  }
.tctnahj { font-family:Arial, Helvetica, sans-serif; font-size:10pt; color:#000000;}
.diahrdttt {min-width:100px; height:20px; float:right; margin-top:5px; margin-right:40px;  }
.ftnavuser2 {width:47px; height:47px; float:left; background-image:url(../img/usm.png); margin-left:10px; margin-top:3px;}
.ghticquand {width:100%; height:20px; float:left; }
.icmssls {width:20px; height:20px; float:left;}
.yutppo { font-family:Arial, Helvetica, sans-serif; font-size:10pt; color:#999999; margin-top:3px; float:left; margin-left:5px;}
.tstcetro{width:939px; min-height:400px;   margin:auto;}
.naveg-infboavd {width:100%; height:385px; float:left; background-image:url(../img/mulpro.jpg); background-repeat:no-repeat;}

.braasssop {width:100%; height:22px; float:left; background-color:#FFF; }
.brarcegrto {min-width:190px; height:22px; float:left; }
.nattashrge {width:27px; height:22px; float:left; }
.utbrotbn {color:#666; font-family:Arial, Helvetica, sans-serif; font-size:9pt; margin-left:10px; float:left; margin-top:3px;}





.nvbrithx {width:100%; height:30px; float:left; }
.clasjcls {float:left; margin-top:10px; font-size:10pt; margin-left:5px; color:#666; }
.dorokcto {width:100%; min-height:27px; float:left;  }
.batabicty {min-width:189px; height:22px; float:left;  margin-top:3px; margin-left:3px; }
.nghjrotp {width:9px; height:21px; float:left; background-image:url(../img/stt.png);}
.clasiltre { font-family:Arial, Helvetica, sans-serif; font-size:8pt; margin-left:3px; float:left; margin-top:5px;}
.classiu {color:#999; font-family:Arial, Helvetica, sans-serif; }




.escondtribline {width:100%; height:39px; float:left; background-image:url(../img/sdcl.png); background-repeat:repeat-x; position:relative; z-index:18;}
.lader {width:336px; height:400px; float:right; margin-top:10px; margin-right:10px;}
.adssladcria {width:336px; height:280px; float:left; }
.bxpromcriar {width:336px; height:99px; float:left; }
.trsxt {width:100%; min-height:200px; float:left; }
.mabmob {color:#FFF; font-size:15pt; margin-top:5px; text-align:center; text-shadow: 0 0 5px rgba(0,0,0,.45);}
.acentrali {width:600px; min-height:200px; float:left; margin-left:200px; }


/* css menu catgorias */

.titmefor {width:100%; height:40px; float:left; margin-top:-10px; }

.lad-avs {width:250px; height:472px; float:right; margin-right:10px;}
.bgratx {width:180px; height:90px; float:left; margin-top:40px; margin-left:65px; }
.yagron {width:253px; height:136px; float:left;}
.txtitrw {width:100%; height:25px; float:left; margin-top:5px;}
.bhjjtz { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#C60; text-align:center;}



.txtfom {font-family: 'Lato', sans-serif; font-size:10pt;  }




/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default; 
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%; 
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  
  font-size: 10pt;
  width: 220px;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color:#666;
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {
  float: none;
}
#cssmenu ul {
  background: #fff;
}
#cssmenu > ul > li {
  border-left: 3px solid #d7d8da;
}
#cssmenu > ul > li > a {
  padding: 10px 20px;
}
#cssmenu > ul > li:hover {
  border-left: 3px solid #3dbd99;
}
#cssmenu ul li:hover > a {
  color: #F60;
}
#cssmenu > ul > li:hover {
  background: #f6f6f6;
}
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  width: 200px;
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee; 
}
#cssmenu ul ul li {
  padding: 0 20px;
  background: #fff; width:200px; 
}
#cssmenu ul ul li:last-child {
  border-bottom: 3px solid #F93;
  padding-bottom: 10px; 
}
#cssmenu ul ul li:first-child {
  padding-top: 10px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}



.titmefor {width:100%; height:40px; float:left; margin-top:-10px; }

.lad-avs {width:250px; height:300px; float:right;  margin-right:10px;}
.lad-avsform {width:600px; min-height:500px; float:right;  margin-right:10px; border: 1px solid #CCC; }

.formcentralin {width:500px; min-height:200px; float:right; margin-right:47px; margin-top:20px;}
#id_titlew {width:100%; height:35px;}

.sdsidct {width:100%; height:53px; float:left; background-image:url(img/BG-UF/sidd.png); background-repeat:repeat-x;}
.disdsetisese {width:100%; height:35px; float:right; background-image:url(img/BG-UF/sdse.png); background-repeat:no-repeat; margin-top:30px;}

.ifosoci { font-size:12pt; color:#FFF; float:left; margin-left:45px; margin-top:7px;}




.tsxdescrform {width:100%; min-height:23px; float:right; }
.tsxdescrformtxt {font-family: 'Lato', sans-serif; font-size:10pt; color:#0080C0;}
.txtfom {font-family: 'Lato', sans-serif; font-size:10pt;  }


/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default; 
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%; 
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  
  font-size: 10pt;
  width: 220px;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color:#666;
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {
  float: none;
}
#cssmenu ul {
  background: #fff;
}
#cssmenu > ul > li {
  border-left: 3px solid #d7d8da;
}
#cssmenu > ul > li > a {
  padding: 10px 20px;
}
#cssmenu > ul > li:hover {
  border-left: 3px solid #3dbd99;
}
#cssmenu ul li:hover > a {
  color: #F60;
}
#cssmenu > ul > li:hover {
  background: #f6f6f6;
}
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  width: 200px;
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee; 
}
#cssmenu ul ul li {
  padding: 0 20px;
  background: #fff; width:200px; 
}
#cssmenu ul ul li:last-child {
  border-bottom: 3px solid #F93;
  padding-bottom: 10px; 
}
#cssmenu ul ul li:first-child {
  padding-top: 10px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}





















