

.sid-msgg2 {width:320px; height:44px; float:left; background-image:url(../img/occ.png); position:relative; z-index:100; margin-top:5px;}

.ofrt-pgo {width:650px; min-height:300px; float:left; background-color:#CCC; margin-top:15px;}
.ofrt-pgodt {width:648px; min-height:298px; float:left; background-color:#FFF; margin-top:1px; margin-left:1px;}

.ribnme2 {width:260px; height:52px; float:left; background-image:url(../img/oftrib.png); margin-left:-8px; margin-top:-10px;}

.caxa-oft {width:100%; min-height:350px; float:left; background-color:#FFF;}

.dpr-ofrt {width:100%; height:1px; float:left; background-color:#CCC;}
.bsfto-oft {width:244px; height:260px; float:left;  margin-left:5px;}
.fto-ofert {width:224px; height:200px; float:left; margin-top:5px; margin-left:5px; }
.postanci {width:385px; min-height:225px; float:right; background-image:url(../img/mbg.png); margin-right:5px; margin-top:5px;}
.set-of {width:15px; height:27px; float:left; background-image:url(../img/sthg.png); margin-left:-14px; margin-top:15px;}
.box-dtrof {width:381px; min-height:225px; float:right; background-color:#FFF;}

.titoff {width:100%; height:30px; float:right; margin-top:15px; }

.dtofert {width:200px; height:73px; float:left;   }
.sdrlg {width:200px; height:22px; float:left; margin-top:5px; margin-left:13px;}
.rlgic {width:24px; height:22px; float:left; background-image:url(../img/rlg.png);}


.sdagd {width:200px; height:17px; float:left; margin-top:5px;  margin-left:13px;}
.agicn {width:15px; height:17px; float:left; background-image:url(../img/agdd.png); margin-left:4px;}
.pub-dca {width:148px; height:30px; float:right; background-color:#EFEFEF; margin-right:10px; margin-top:5px;}
.cmgbx {width:316px; height:250px; float:left; margin-top:5px; }
.lne1p {width:100%; height:1px; float:left; background-color:#CCC;}
.bxadsancpgo {width:300px; height:250px; float:left; margin-top:15px; margin-left:10px;}
.icondc {width:50px; height:50px; float:left; background-image:url(../img/pstt.png); margin-top:25px; margin-left:15px;}
.comentspg {width:650px; min-height:225px; float:left; background-color:#CCC; margin-top:15px;}
.comentspgdt {width:648px; min-height:223px; float:left; background-color:#FFF; margin-top:1px; margin-left:1px;}

.sdcometos {width:100%; height:35px; float:left; background-image:url(../img/ctmt.png);}

.cmtary {width:100%; min-height:135px; float:left; background-image:url(../img/lnecmmt.png); background-repeat:repeat-y; margin-top:10px;}
.ftavat {width:60px; height:120px; float:left; margin-left:24px;}
.ftavat-fto {width:60px; height:60px; float:left; background-color:#CCC;  -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;}
.ftavat-ftodt {width:58px; height:58px; float:left; background-color:#FFF; margin-top:1px; margin-left:1px; -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;}

.txtcment {width:550px; min-height:120px; float:left; margin-left:5px;}
.nmecmtr {width:100%; height:18px; float:left;   margin-top:8px;  }
.nmecmtr2 {width:100%; height:18px; float:left;  margin-top:4px; }

.compartsoci {width:100%; height:20px; float:left; }
.botncpartfce {width:20px; height:20px; float:left; background-image:url(../img/fcshar.png); margin-left:5px;}
.botncpartfce:hover {width:20px; height:20px; float:left; background-image:url(../img/fashar2.png);}


.botncparttwt {width:20px; height:20px; float:left; background-image:url(../img/twttt.png); margin-left:5px;}
.botncparttwt:hover {width:20px; height:20px; float:left; background-image:url(../img/twttttt.png); }

.botncpartgm {width:20px; height:20px; float:left; background-image:url(../img/gm.png); margin-left:5px;}
.botncpartgm:hover {width:20px; height:20px; float:left; background-image:url(../img/gmm.png);}

.separacion {width:100%; height:1px; float:left; background-color:#CCC; margin-top:5px;}

.formcmtt {width:650px; height:381px; float:left; background-color:#CCC; margin-top:10px;}
.formcmttdt {width:648px; min-height:250px; float:left; background-color:#FFF; margin-left:1px; margin-top:1px;}
.avlie {width:100%; height:30px; float:left; background-image:url(../img/bg--.jpg); position:relative; z-index:100;}
.starst {width:350px; height:50px; float:left; background-color:#C30;}
.formove {width:30px; height:100px; float:left; background-color:#06F;}
.quasuava {width:100%; height:30px; float:left; margin-top:15px;}
.nmeava {width:260px; height:30px; margin-left:32px; float:left;}
.icncmtt {width:30px; height:30px; float:left; background-image:url(../img/penc.png); margin-left:35px; }















.mybutton {
background-color:#ff9c00;

border-radius: 3px;
color: #fff;
display: inline-block;
font-size: 14px;
padding: 8px 15px;
text-decoration: none;
text-align: center;
min-width: 30px;
position: relative;
transition: color .1s ease;
}
.mybutton:hover {
 color:#FFF;
}
.mybutton.mybutton-big {
font-size: 18px;
padding: 15px 20px;
min-width: 100px;
}
.mybutton-close {
color: #aaaaaa;
font-size: 15px;
text-decoration: none;
position: absolute;
right: 10px;
top: 10px;
}
.mybutton-close:hover {
color: #919191;
}
.popup_div:before {
content: "";
display: none;
background: rgba(0, 0, 0, 0.6);
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 1000;
}
.popup_div:target:before, .popup_div.loaded:before {
display: block;
}

.popup_div-dialog {
background: #fefefe;
border: #333333 solid 1px;
border-radius: 5px;
margin-left: -200px;
position: fixed;
left: 50%;
top: -100%;
z-index: 11000;
width: 360px;
-webkit-transform: translate(0, -500%);
-ms-transform: translate(0, -500%);
transform: translate(0, -500%);
-webkit-transition: -webkit-transform 0.3s ease-out;
-moz-transition: -moz-transform 0.3s ease-out;
-o-transition: -o-transform 0.3s ease-out;
transition: transform 0.3s ease-out;
}
.popup_div-body {
padding: 20px;
}
.popup_div-top {
padding: 10px 20px;
}

.popup_div-bottom{
padding: 5px 20px 10px 20px;
}

.popup_div-top {
border-bottom: #eeeeee solid 1px;
}
.popup_div-top h2 {
font-size: 20px;
}

.popup_div:target .popup_div-dialog, .popup_div.loaded .popup_div-dialog {
-webkit-transform: translate(0, 0);
-ms-transform: translate(0, 0);
transform: translate(0, 0);
top: 20%;
}

.popup_div-bottom {
border-top: #eeeeee solid 1px;
text-align: center;
}

.popup_div-body input{width:100%;padding:10px;margin-bottom:20px;}
.bottomcontent{font-size:12px;}


