/* line 11, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container {
  position: relative;
}
/* line 14, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown-select {
  display: none;
}
/* line 18, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown {
  position: absolute;
  padding: 0;
  margin: 0;
  min-width: 200px;
  background: white;
  -moz-box-shadow: 0px 3px 10px -3px black;
  -webkit-box-shadow: 0px 3px 10px -3px black;
  box-shadow: 0px 3px 10px -3px black;
  font-family:Arial, Helvetica, sans-serif; font-size:11pt;
}
/* line 27, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown, .multilevel-dropdown-container .multilevel-dropdown * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 31, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown .multilevel-dropdown-item {
  
  list-style: none;
  padding: 7px 15px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #666; font-family: 'Roboto', sans-serif;; font-size:13px;
}
/* line 39, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown .multilevel-dropdown-item.active {
  background: #008999;
  color: #FFF;
}
/* line 44, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown .multilevel-dropdown-item.multilevel-dropdown-reset {
  background: #F90;
  text-align: center;
  color: white;
}
/* line 51, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown .multilevel-dropdown-item.has-children.open {
  background:#09F;
  color: white;
}
/* line 55, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown .multilevel-dropdown-item.has-children.open > .multilevel-dropdown-level {
  margin-top: 0px;
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 61, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown .multilevel-dropdown-item.has-children.open:after {
  display: none;
}
/* line 66, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown .multilevel-dropdown-item.has-children:after {
  position: absolute;
  content: '\f105';
  right: 15px;
  font-family: 'FontAwesome';
  top: 10px;
}






/* line 76, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown .multilevel-dropdown-level {
  position: absolute;
  top: 0;
  margin-top: -10px;
  margin-left: 5px;
  padding: 0;
  min-width: 200px;
  background: white;
  -moz-box-shadow: 0px 3px 10px -3px black;
  -webkit-box-shadow: 0px 3px 10px -3px black;
  box-shadow: 0px 3px 10px -3px black;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.4s ease, margin 0.4s ease;
  -o-transition: opacity 0.4s ease, margin 0.4s ease;
  -webkit-transition: opacity 0.4s ease, margin 0.4s ease;
  transition: opacity 0.4s ease, margin 0.4s ease;
  
}
/* line 89, ../scss/multilevel-dropdown.scss */
.multilevel-dropdown-container .multilevel-dropdown .multilevel-dropdown-level .multilevel-dropdown-level-reset {
  position: relative;
  margin-left: -5px; 
  padding: 7px 15px;
  list-style: none;
  text-align: center;
  background: #09F;
  color: white;
  
}

.txbit {font-family: Helvetica, 'Arial', sans-serif; font-size:10pt;}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
