﻿

.clearfix:before,.clearfix:after{
	display:table;
	line-height:0;
	content:""
}

.clearfix:after{
	clear:both
}

.hide-text{
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0
}

.input-block-level{
	display:block;
	width:100%;
	min-height:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{
	display:block
}

audio,canvas,video{
	display:inline-block;
	*display:inline;
	*zoom:1
}

audio:not([controls]){
	display:none
}

html{
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

a:focus{
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}

a:hover,a:active{
	outline:0
}

sub,sup{
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline
}

sup{
	top:-0.5em
}

sub{
	bottom:-0.25em
}

img{
	width:auto\9;
	height:auto;
	max-width:100%;
	vertical-align:middle;
	border:0;
	-ms-interpolation-mode:bicubic
}

#map_canvas img,.google-maps img{
	max-width:none
}

button,input,select,textarea{
	margin:0;
	font-size:100%;
	vertical-align:middle
}

button,input{
	*overflow:visible;
	line-height:normal
}

button::-moz-focus-inner,input::-moz-focus-inner{
	padding:0;
	border:0
}

button,html input[type="button"],input[type="reset"],input[type="submit"]{
	cursor:pointer;
	-webkit-appearance:button
}

label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"]{
	cursor:pointer
}

input[type="search"]{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-appearance:textfield
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{
	-webkit-appearance:none
}

textarea{
	overflow:auto;
	vertical-align:top
}

@media print{
	*{
		color:#000!important;
		text-shadow:none!important;
		background:transparent!important;
		box-shadow:none!important
	}

	a,a:visited{
		text-decoration:underline
	}

	a[href]:after{
		content:" (" attr(href) ")"
	}

	abbr[title]:after{
		content:" (" attr(title) ")"
	}

	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{
		content:""
	}

	pre,blockquote{
		border:1px solid #999;
		page-break-inside:avoid
	}

	thead{
		display:table-header-group
	}

	tr,img{
		page-break-inside:avoid
	}

	img{
		max-width:100%!important
	}

	@page{
		margin:.5cm
	}

	p,h2,h3{
		orphans:3;
		widows:3
	}

	h2,h3{
		page-break-after:avoid
	}

}





.img-rounded{
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px
}

.img-polaroid{
	padding:4px;
	background-color:#fff;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1)
}

.img-circle{
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	border-radius:500px
}

.row{
	margin-left:-20px;
	*zoom:1
}

.row:before,.row:after{
	display:table;
	line-height:0;
	content:""
}

.row:after{
	clear:both
}

[class*="span"]{
	float:left;
	min-height:1px;
	margin-left:20px
}

.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{
	width:940px
}

.span12{
	width:940px
}

.span11{
	width:860px
}

.span10{
	width:780px
}

.span9{
	width:700px
}

.span8{
	width:620px
}

.span7{
	width:540px
}

.span6{
	width:460px
}

.span5{
	width:380px
}

.span4{
	width:300px
}

.span3{
	width:220px; background-color:#FFF; height:310px;
}

.readmor {width:227px; height:35px; float:left; background-color:#930;}
.iconmor {width:45px; height:35px; float:right; background-image:url(../img/element-jquery/off.png); background-color:#F30;}
.readmotxt {width:180px; height:35px; float:left; }







.span2{
	width:140px
}

.span1{
	width:60px
}

.offset12{
	margin-left:980px
}

.offset11{
	margin-left:900px
}

.offset10{
	margin-left:820px
}

.offset9{
	margin-left:740px
}

.offset8{
	margin-left:660px
}

.offset7{
	margin-left:580px
}

.offset6{
	margin-left:500px
}

.offset5{
	margin-left:420px
}

.offset4{
	margin-left:340px
}

.offset3{
	margin-left:260px
}

.offset2{
	margin-left:180px
}

.offset1{
	margin-left:100px
}

.row-fluid{
	width:100%;
	*zoom:1
}

.row-fluid:before,.row-fluid:after{
	display:table;
	line-height:0;
	content:""
}

.row-fluid:after{
	clear:both
}

.row-fluid [class*="span"]{
	display:block;
	float:left;
	width:100%;
	min-height:30px;
	margin-left:2.127659574468085%;
	*margin-left:2.074468085106383%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

.row-fluid [class*="span"]:first-child{
	margin-left:0
}

.row-fluid .controls-row [class*="span"]+[class*="span"]{
	margin-left:2.127659574468085%
}

.row-fluid .span12{
	width:100%;
	*width:99.94680851063829%
}

.row-fluid .span11{
	width:91.48936170212765%;
	*width:91.43617021276594%
}

.row-fluid .span10{
	width:82.97872340425532%;
	*width:82.92553191489361%
}

.row-fluid .span9{
	width:74.46808510638297%;
	*width:74.41489361702126%
}














.row-fluid .span8{
	width:65.95744680851064%;
	*width:65.90425531914893%
}

.row-fluid .span7{
	width:57.44680851063829%;
	*width:57.39361702127659%
}

.row-fluid .span6{
	width:48.93617021276595%;
	*width:48.88297872340425%
}

.row-fluid .span5{
	width:40.42553191489362%;
	*width:40.37234042553192%
}

.row-fluid .span4{
	width:31.914893617021278%;
	*width:31.861702127659576%
}

.row-fluid .span3{
	width:23.404255319148934%;
	*width:23.351063829787233%
}

.row-fluid .span2{
	width:14.893617021276595%;
	*width:14.840425531914894%
}

.row-fluid .span1{
	width:6.382978723404255%;
	*width:6.329787234042553%
}

.row-fluid .offset12{
	margin-left:104.25531914893617%;
	*margin-left:104.14893617021275%
}

.row-fluid .offset12:first-child{
	margin-left:102.12765957446808%;
	*margin-left:102.02127659574467%
}

.row-fluid .offset11{
	margin-left:95.74468085106382%;
	*margin-left:95.6382978723404%
}

.row-fluid .offset11:first-child{
	margin-left:93.61702127659574%;
	*margin-left:93.51063829787232%
}

.row-fluid .offset10{
	margin-left:87.23404255319149%;
	*margin-left:87.12765957446807%
}

.row-fluid .offset10:first-child{
	margin-left:85.1063829787234%;
	*margin-left:84.99999999999999%
}

.row-fluid .offset9{
	margin-left:78.72340425531914%;
	*margin-left:78.61702127659572%
}

.row-fluid .offset9:first-child{
	margin-left:76.59574468085106%;
	*margin-left:76.48936170212764%
}

.row-fluid .offset8{
	margin-left:70.2127659574468%;
	*margin-left:70.10638297872339%
}

.row-fluid .offset8:first-child{
	margin-left:68.08510638297872%;
	*margin-left:67.9787234042553%
}

.row-fluid .offset7{
	margin-left:61.70212765957446%;
	*margin-left:61.59574468085106%
}

.row-fluid .offset7:first-child{
	margin-left:59.574468085106375%;
	*margin-left:59.46808510638297%
}

.row-fluid .offset6{
	margin-left:53.191489361702125%;
	*margin-left:53.085106382978715%
}

.row-fluid .offset6:first-child{
	margin-left:51.063829787234035%;
	*margin-left:50.95744680851063%
}

.row-fluid .offset5{
	margin-left:44.68085106382979%;
	*margin-left:44.57446808510638%
}

.row-fluid .offset5:first-child{
	margin-left:42.5531914893617%;
	*margin-left:42.4468085106383%
}

.row-fluid .offset4{
	margin-left:36.170212765957444%;
	*margin-left:36.06382978723405%
}

.row-fluid .offset4:first-child{
	margin-left:34.04255319148936%;
	*margin-left:33.93617021276596%
}

.row-fluid .offset3{
	margin-left:27.659574468085104%;
	*margin-left:27.5531914893617%
}

.row-fluid .offset3:first-child{
	margin-left:25.53191489361702%;
	*margin-left:25.425531914893618%
}

.row-fluid .offset2{
	margin-left:19.148936170212764%;
	*margin-left:19.04255319148936%
}

.row-fluid .offset2:first-child{
	margin-left:17.02127659574468%;
	*margin-left:16.914893617021278%
}

.row-fluid .offset1{
	margin-left:10.638297872340425%;
	*margin-left:10.53191489361702%
}

.row-fluid .offset1:first-child{
	margin-left:8.51063829787234%;
	*margin-left:8.404255319148938%
}

[class*="span"].hide,.row-fluid [class*="span"].hide{
	display:none
}

[class*="span"].pull-right,.row-fluid [class*="span"].pull-right{
	float:right
}

.container{
	margin-right:auto;
	margin-left:auto;
	*zoom:1
}

.container:before,.container:after{
	display:table;
	line-height:0;
	content:""
}

.container:after{
	clear:both
}

.container-fluid{
	padding-right:20px;
	padding-left:20px;
	
}

.container-fluid:before,.container-fluid:after{
	display:table;
	line-height:0;
	content:""
}

.container-fluid:after{
	clear:both
}



.lead{
	margin-bottom:20px;
	font-size:21px;
	font-weight:200;
	line-height:30px
}

small{
	font-size:85%
}



em{
	font-style:italic
}

cite{
	font-style:normal
}

.muted{
	color:#999
}

a.muted:hover,a.muted:focus{
	color:#808080
}

.text-warning{
	color:#c09853
}

a.text-warning:hover,a.text-warning:focus{
	color:#a47e3c
}

.text-error{
	color:#b94a48
}

a.text-error:hover,a.text-error:focus{
	color:#953b39
}

.text-info{
	color:#3a87ad
}

a.text-info:hover,a.text-info:focus{
	color:#2d6987
}

.text-success{
	color:#468847
}

a.text-success:hover,a.text-success:focus{
	color:#356635
}

.text-left{
	text-align:left
}







h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
	font-weight:normal;
	line-height:1;
	color:#999
}

h1,h2,h3{
	line-height:40px
}

h1{
	font-size:38.5px
}

h2{
	font-size:31.5px
}

h3{
	font-size:24.5px
}

h4{
	font-size:17.5px
}

h5{
	font-size:14px
}

h6{
	font-size:11.9px
}

h1 small{
	font-size:24.5px
}

h2 small{
	font-size:17.5px
}

h3 small{
	font-size:14px
}

h4 small{
	font-size:14px
}

.page-header{
	padding-bottom:9px;
	margin:20px 0 30px;
	border-bottom:1px solid #eee
}

ul,ol{
	padding:0;
	margin:0 0 10px 25px
}

ul ul,ul ol,ol ol,ol ul{
	margin-bottom:0
}

li{
	line-height:20px
}

ul.unstyled,ol.unstyled{
	margin-left:0;
	list-style:none
}

ul.inline,ol.inline{
	margin-left:0;
	list-style:none
}

ul.inline>li,ol.inline>li{
	display:inline-block;
	*display:inline;
	padding-right:5px;
	padding-left:5px;
	*zoom:1
}

dl{
	margin-bottom:20px
}

dt,dd{
	line-height:20px
}

dt{
	font-weight:bold
}

dd{
	margin-left:10px
}

.dl-horizontal{
	*zoom:1
}

.dl-horizontal:before,.dl-horizontal:after{
	display:table;
	line-height:0;
	content:""
}

.dl-horizontal:after{
	clear:both
}

.dl-horizontal dt{
	float:left;
	width:160px;
	overflow:hidden;
	clear:left;
	text-align:right;
	text-overflow:ellipsis;
	white-space:nowrap
}

.dl-horizontal dd{
	margin-left:180px
}

hr{
	margin:20px 0;
	border:0;
	border-top:1px solid #eee;
	border-bottom:1px solid #fff
}

abbr[title],abbr[data-original-title]{
	cursor:help;
	border-bottom:1px dotted #999
}

abbr.initialism{
	font-size:90%;
	text-transform:uppercase
}

blockquote{
	padding:0 0 0 15px;
	margin:0 0 20px;
	border-left:5px solid #eee
}

blockquote p{
	margin-bottom:0;
	font-size:17.5px;
	font-weight:300;
	line-height:1.25
}

blockquote small{
	display:block;
	line-height:20px;
	color:#999
}

blockquote small:before{
	content:'\2014 \00A0'
}

blockquote.pull-right{
	float:right;
	padding-right:15px;
	padding-left:0;
	border-right:5px solid #eee;
	border-left:0
}

blockquote.pull-right p,blockquote.pull-right small{
	text-align:right
}

blockquote.pull-right small:before{
	content:''
}

blockquote.pull-right small:after{
	content:'\00A0 \2014'
}

q:before,q:after,blockquote:before,blockquote:after{
	content:""
}

address{
	display:block;
	margin-bottom:20px;
	font-style:normal;
	line-height:20px
}

code,pre{
	padding:0 3px 2px;
	font-family:Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size:12px;
	color:#333;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}

code{
	padding:2px 4px;
	color:#d14;
	white-space:nowrap;
	background-color:#f7f7f9;
	border:1px solid #e1e1e8
}















.popover-title{
	padding:8px 14px;
	margin:0;
	font-size:14px;
	font-weight:normal;
	line-height:18px;
	background-color:#f7f7f7;
	border-bottom:1px solid #ebebeb;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0
}

.popover-title:empty{
	display:none
}

.popover-content{
	padding:9px 14px
}

.popover .arrow,.popover .arrow:after{
	position:absolute;
	display:block;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid
}

.popover .arrow{
	border-width:11px
}

.popover .arrow:after{
	border-width:10px;
	content:""
}

.popover.top .arrow{
	bottom:-11px;
	left:50%;
	margin-left:-11px;
	border-top-color:#999;
	border-top-color:rgba(0,0,0,0.25);
	border-bottom-width:0
}

.popover.top .arrow:after{
	bottom:1px;
	margin-left:-10px;
	border-top-color:#fff;
	border-bottom-width:0
}

.popover.right .arrow{
	top:50%;
	left:-11px;
	margin-top:-11px;
	border-right-color:#999;
	border-right-color:rgba(0,0,0,0.25);
	border-left-width:0
}

.popover.right .arrow:after{
	bottom:-10px;
	left:1px;
	border-right-color:#fff;
	border-left-width:0
}

.popover.bottom .arrow{
	top:-11px;
	left:50%;
	margin-left:-11px;
	border-bottom-color:#999;
	border-bottom-color:rgba(0,0,0,0.25);
	border-top-width:0
}

.popover.bottom .arrow:after{
	top:1px;
	margin-left:-10px;
	border-bottom-color:#fff;
	border-top-width:0
}

.popover.left .arrow{
	top:50%;
	right:-11px;
	margin-top:-11px;
	border-left-color:#999;
	border-left-color:rgba(0,0,0,0.25);
	border-right-width:0
}

.popover.left .arrow:after{
	right:1px;
	bottom:-10px;
	border-left-color:#fff;
	border-right-width:0
}

.thumbnails{
	margin-left:-20px;
	list-style:none;
	*zoom:1
}

.thumbnails:before,.thumbnails:after{
	display:table;
	line-height:0;
	content:""
}

.thumbnails:after{
	clear:both
}

.row-fluid .thumbnails{
	margin-left:0
}

.thumbnails>li{
	float:left;
	margin-bottom:20px;
	margin-left:20px
}

.thumbnail{
	display:block;
	padding:4px;
	line-height:20px;
	border:1px solid #ddd;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.055);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.055);
	box-shadow:0 1px 3px rgba(0,0,0,0.055);
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}

a.thumbnail:hover,a.thumbnail:focus{
	border-color:#08c;
	-webkit-box-shadow:0 1px 4px rgba(0,105,214,0.25);
	-moz-box-shadow:0 1px 4px rgba(0,105,214,0.25);
	box-shadow:0 1px 4px rgba(0,105,214,0.25)
}

.thumbnail>img{
	display:block;
	max-width:100%;
	margin-right:auto;
	margin-left:auto
}

.thumbnail .caption{
	padding:9px;
	color:#555
}

.media,.media-body{
	overflow:hidden;
	*overflow:visible;
	zoom:1
}

.media,.media .media{
	margin-top:15px
}

.media:first-child{
	margin-top:0
}

.media-object{
	display:block
}

.media-heading{
	margin:0 0 5px
}

.media>.pull-left{
	margin-right:10px
}

.media>.pull-right{
	margin-left:10px
}

.media-list{
	margin-left:0;
	list-style:none
}

.label,.badge{
	display:inline-block;
	padding:2px 4px;
	font-size:11.844px;
	font-weight:bold;
	line-height:14px;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	white-space:nowrap;
	vertical-align:baseline;
	background-color:#999
}

.label{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}

.badge{
	padding-right:9px;
	padding-left:9px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px
}

.label:empty,.badge:empty{
	display:none
}

a.label:hover,a.label:focus,a.badge:hover,a.badge:focus{
	color:#fff;
	text-decoration:none;
	cursor:pointer
}

.label-important,.badge-important{
	background-color:#b94a48
}

.label-important[href],.badge-important[href]{
	background-color:#953b39
}

.label-warning,.badge-warning{
	background-color:#f89406
}

.label-warning[href],.badge-warning[href]{
	background-color:#c67605
}

.label-success,.badge-success{
	background-color:#468847
}

.label-success[href],.badge-success[href]{
	background-color:#356635
}

.label-info,.badge-info{
	background-color:#3a87ad
}

.label-info[href],.badge-info[href]{
	background-color:#2d6987
}

