.mgauto {width:1024px; min-height:600px; margin:auto; }
.lgoojninf {width:100%; height:120px; float:left;  margin-top:80px;}
.lhgaut {width:280px; height:120px; margin:auto; background-image:url(../img/inlgrod.png); background-repeat:no-repeat;}
.onjtxt { text-align:center; font-size:13pt; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; margin-top:-30px;}
.dviderpnkcolo {width:25%; height:5px; float:left; }
.sdidnavadm {width:100%; height:37px; float:left; background-image:url(../img/rial.png);}
.nvsuperiorcent {width:1024px; height:37px; margin:auto;}
.mnlgotxt {width:1024px; height:72px; float:left; margin-top:20px;}
.lllhhg {width:231px; height:72px; float:left; background-image:url(../img/ifpaiclei.png);}
.pnctx {font-family:Arial, Helvetica, sans-serif; font-size:20pt; color:#FFFFFF; float:right; margin-top:25px; margin-right:20px; }
.navcimadminf {width:100%; height:114px; float:left; background-image:url(../img/sddyui.png); background-repeat:repeat-x;}
.nvctgmagin {width:1024px; height:114px; margin:auto; }
.lghjpncl {width:221px; height:79px; float:left; background-image:url(../img/lgpnecl.png);}
.ladpnsaior {min-width:100px; height:20px; float:right; margin-top:20px;}
.uhgttxt {font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; color:#336699; font-size:11pt;}
.mgautcetrarla {width:1024px; min-height:400px; float:left; background-color:#FFFFFF;}
.sdnavesqingf {width:237px; min-height:380px; float:left;  margin-top:20px; background-color:#CCCCCC; margin-left:10px;}
.sdnavesqingfdt {width:236px; min-height:380px; float:left;  background-color:#FFFFFF; }
.ttlstitleaseadm {width:100%; height:24px; float:left; background-color:#d9d9d9;}
.ttlstitleaseadmyu {width:100%; height:24px; float:left; margin-top:5px;  }
.icnjhgt {width:18px; height:24px; float:left; margin-left:5px;}
.kkjuytxt {font-size:9pt; color:#333333; font-family:Arial, Helvetica, sans-serif; margin-top:4px; margin-left:5px; float:left;}
.laddcntopd {width:755px; min-height:370px; float:left; margin-top:20px; margin-left:10px;}
.bttyon {width:139px; height:108px; float:left; background-image:url(../img/bhgui.png); background-repeat:repeat-x; border: 1px solid #CCC; }
.bttyon:hover {width:139px; height:108px; float:left; background-image:url(../img/bhgui.png); background-repeat:repeat-x; border: 1px solid #999999;}
.iccnpoh {width:96px; height:71px; background-image:url(../img/IC1.jpg); background-repeat:no-repeat; float:left; margin-left:20px; margin-top:18px;}
.iccnpoh2 {width:96px; height:71px; background-image:url(../img/icny2.png); background-repeat:no-repeat; float:left; margin-left:20px; margin-top:18px;}
.iccnpoh3 {width:96px; height:71px; background-image:url(../img/IC1u.png); background-repeat:no-repeat; float:left; margin-left:20px; margin-top:18px;}
.iccnpoh4 {width:96px; height:71px; background-image:url(../img/yuif.png); background-repeat:no-repeat; float:left; margin-left:20px; margin-top:18px;}
.iccnpoh5 {width:96px; height:71px; background-image:url(../img/RL.png); background-repeat:no-repeat; float:left; margin-left:20px; margin-top:18px;}
.iccnpoh6 {width:96px; height:71px; background-image:url(../img/rlt.png); background-repeat:no-repeat; float:left; margin-left:20px; margin-top:18px;}
.iccnpoh7 {width:96px; height:71px; background-image:url(../img/fncr.png); background-repeat:no-repeat; float:left; margin-left:20px; margin-top:18px;}
.iccnpoh8 {width:96px; height:71px; background-image:url(../img/IC1v.png); background-repeat:no-repeat; float:left; margin-left:20px; margin-top:18px;}
.sdicnhg {width:100%; height:110px; float:left;  }
.navctitseic {width:100%; height:20px; float:left; margin-top:5px;}
.tcxgfido {min-width:50px; height:20px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:8pt; color:#0066CC; margin-left:-3px; }
.enternmesgbovd {width:100%; height:80px; float:left; margin-top:15px;}
.ujhgu { text-align:center; color:#0066CC; font-size:16pt; font-family:Arial, Helvetica, sans-serif;}
.yggjhudd { color:#666666; font-size:9pt; font-family:Arial, Helvetica, sans-serif; float:left; margin-top:1px;}
.jjjuy {text-align:center; color:#006699; margin-top:10px; float:right; font-family:Arial, Helvetica, sans-serif; font-size:8pt;}
.bsnavin {width:680px; height:24px; float:left; background-color:#FFFFFF; border: 1px solid #CCC; margin-left:10px;}
.invltst {width:24px; height:24px; float:left;  border: 1px solid #CCC;}
.invltst:hover {width:24px; height:24px; float:left; background-color:#FF9900;  border: 1px solid #CCC;}
.ijhhg {width:22px; height:22px; float:left; background-image:url(../img/sghj.png); }
.ijhhg:hover {width:22px; height:22px; float:left; background-image:url(../img/sghj2.png); }
.ijhhg2 {width:22px; height:22px; float:left; background-image:url(../img/sghjY.png); }
.ijhhg2:hover {width:22px; height:22px; float:left; background-image:url(../img/sghj23.png); }
.ijhhg3 {width:22px; height:22px; float:left; background-image:url(../img/sghj234.png); }

.icftppp {width:16px; height:22px; float:left; background-color:#00CC66; margin-left:5px;}
.adtgxt { font-family:Arial, Helvetica, sans-serif;  color:#0066FF; margin-top:3px; float:left; margin-left:5px;  }
.nsbcxuf {width:1005px; height:25px; float:left; background-color:#f5f6f7; margin-left:10px;  margin-top:10px; border: 1px solid #CCC;}
.sdnvjjhfg {min-width:30px; height:20px;  float:left;}
.jjuhfhg { float:left; margin-top:4px; margin-left:5px; font-family:Arial, Helvetica, sans-serif; color:#666666;}
.dividerjjhg {width:1px; height:23px; background-color:#CCCCCC; float:left;}

.snvjjhg {width:1005px; height:25px; float:left; margin-left:10px; background-color:#f5f6f7;  border: 1px solid #CCC;}
.sggskk {width:445px; height:23px; float:left; }
.sggskk:hover { background-color:#EEEEEE;}
.sdivook {width:1px; height:23px;  float:left; background-color:#CCCCCC;}
.uooytxt {color:#666666; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:5px; margin-top:3px;}
.uooytxtf {color:#008080; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:10px; margin-top:3px;}
.cnnhgynf {width:7px; height:23px; float:left; background-image:url(../img/Sigc.png); margin-left:15px;}
.respred {width:100%; min-height:750px; float:left; }
.nmeativuff {width:105px; height:23px; float:left; }
.uooytxtfdd { text-align:center; color:#0066CC; font-family:Arial, Helvetica, sans-serif; margin-top:5px;}
.shhdjjyl {width:100%; min-height:1150px; float:left; background-color:#009933;}
.nvcemif {width:100%; height:23px; float:right; background-color:#339999; margin-top:5px;}








.nvmsgwellclm  {width:100%; height:65px; margin-top:20px;  float:left; }

.centralinaa {width:1024px; height:600px; margin:auto;}
.centraldfloat {width:1024px; min-height:600px; float:left;}
.lggcetr { width:100%; height:79px; float:left; margin-top:10px; }
.lguss {width:221px; height:79px; float:left; background-image:url(../img/lgpnecl.png); margin-top:5px; }
.sdcentrg {min-width:100px; height:20px; float:right; }
.txttyu { font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#006699; text-transform:uppercase;}
.cassld {width:100%; min-height:200px; float:left;  margin-top:15px;}

.bcxvnnj  {width:198px; height:198px; float:left; background-image:url(../img/bx01.png); border: 1px solid #EEEEEE;}
.bcxvnnj:hover  { background-image:url(../img/bx001.png); border: 1px solid #CCC;}
.bcxvnnj2  {width:198px; height:198px; float:left; background-image:url(../img/bx02.png); border: 1px solid #EEEEEE;}
.bcxvnnj2:hover  { background-image:url(../img/bx002.png); border: 1px solid #CCC;}
.bcxvnnj3  {width:198px; height:198px; float:left; background-image:url(../img/bx003.png); border: 1px solid #EEEEEE;}
.bcxvnnj3:hover  { background-image:url(../img/bx03.png); border: 1px solid #CCC;}
.bcxvnnj4  {width:198px; height:198px; float:left; background-image:url(../img/bx04.png); border: 1px solid #EEEEEE;}
.bcxvnnj4:hover  { background-image:url(../img/bx004.png); border: 1px solid #CCC;}
.bcxvnnj5  {width:198px; height:198px; float:left; background-image:url(../img/bx05.png); border: 1px solid #EEEEEE;}
.bcxvnnj5:hover  { background-image:url(../img/bx005.png); border: 1px solid #CCC;}
.bcxvnnj6  {width:198px; height:198px; float:left; background-image:url(../img/bx06.png); border: 1px solid #EEEEEE;}
.bcxvnnj6:hover  { background-image:url(../img/bx006.png); border: 1px solid #CCC;}


.ijjcdv {width:100%; height:77px; margin-top:100px; float:left; }
.oiik { text-align:center; font-family:Arial, Helvetica, sans-serif; color:#006699; font-size:11pt;}
.kkooll { font-family:Arial, Helvetica, sans-serif; color:#666666; font-size:11pt; margin-top:5px; float:left;}
.mnsupadm {width:800px; height:58px; float:left; margin-top:10px;} 
.ghhnbcsx {width:128px; height:58px; float:left;}
.ciccn {width:128px; height:43px; float:left; }
.jnvitx {width:100%; min-height:600px; float:left; background-color:#FFFFFF; margin-top:20px;}
.vnavifgoo {width:100%; height:24px; float:left; margin-top:10px; }
.nhalineifo {width:936px; height:24px; float:left; background-color:#FFFFFF; border: 1px solid #CCCCCC; margin-left:10px;}
.rdpnee {width:100%; height:20px; float:left; background-color:#999900;}
.nvescrg {width:1005px; height:43px; float:left; background-image:url(../img/bbd.png); margin-left:10px; margin-top:10px; border-top-left-radius: 8px; border-top-right-radius: 8px;}
.nvescrg2 {width:1005px; height:86px; float:left; background-image:url(../img/ssdd.png); margin-left:10px; margin-top:10px; border-top-left-radius: 8px; border-top-right-radius: 8px;}
.nvvvenhl {width:1005px; height:32px; float:left; background-image:url(../img/bgone.png); border: 1px solid #EEEEEE; margin-left:10px; }
.nvvvenhl:hover { background-image:url(../img/llo.png);}
.njfttle { min-width:640px; height:32px;  float:left; margin-left:10px; }
.tctitleancapro { font-family:Arial, Helvetica, sans-serif; font-size:10pt; color:#666666; float:left; margin-top:8px; }
.neiconkkjd {width:19px; height:29px; float:left; }
.vernnj {min-width:80px; height:29px; float:left; }
.nnjhh {width:19px; height:29px; float:left; }
.buttctgr {width:58px; height:80px; margin-top:5px; float:left; border: 1px solid #f5f6f7;}
.buttctgr:hover { background-color:#e8eff7; border: 1px solid    #77D2FF;}
.icbtne {width:58px; height:46px; float:left;}
.tcgh {width:100%; height:35px; float:left; }
.txbbt { font-family:Arial, Helvetica, sans-serif; color:#333333; font-size:8pt; text-align:center;}
.dividerow {width:1px; height:70px; float:left; background-color:#CCCCCC; margin-top:10px;}
.slerh {width:180px; height:80px; float:left; margin-left:10px; margin-top:5px;}
.bghorz {width:100%; height:20px; float:left;  margin-top:5px;}
.yconbt {width:27px; height:20px; float:left;}
.tcgoo { font-family:Arial, Helvetica, sans-serif; font-size:9pt; float:left; margin-top:3px; color:#666666; }








