@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);


body {  }

.sidebaranciante {width:100%; height:82px; float:left; background-image:url(../img/nhab.png);}
.sidcentro {width:1000px; height:72px; margin:auto;}
.logotp {width:280px; height:72px; background-repeat:no-repeat; margin:auto; background-image:url(../img/ifpaiclei.png); margin-top:2px;}

.sidbaropcoescliet {width:100%; height:50px; float:left; background-image:url(../img/sidpain.png); background-repeat:repeat-x;}
.sidbaropcoesclietdt {width:1000px; height:50px; margin:auto;}
.mennuuser {min-width:80px; height:49px; float:left;  margin-left:20px; }

.icmnu {width:18px; height:50px; float:left; }
.sitctro {width:1000px; min-height:400px;  margin:auto; background-color:#FFF;}
.nav-aviso {width:990px; height:80px; float:left; background-color:#dd4b39; margin-top:17px; margin-left:5px; -webkit-border-radius: 8px;
-moz-border-radius: 8px; border-radius: 8px;}
.navdesgstat {width:6px; height:80px; float:left; background-color:#C03; -webkit-border-top-left-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-bottomleft: 8px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;}

.txtsttus {width:960px; height:60px; float:left; margin-left:10px; margin-top:10px;}
.ttlepainel {width:100%; height:40px; float:left; margin-top:10px;}
.nvboxstat {width:100%; height:119px; float:left; margin-top:10px;}
.bxst {width:228px; height:119px; float:left; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.nmberancio {width:85px; height:45px; float:left; margin-top:25px; margin-left:40px;}
.dvnme {width:228px; height:15px; float:left; margin-top:27px;}
.bxst2 {width:228px; height:119px; float:left; margin-left:28px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.nmberancio2 {width:85px; height:45px; float:left; margin-top:10px; margin-left:10px;}
.dvnme2 {width:140px; height:15px; float:left; margin-top:1px;}
.gerof {width:228px; height:15px; float:left; margin-top:26px;}

.sttsanuncios { width:995px; min-height:88px; float:left; background-color:#DADADA; margin-top:25px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.sidttleanc {width:993px; height:33px; float:left; background-color:#FFF; margin-left:1px; margin-top:1px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.tpsv {min-width:100px; height:20px; float:left; margin-top:7px;}

.anuncstat {width:995px; height:52px; float:left; background-color:#f9f9f9; border: 1px solid  #CCCCCC;  }

.bxnmesv {width:380px; height:40px; float:left; margin-left:10px; margin-top:5px;}

.bxnmesv2 {width:70px; height:40px; float:left; margin-left:10px; margin-top:5px;}




.bxdescdados {width:100%; height:300px; float:left;  margin-top:17px;}

.bxdads {width:539px; height:258px; float:left; background-color:#DADADA; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.sdtxs {width:537px; height:40px; float:left;  background-color:#FFF; margin-left:1px; margin-top:1px; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.sddts {width:537px; height:215px; float:left; background-color:#FFF; margin-top:1px; margin-left:1px; -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.snme {width:100%; height:25px; float:left; margin-top:18px;}
.snme2 {width:100%; height:25px; float:left; margin-top:5px;}
.bxatulizdads {width:177px; height:35px; float:right; background-color:#CCC; margin-right:15px; -webkit-border-radius: 3px;
-moz-border-radius: 3px; border-radius: 3px;}
.bxatulizdads2 {width:175px; height:33px; float:right; background-color:#FFF; margin-right:1px; margin-top:1px; -webkit-border-radius: 3px;
-moz-border-radius: 3px; border-radius: 3px;}
.icv {width:23px; height:23px; float:left; background-image:url(../img/pnc.jpg); margin-top:5px; margin-left:5px;}
.bxads {width:336px; height:280px; float:right; margin-right:10px;}
.separcont {width:100%; height:30px; float:left; }

.bsxico {width:20px; height:18px; float:left;}
.promopnel {width:520px; height:170px; float:left; background-image:url(../img/fcl.jpg); margin-left:8px;}


.bxtipanunci {width:993px; min-height:500px; float:left;  margin-top:30px;}

.adsprm {width:993px; height:90px; float:left; margin-top:15px;}
.adsprmcd {width:728px; height:90px; float:left; background-color:#F2F2F2;}
.tpbxpla {width:993px; height:85px; float:left; }
.bxprce {width:993px; height:297px; float:left; }
.ribinf {width:187px; height:297px; float:left;  margin-left:22px; background-color:#E2E2E2;}
.ribinfdt {width:187px; height:295px; float:left;  margin-left:1px; margin-top:1px; background-image:url(../img/bhg.png);}

.ribinf2 {width:187px; height:297px; float:left;  background-color:#E2E2E2;}
.ribinfdt2 {width:187px; height:295px; float:left;  margin-left:1px; margin-top:1px; background-image:url(../img/bhg.png);}

.blxname {width:187px; height:85px; margin-left:1px; float:left; margin-left:22px;}
.blxname2 {width:187px; height:80px; margin-left:1px; margin-top:5px; float:left;  -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}

.blxname3 {width:187px; height:85px; margin-left:1px; float:left; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}

.bxttleplan {width:100%; height:35px; float:left; margin-top:12px;}
.valuer {width:100%; height:90px; float:left; margin-top:-5px;}

.mnsais {width:100%; height:15px; float:left; margin-top:-20px;}
.pgsgroico {width:186px; height:60px; float:left; background-image:url(../img/pgsr.jpg); margin-top:3px;}
.ouvlue {width:100%; height:20px; float:left; margin-top:5px;}
.btcontr {width:186px; height:59px; float:left; position:relative; z-index:1000; background-image:url(../img/ctt1.png); margin-top:14px; }
.btcontr2 {width:186px; height:59px; position:relative; z-index:1000; float:left; background-image:url(../img/ctt2.png); margin-top:111px; }
.tblepla {width:937px; height:30px; float:left; background-color:#E6E6E6; margin-left:22px;}
.tblepladt {width:935px; height:28px; float:left; background-color:#FFF; margin-left:1px; margin-top:1px;}
.tblebe {width:185px; height:28px; float:left; background-color:#FFF;}
.tblebesepar {width:1px; height:28px; float:left; background-color:#E6E6E6;}
.tblebe2 {width:187px; height:28px; float:left; background-color:#FFF;}
.tblebesepar2 {width:1px; height:28px; float:left; background-color:#E6E6E6;}
.invxs {width:27px; height:19px; float:left; margin-left:80px; margin-top:5px;}

.ribprom {width:110px; height:109px; float:left; background-image:url(../img/bh.png); margin-left:38px; margin-top:-62px;}

.girll {width:283px; height:247px; float:left; background-image:url(../img/girl.png); position:relative; z-index:100;}
.vintagge {width:937px; min-height:220px; float:left; margin-left:20px; margin-top:20px;}
.txtpqinfo {width:100%; height:50px; float:left;}

.ttlepq {width:100%; height:35px; float:left; margin-top:20px;}
.ttlepq2 {width:100%; height:35px; float:left; margin-top:-25px;}
.icttlq {width:35px; height:35px; float:left; background-image:url(../img/smtv.png);}

.cxmsg {width:937px; min-height:50px; float:left; background-color:#E6E6E6;  margin-top:10px; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.btcxmsg {width:935px; height:44px; float:left; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px; border-top-left-radius: 5px;  border-top-right-radius: 5px; margin-left:1px; background-image:url(../img/sdbxmsg.png); }
.bxinfmsg1 {width:935px; height:30px; float:left;  margin-top:1px; margin-left:1px; background-image:url(../img/bgone.png);}
.bxinfmsg2 {width:935px; height:30px; float:left;  margin-top:1px; margin-left:1px;}
.sprbton {width:100%; height:1px; float:left; background-color:#E6E6E6;}
.icon-newmail {width:30px; height:30px; float:left; background-image:url(../img/newma.png); margin-left:10px;}
.icon-mailido {width:30px; height:30px; float:left; background-image:url(../img/mailid.png); margin-left:10px;}
.remeteent {min-width:200px; height:20px; float:left; margin-top:5px; margin-left:10px;}
.malls {min-width:180px; height:20px; float:left; margin-top:5px; margin-left:10px;}
.brevmsg {min-width:200px; height:20px; float:left; margin-top:5px; margin-left:10px;}
.btnexcmsg {width:90px; height:18px; float:right; margin-top:5px;}
.iconbtnexcmsg {width:20px; height:18px; float:left; background-image:url(../img/ext.png);}
.txtvisto {color:#999; font-family:arial; font-size:10pt;}
.txtnvo {color:#09C; font-family:arial; font-size:10pt;}
.bgcomplex {width:935px; min-height:50px; float:left; background-image:url(../img/comple.png); margin-left:1px;}
.bxmsgiw {width:935px; min-height:300px; float:left; background-color:#FFF; margin-left:1px; margin-top:1px;}
.btvolta {width:72px; height:29px; float:left; background-image:url(../img/vlt.png); margin-top:9px; margin-left:10px;}
.bteclui {width:72px; height:29px; float:left; background-image:url(../img/exc.png); margin-top:9px; margin-left:5px;}
.btresp {width:72px; height:29px; float:left; background-image:url(../img/resp.png); margin-top:9px; margin-left:5px;}
.navuserdescbv {width:100%; height:60px; float:left; background-image:url(../img/sdnva.png); margin-top:10px; }
.ftnavuser {width:32px; height:60px; float:left; background-image:url(../img/uss.png); margin-left:11px; }
.bxnmeusumail {width:374px; height:60px; float:left; margin-left:10px;  }
.navdtenvio {width:250px; height:50px; float:right;  margin-top:1px;}
.navdtenviophon {width:250px; height:20px; float:right; margin-top:5px;}
.icnphene {width:20px; height:20px; float:left; background-image:url(../img/phnico.png);}
.bxnmeusunme {width:374px; height:18px; float:left; margin-top:2px;  }
.bxnmeusunme2 {width:374px; height:18px; float:left; margin-top:1px;  }
.linespra {width:100%; height:1px; float:left; background-color:#E0E0E0;}
.contmsagem {width:100%; min-height:100px; background-color:#FFF; float:left;}
.bngform {width:100%; min-height:600px; float:left; background-color:#FFF;}
.bngformlaesq {width:700px; min-height:600px; float:left; margin-left:10px;}
.bngformlaesq1 {width:700px; min-height:600px; float:left; margin-left:10px; position:relative; z-index:100;}
.bngformlaesq2 {width:700px; min-height:600px; float:left; margin-left:10px;}
.separrei {width:100%; height:20px; float:left;}

.mulaedirr {width:385px; height:390px; float:right;  background-image:url(../img/mul.jpg); margin-right:-200px; margin-top:-100px;}

.txpabenvd {width:510px; height:400px; float:left;}

















.rodape {width:100%; height:250px; float:left; background-image:url(../img/cty-rod2.jpg);}
.rodape-amar {width:1000px; height:250px; margin:auto; }
.bx-rod {width:280px; height:250px; float:left;  margin-left:20px; }
.inlgo {width:280px; height:100px; background-image:url(../img/inlgrod.png); float:left; margin-top:15px;}
.tit-ses-rod {width:100%; height:30px; float:left; margin-top:40px;}
.bx-rod2 {width:300px; height:230px; float:left;  margin-left:50px; }
.red-social {width:100%; height:25px; float:left; }
.bxrdsoci {width:25px; height:25px; float:right; margin-right:5px;}














/*LINHA DO TEMPO PARA CRIAÇÃO*/
.bs-wizard {margin-top: 40px;}


.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #0099ff; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #40b9fe; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #0099ff;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }






.jhuyghu {width:230px; height:90px; float:right; background-image:url(../img/most.png);}




