.sepraescond {width:100%; height:116px; float:left; }

.nvetitlsessao {width:1000px; height:96px; float:left;}
.sidnavsessaomenu {width:100%; height:43px; float:left; background-image:url(../img/sdenvses.png); background-repeat:repeat-x;}
.mnusidsess {width:100%; height:25px; float:left; margin-top:3px;}
.mnulist {width:100px; height:20px; float:left; margin-left:10px; margin-top:3px;}
.sprnbbv {width:1px; height:25px; float:left; margin-left:10px; background-color:#CCC;}
.baresqbancnt {width:507px; min-height:300px; float:left;  margin-left:8px; margin-top:5px;}
.barmeiooi {width:230px; min-height:300px; float:left;  margin-left:8px; margin-top:5px;}
.bardirigh {width:230px; min-height:300px; float:left;  margin-left:8px; margin-top:5px;}
.bannerpromo {width:507px; height:379px; float:left; }
.ttledestcmei {width:100%; height:35px; float:left; }
.lnecolts {width:100%; height:2px; float:left; background-color:#09C;}
.bxdestq {width:100%; height:180px; float:left; background-color:#E1E1E1; margin-top:10px;}
.xbspret {width:100%; height:60px; float:left; background-image:url(../img/bnha.png); margin-top:120px;}
.ttleey {width:100%; height:15px; float:left; }
.brevvdescr {width:100%; height:32px; float:left;  margin-top:5px;}
.spractrado {width:100%; height:30px; float:left; }
.adstileses {width:468px; height:69px; float:right; margin-top:14px; margin-right:14px;}
.bxdirdestqi {width:100%; height:357px; float:right; }
.ctitly {min-width:80px; height:26px; float:left; }
.bxtxtdescmai {width:100%; height:80px; float:left; background-color:#484747; margin-top:251px;}
.latstfeart {width:100%; height:49px; float:left; background-color:#09C; margin-top:15px;}
.latstfeartdt {width:100%; height:46px; float:left; background-color:#FFF;}
.bxsdstrresp {width:100%; min-height:200px; float:left; margin-top:10px;}
.adsfeartdt {width:100%; height:69px; float:left; margin-top:10px;}
.bxsdstrresphtl {width:100%; height:150px; float:left; margin-top:15px; }
.ftobxsdstrresphtl {width:184px; height:150px; float:left; }
.ftobxsdstrresphtlfto {width:184px; height:131px; float:left;  margin-top:10px;}
.txtdscpromu {width:305px; height:131px; float:left;  margin-top:10px; margin-left:10px;}
.txtdscpromutitle {width:100%; height:20px; float:left; }
.bredescryy {width:100%; height:70px; float:left;}
.starsdhotl {width:100%; height:18px; float:left;  margin-top:5px;}
.starsdhotlstre {width:18px; height:18px; float:left; }
.shddynh {width:100%; height:12px; float:left; background-image:url(../img/sgd.png);}
.tdsbxess {width:779px; min-height:272px; float:left; margin-left:10px; margin-top:6px;}
.bxrpril {width:232px; height:317px; float:left; margin-top:10px;  margin-left:23px; border-color: #FFF; border-width: 1px; border-style: solid;}
.bxrpril:hover {background-color:#F2F2F2; border-color:#D6D6D6; border-width: 1px; border-style: solid;}
.bxrpril2 {width:232px; height:317px; float:left; background-color:#030; margin-left:26px; }
.bxrprilbxfot {width:230px; height:165px; float:left; background-color:#06F;}
.bxrprilbxtitl {width:100%; height:25px; float:left; background-image:url(../img/bg-2-.jpg);}
.bxrprilbxtxtdes {width:100%; height:90px; float:left;}
.bxrprilbxclick {width:100%; height:35px; float:left;}
.bxrprilbxclickicn {width:35px; height:35px; float:left; background-image:url(../img/ingl.png); margin-left:60px;}
.bxrprilbxclickvermas {width:85px; height:23px; float:left; margin-top:5px;}
.priceopco {min-width:90px; height:25px; float:left; background-color:#F33; margin-top:-165px;}
.adstilesesprominf {width:250px; height:71px; float:left; background-image:url(../img/dxprom.jpg); margin-top:13px; margin-left:20px;}
.adssessoes {width:190px; height:598px; margin-top:15px; float:left; }
.bxmeiiphts {width:241px; min-height:300px; float:left;}
.bxmeiidescttxt {width:528px; min-height:440px; float:left; background-color:#0a97d9; margin-left:10px;}
.txtdtbxmeiidescttxt {width:528px; min-height:440px; float:left; background-color:#F90; margin-left:10px;}
.bxmeiidescttxtdt {width:523px; min-height:440px; float:left; background-color:#FFF; margin-left:5px;}
.dessctxtoif {width:100%; min-height:200px; float:left; }
.navaprescontud {width:100%; height:55px; float:left; background-color:#0a97d9; -webkit-border-top-left-radius: 15px; -webkit-border-top-right-radius: 15px;
-moz-border-radius-topleft: 15px; -moz-border-radius-topright: 15px;
border-top-left-radius: 15px; border-top-right-radius: 15px;}

.botvoltarsess {width:70px; height:55px; float:left; background-color:#F66;}
.bxclassfcao {width:140px; height:55px; float:left;  margin-left:15px;}
.txxxttribu {width:100%; height:20px; float:left; margin-top:8px;}
.starsirs {width:100%; height:14px; float:left; margin-top:3px;}
.strrgui {width:14px; height:14px; float:left;}
.pngdetal {width:14px; height:55px; float:left; background-image:url(../img/det.png); margin-top:13px; margin-left:21px; position:relative; z-index:50;}


.bxtilnmeinfoer {width:495px;  height:55px; float:left; margin-left:10px;}
.lcaldst {width:100%; height:30px; float:left; margin-top:5px;}
.icnlvcal {width:9px; height:12px; margin:auto; background-image:url(../img/gppps.png);}
.titulsessaooo {width:100%; height:75px; float:left;  margin-top:10px;}

.onffik {width:520px; height:350px; float:left; background-color:#E6E6E6; margin-left:5px; margin-top:10px;}
.sidondfik {width:100%; height:30px; float:left; margin-top:25px; }
.endinfrop {width:100%; height:20px; float:left; margin-top:5px;}

.atribts {width:100%; min-height:35px; float:left; background-color:#cdd9d9; margin-top:10px;}


.atribtsnve {width:100%; min-height:36px; float:left; background-image:url(../img/nvsdtrib.png); background-repeat:repeat-x;}

.seprarrrvnv {width:100%; height:1px; float:left;}
.icnests {width:17px; height:36px; float:left; margin-left:10px;}
.prent {width:130px; height:20px; float:left; margin-top:8px; margin-left:5px;}
.vlueer {width:70px; height:20px; float:left; margin-top:8px; }
.difrencatrib {width:508px; min-height:46px; float:left; margin-left:15px;}
.princpcmdd {width:100%; height:23px; float:left; }
.icnsesprincmd {width:18px; height:23px; float:left;}
.sdtrpb {width:100%; height:17px; float:left; margin-top:5px; }
.sdndest {width:252px; height:17px;  float:left; }
.bticny {width:16px; height:17px; float:left; background-image:url(../img/vflw.png);}
.bticnydest {width:230px; height:17px; float:left; }








