﻿@import url(https://fonts.googleapis.com/css?family=Istok+Web);
.babybgnh {width:100%; min-height:457px; float:left; background-color:#FFF; border: 1px solid  #d7d7d7; margin-top:-5px; }
.babtitlses {width:180px; height:40px; float:left; background-color:#22a8f0; border-radius: 4px; margin-top:20px;}
.babtitlses2 {width:225px; height:40px; margin-left:3px; float:right; background-color:#22a8f0; border-radius: 4px; }
.btififng {width:700px; height:40px;  float:right; margin-top:20px; }
.yooj { text-align:center; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:11pt; margin-top:8px;}
.nykct {width:100%; min-height:457px; float:left; background-image:url(../img/mulpro.jpg);   }
.ladifbbo {width:521px; height:285px; float:right;  margin-top:10px; margin-right:10px;}
.yuujnb { font-size:30pt; color:#F93; text-align:center; font-family: 'Istok Web', sans-serif; margin-left:100px;}
.ttlejjik {width:100%; height:49px; float:left; margin-top:50px; }
.yhuyu {  font-size:25pt; font-family: 'Ubuntu', sans-serif; color:#39bac4; float:left; margin-left:23px;}
.yhuyu2 {  font-size:32pt;  font-family: 'Ubuntu', sans-serif; color:#09C; float:left; margin-top:-6px; margin-left:5px;}
.iuujhyw { font-size:11pt;  color:#666; text-align:center; margin:20px; }
.bltissano {width:238px; height:52px; float:right; margin-right:-18px; background-image:url(../img/isr.png); margin-top:10px;}
.adspromoutrherwe {width:285px; height:89px; float:right; }
.adsprmr {width:100%; height:89px; float:left; margin-top:10px;}
.icysdl {width:36px; height:35px; float:left;}
.sprkkjd {width:1px; height:35px; float:left; }
.uuype {min-width:35px; height:35px; float:left; margin-left:5px;}
.cgtralin { font-family:Arial, Helvetica, sans-serif; font-size:14pt; margin-top:5px; color:#FFFFFF; text-align:center;}
.lclsd { font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:12pt;  }
.nmvbbj {min-width:50px; height:35px; float:left;  margin-left:10px;}
.kkjjhuh { color:#FFFFFF; font-size:10pt; font-family:Arial, Helvetica, sans-serif; margin-top:9px; float:left;}
.sindun {width:100%; height:30px; float:left; background-image:url(../img/siun.png); background-repeat:repeat-x;}
.shnbag {width:100%; height:2px; float:left; background-image:url(../img/sib.png); background-repeat:repeat-x;}
.ladodosannciosss {width:759px; min-height:110px; float:left;   margin-left:10px;}
.ancifoexed {width:759px; height:110px; float:left; background-color:#f9f9f9; border: 1px solid  #CCC; margin-top:10px;}
.snvertgro {width:4px; height:108px; float:left; background-color:#41cac0; }
.babarindf {width:358px; height:108px; float:left;  margin-left:10px;}
.tithgt {width:100%; min-height:20px; float:left;  margin-top:16px;}
.tithgt2 {width:100%; min-height:20px; float:left;  margin-top:5px;}
.yeyeeh { font-family:Arial, Helvetica, sans-serif; font-size:9pt; color:#336699;}
.patrocfto {width:90px; height:84px; display: flex; float:left; border: 1px solid #CCC;  margin-top:5px; margin-left:5px;   }
.srparygh {width:1px; height:87px; background-color:#CCC; float:left; margin-top:10px;}
.thhietag {width:98px; height:20px; float:left; }
.dvyhhtt {width:100%; min-height:20px; float:left;  margin-top:45px;}
.riramam { font-family:Arial, Helvetica, sans-serif; color:#336699; font-size:9pt; text-align:center;}
.edtexccc {width:66px; height:22px; float:left; }
.ehclalsst {width:234px; height:402px; float:right; margin-right:10px; margin-top:10px; }
.sdbmemmes {width:100%; height:35px; float:left;  margin-top:10px;}
.sdbmemmes2 {width:400px; height:35px; float:left;  margin-top:10px;}
.spaclajjg { font-size:14pt; color:#666; font-family:Arial, Helvetica, sans-serif;}
.dvspspu {width:100%; height:1px; float:left; background-color:#CCC;}
.sdbbo {width:100%; height:70px; float:left; background-image:url(../img/dadan.png); border: 1px solid  #DBDBDB;}
.ccdgfkka {width:72px; height:29px; float:right; margin-top:10px; background-image:url(../img/vlt.png);}
.ccdgfkka:hover {width:72px; height:29px; float:right; margin-top:10px; background-image:url(../img/vlt2.png);}
.ccdgfkkay {width:72px; height:29px; float:right; margin-top:10px; background-image:url(../img/exc.png);}
.ccdgfkkay:hover {width:72px; height:29px; float:right; margin-top:10px; background-image:url(../img/exc2.png);}
.ermmmremt {width:47px; height:47px; float:left; background-image:url(../img/usm.png); margin-top:10px; margin-left:10px;}
.ububrmt {width:350px; height:68px; float:left; margin-left:10px;}
.icrmts { font-size:9pt; color:#336699; font-family:Arial, Helvetica, sans-serif;}
.ladhrari {width:200px; height:67px; float:right; margin-right:10px;}
.dnvpftbne {width:100%; height:20px; float:left; margin-top:15px;}
.chhgjjnns {width:20px; height:20px; float:left;}
.jsgnnbl { font-family:Arial, Helvetica, sans-serif; color:#666; font-size:9pt;}
.msgdesfcgt {width:100%; min-height:171px; float:left;}
.yahusgb {color:#666; font-family:Arial, Helvetica, sans-serif; font-size:10pt; margin:15px;}
.snvbarespmsggg {width:100%; height:150px; float:left; }
.nagkarithai {width:100%; min-height:45px; float:left; background-image:url(../img/bra.png); }

.nsvibmsgmnv {width:757px; height:44px; float:left; margin-top:1px; margin-left:1px;}
.ocucosf {width:27px; height:45px; float:left; margin-left:8px;}
.clashnvsid {width:100%; height:45px; float:left; }

.nvsjtxttsr {width:400px; height:45px; float:left; }
.nvsjtxttsr2 {width:150px; height:45px; float:left; }
.nvsjtxttsr3 {width:100px; height:45px; float:right; margin-right:10px; }
.thrjjjnz {font-family:Arial, Helvetica, sans-serif; color:#666; font-size:10pt;}
.nvsjjrl {width:100%; height:20px; float:left; margin-top:13px; margin-left:5px;}
.huasorai { font-family:Arial, Helvetica, sans-serif; color:#666; font-size:11pt; float:left; margin-left:10px; margin-top:12px;}
.sbvrdivspra {width:100%; height:20px; float:left; }
.barnstpcos {width:285px; min-height:30px; float:left; background-color:#CCC;  margin-left:20px; margin-top:20px;}
.trghllso {width:100%; height:40px; float:left;  background-color:#FFF;}
.hrheeg { color:#09F; font-size:16pt; float:left;}
.hrheeg2 { color:#09F; font-size:20pt; float:left;}
.labhrita {width:100%; height:40px; float:left; background-color:#FFF; margin-top:1px;}
.labhrita:hover {background-color:#F8F8F8; }
.brgtryw {width:14px; height:40px; float:left; background-image:url(../img/lab.png);}
.brgurrebas { font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#36C; float:left; margin-left:5px; margin-top:9px;}
.dladhforvyohg {width:670px; min-height:400px; float:right; margin-right:20px; margin-top:20px;}
.ekanvhd { font-size:10pt; color:#666666; font-family:Arial, Helvetica, sans-serif;}








form input[type="text"], 
form input[type="email"], 
form input[type="number"], 
form input[type="password"],
textarea {
  background: #fff;
  border: 1px solid #ddd;
  padding: 12px 15px;
}


#contactform textarea,
#contactform input {
  width: 100%;
}

#contactform textarea {
  min-height: 100px;
}

#contactform input.mainBtn {
  border: 0;
  outline: 0;
  padding: 12px;
  color: #fff;
  background: #2a80b9;
}
