{% if anuncios %}

	{% for anuncio in anuncios %}
		
		<!-- anuncio -->
		<div class="ancifoexed"> 
			<div class="snvertgro"> </div>
			<!-- imagem do anuncio -->
			<div style="margin-top:12px; margin-left:12px;" class="patrocfto"> 
				<div class="patrocftbs">
					{% if anuncio.imagem1 %}
						<img class="patrocftodt" style="display:inline;" src="/media/{{anuncio.imagem1}}">
					{% else %}
						<img class="patrocftodt" style="display:inline;" src="/static/img/semfoto.png"/>
					{% endif %}
				</div>
			</div>
			<div class="babarindf"> 
				<div class="tithgt"> 
					<span class="yeyeeh">
						<strong> <a target='blank' title='visualizar anuncio' href="/anuncio/ver_anuncio/{{anuncio.id}}">{{anuncio.titulo}}</a></strong>
					</span>
				</div>

				<div class="tithgt2"> 
					<span style="color:#666;" class="yeyeeh">
						<strong style="color:#336699;">Postado em:</strong>
						 {{anuncio.created_on}}
					</span>
				</div>

				<div style="margin-top:-3px;" class="tithgt2"> 
					<span style="color:#666;" class="yeyeeh">
						<strong style="color:#336699;">Local:</strong>
						{{anuncio.cidade}} - {{anuncio.estado}} </span>
				</div>
			</div>

			<div class="srparygh"> </div>
			<div class="thhietag">
				<div class="dvyhhtt">
					<p class="riramam"> 
						<span>R$</span> {{anuncio.preco}} 
					</p>
				</div>
			</div>
			<div class="srparygh"> </div>
			<div class="thhietag">
				<div class="dvyhhtt">
					<p class="riramam"> 
						{{anuncio.status}}
					</p>
				</div>
			</div>
			
			<div class="srparygh"> </div>

			<a title="Editar anúncio" href="/anuncio/editar_anuncio/{{anuncio.categoria}}/{{anuncio.subcategoria}}/{{anuncio.id}}/">
				<div style="background-image:url(/static/img/edt.png); margin-top:27px; margin-left:9px;" class="edtexccc"> </div>
			</a>

			<a title="Excluir anúncio" href="#">
				<div style="background-image:url(/static/img/edt2.png); margin-left:9px;  margin-top:10px;" class="edtexccc"> </div>
			</a>
		</div>
		<!-- anuncio fim -->

	{% endfor %}

{% else %}

<!-- anuncio -->
<div class="ancifoexed"> 
	<div class="snvertgro"> </div>
	<div class="babarindf"> 
		<div class="tithgt"> 
			<span class="yeyeeh">
				<strong> Você ainda não possue anuncios </strong>
			</span>
		</div>
	</div>
</div>
<!-- anuncio fim -->

{% endif %}
