<a title="Voltar para mensagens" href="#">
	<div class="ccdgfkka"> </div>
</a>

<a title="Excluir mensagem" href="#">
	<div style="margin-right:10px;" class="ccdgfkkay"> </div>
</a>


<!-- nav superior inffo -->
<div class="sdbbo">
	<div style="background-image:url(images/usmm.png);" class="ermmmremt"> </div>
	
	<div class="ububrmt">
		<div style="margin-top:18px;" class="sjskermt"> 
			<span class="icrmts"><strong>Remetente:</strong></span> 
		</div>

		<div style="margin-top:-2px;" class="sjskermt"> 
			<span style="font-size:11pt; color:#666;" class="icrmts">Maria Clara</span> 
		</div>
	</div>

	<div class="ladhrari"> 
		<div class="dnvpftbne"> 
			<div style="background-image:url(images/mma.png);" class="chhgjjnns"> </div>
			<span style="margin-left:3px; color:#336699; float:left; margin-top:2px;" class="jsgnnbl"> <strong>Recebido: </strong></span>
			<span style="margin-left:5px; float:left; margin-top:2px;" class="jsgnnbl">  31 de Dezembro  </span>
		</div>

		<div style="margin-top:2px;" class="dnvpftbne"> 
			<div style="background-image:url(images/phnico.png);" class="chhgjjnns"> </div>
			<span style="margin-left:3px; color:#336699; float:left; margin-top:2px;" class="jsgnnbl"> <strong> Telefone: </strong> </span>
			<span style="margin-left:5px; color:#099; font-size:11pt; float:left; margin-top:-1px;" class="jsgnnbl">
			<strong> 81 9 2457.8547 </strong>  </span>
		</div>
	</div>
</div>      
<!-- fim nav superior inffo -->
<!-- onde aparece o texto da msg -->
<div class="msgdesfcgt">
	<p class="yahusgb">
		Olá, eu tenho um Celta 1.0 2012, interessa a troca com volta minha?
	</p>
</div>
<!-- fim onde aparece o texto da msg -->

<div class="snvbarespmsggg">
	<form name="contactform" id="contactform" action="#" method="post">
		<p>
			<textarea style="font-family:Verdana, Geneva, sans-serif;" name="message" id="message" placeholder="Escreva uma resposta"></textarea>    
		</p>
		<input style=" background-color:#E0750A; font-family: 'Ubuntu', sans-serif; font-size:11pt; border-radius: 3px;" type="submit" class="mainBtn" id="submit" value="ENVIAR RESPOSTA">
	</form>
</div>

</div>
<!-- fim div q lista os anuncios  -->