<!-- bsrsr separa  -->
<div class="nagkarithai"> 
{% if mensagens %}
	{% for mensagem in mensagens %}
	<!-- EXEMPLO DE MSG RECEB  -->
	<div class="clashnvsid">
	<!-- se o email for novo a img será background-image:url(images/ocu.png); se já for lido, será: background-image:url(images/bra2.png); -->
		<div style="background-image:url(images/ocu.png);" class="ocucosf"> </div>
		<div class="nvsjtxttsr"> 
			<!-- titulo da msg  -->
			<div class="nvsjjrl">
				<span class="thrjjjnz">
					<strong>
						<!-- se a msg ja tiver sido lida a cor muda para: color:#999; se for um novo msg q nao foi lido a cor será: color:#39C;   -->
						<a style="color:#999;" href="#">
							{{mensagem.assunto}}
						</a>
					</strong>
				</span>
			</div>
		</div>

		<div class="nvsjtxttsr2"> 
			<div class="nvsjjrl">
				<span class="thrjjjnz">
					14 de Dezembro  
				</span>
			</div>
		</div>

		<div class="nvsjtxttsr3">
			<div style="margin-top:13px;" class="btnexcmsg">  
				<div class="iconbtnexcmsg">  </div>
				<span style="font-family:Arial, Helvetica, sans-serif; font-size:10pt; float:left; margin-left:5px;"> 
					<a title="Excluir esta Mensagem" href="#"><strong> Excluir </strong> </a> </span>
			</div>
		</div>
	</div> 
	<!-- FIM EXEMPLO DE MSG RECEB  -->

	{% endfor %}
{% else %}
	<!-- se nao tiver emails, so aparecerá isso  -->
	<div class="clashnvsid">
		<span class="huasorai">Nada para exibir </span>
	</div>
{% endif %}
</div>