{% if usuarios %}

	{% for usuario in usuarios %}
		
		<!-- usuario -->
		<div class="ancifoexed"> 
			<div class="snvertgro"> </div>
			<!-- imagem do usuario -->
			<div style="margin-top:12px; margin-left:12px;" class="patrocfto"> 
				<div class="patrocftbs">
					{% if usuario.imagem1 %}
						<img class="patrocftodt" style="display:inline;" src="/media/{{usuario.imagem1}}">
					{% else %}
						<img class="patrocftodt" style="display:inline;" src="/static/img/semfoto.png"/>
					{% endif %}
				</div>
			</div>
			<div class="babarindf"> 
				<div class="tithgt"> 
					<span class="yeyeeh">
						<strong> <a target='blank' title='visualizar usuario' href="/usuario/ver_usuario/{{usuario.id}}">{{usuario.first_name}} {{usuario.last_name}}</a></strong>
					</span>
				</div>

				<div class="tithgt2"> 
					<span style="color:#666;" class="yeyeeh">
						<strong style="color:#336699;">cadastrados em:</strong>
						 {{usuario.date_joined}}
					</span>
				</div>

				<div style="margin-top:-3px;" class="tithgt2"> 
					<span style="color:#666;" class="yeyeeh">
						<strong style="color:#336699;">Ultimo Acesso:</strong>
						{{usuario.last_login}} </span>
				</div>
			</div>

			<div class="srparygh"> </div>
			<div class="thhietag">
				<div class="dvyhhtt">
					<p class="riramam"> 
						<span>R$</span> {{usuario.preco}} 
					</p>
				</div>
			</div>
			<div class="srparygh"> </div>
			<div class="thhietag">
				<div class="dvyhhtt">
					<p class="riramam"> 
						{% if usuario.is_active %}
							Ativo
						{% else %}
							Inativo
						{% endif %}
					</p>
				</div>
			</div>
			
			<div class="srparygh"> </div>

			<a title="Editar anúncio" href="/usuario/editar_usuario/{{usuario.categoria}}/{{usuario.subcategoria}}/{{usuario.id}}/">
				<div style="background-image:url(/static/img/edt.png); margin-top:27px; margin-left:9px;" class="edtexccc"> </div>
			</a>

			<a title="Excluir anúncio" href="#">
				<div style="background-image:url(/static/img/edt2.png); margin-left:9px;  margin-top:10px;" class="edtexccc"> </div>
			</a>
		</div>
		<!-- usuario fim -->

	{% endfor %}

{% else %}

<!-- usuario -->
<div class="ancifoexed"> 
	<div class="snvertgro"> </div>
	<div class="babarindf"> 
		<div class="tithgt"> 
			<span class="yeyeeh">
				<strong> Você ainda não possue usuarios </strong>
			</span>
		</div>
	</div>
</div>
<!-- usuario fim -->

{% endif %}
