{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>InfoNegócio Brasil</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{% block css %}
		<link rel="stylesheet" type="text/css" href={% static "css/jquery-ui.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/responsivo.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/master-interna.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/set2.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/ofertabot.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/sessoes-uf.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/master.css" %}>
	{% endblock css %}

	{% block js %}
		<script type="text/javascript" src={% static "js/jquery-1.10.2.min.js" %}></script>
		<script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
		<script type="text/javascript" src={% static "js/autocomplete_cidades.js" %}></script>
		<script type="text/javascript" src={% static "js/jquery-ui.js" %}></script>
		<script type="text/javascript" src={% static "js/slider-guia-cfg/wowslider.js" %}></script>
		<script type="text/javascript" src={% static "js/estados_cidades.js" %}></script>
		<script type="text/javascript" src={% static "js/cidades-estados-1.2-utf8.js" %}></script>
		<script type="text/javascript" src={% static "js/script-galerianunc.js" %}></script>
		<script type="text/javascript" src={% static "js/masked_input.js" %}></script>
	{% endblock js %}

<!-- SLIDER PROMO -->
<style type="text/css">a#vlb{display:none}</style>
<!-- FIM SLIDER PROMO -->

<body style="background-color:#F3F3F3;">
	{% block cabecalho %}
		{% include "bases/cabecalho.html" %}
	{% endblock cabecalho %}
	{% block conteudo %}
	{% endblock conteudo %}
	{% block rodape %}
		{% include "bases/rodape.html" %}
	{% endblock rodape %}
</body>
</html>