{% extends "bases/base_interna.html" %}
{% load staticfiles %}

{% block conteudo %}
<!-- BASE DO CONTEUDO conteudo <!-->
<div  class="basempcnthomecot">
	<div class="spscondd"> </div>
	<div  class="sbvrdivspra"> </div>
	
	<div class="titmefor">
		<p style="color:#FFF; font-family: 'Ubuntu', sans-serif; font-size:33pt; text-shadow: 0 0 3px rgba(0,0,0,.25); margin-top:-10px; text-align:center;">
			Escolha a 
			<span style="color:#FC0; font-family: 'Ubuntu', sans-serif;">
				categoria
			</span>
			do que vai anunciar
		</p>
	</div>

	<!-- baseresp  -->
	<Div style="background:none; border:none; margin-top:10px;" class="babybgnh"> 
		<div  class="ny3kct">
			<div class="lad-avs"> 
				<div style="background-image:url(/static/img/BG-UF/yog.png);" class="yagron"> 
					<div class="bgratx"> 
						<div class="txtitrw">
							<p class="bhjjtz">
								<strong>Títulos e descrição</strong>
							</p>
						</div>

						<p style="font-family:Arial, Helvetica, sans-serif; font-size:9pt;">
							• Descreva detalhadamente o que você está anunciando.
						</p>
					</div>
				</div>
				
				<div style="background-image:url(/static/img/BG-UF/ftt.png); margin-top:5px;" class="yagron">
					<div class="bgratx"> 
						<div class="txtitrw">
							<p class="bhjjtz">
								<strong>Imagens</strong>
							</p>
						</div>

						<p style="font-family:Arial, Helvetica, sans-serif; font-size:9pt;">
							• Fotos originais de ângulos diferentes.
						</p>
					</div>
				</div>

				<div style="background-image:url(/static/img/BG-UF/fa.png); margin-top:5px;" class="yagron"> 
					<div class="bgratx"> 
						<div class="txtitrw">
							<p class="bhjjtz">
								<strong>Propostas</strong>
							</p>
						</div>
						<p style="font-family:Arial, Helvetica, sans-serif; font-size:9pt;">
							• É importante que você responda aos compradores a cada mensagem enviada.
						</p>
					</div>
				</div>
			</div>
			
{% include "menu_categorias.html" %}
		</div>
	</div>
</Div>      
<!-- fim baseresp  -->
<!-- FIM DADS USER, RESUM --> 
<Div class="separcont"> </Div>
</div>
<!-- BASE DO CONTEUDO conteudo <!-->
{% endblock conteudo %}