	<!-- DIFERENCIAIS  -->
	<div class="dncdiccara" >
		<div class="tltleparasua">
			<span class="icsegfradiff"> </span>
			<span class="tltleparasuap">
				<strong style="color:#006699;">Características do Imóvel:</strong>
			</span> 
		</div>

		<!-- caracterists -->
		<div class="carayim"> 
			<div class="icatv"> </div>
			<div class="txtcarar"> 
				<span class="txtyoi">Ar condicionado</span>
			</div>
		</div>

		<!-- caracterists -->
		<div class="carayim"> 
			<div class="icatv"></div>
			<div class="txtcarar"> 
				<span class="txtyoi">Academia</span>
			</div>
		</div>

		<!-- caracterists -->
		<div class="carayim"> 
			<div class="icatv"> </div>
			<div class="txtcarar"> 
				<span class="txtyoi">Armários embutidos</span>
			</div>
		</div>

		<!-- caracterists -->
		<div class="carayim"> 
			<div class="icatv"> </div>
			<div class="txtcarar"> 
				<span class="txtyoi">Varanda</span>
			</div>
		</div>

		<!-- caracterists -->
		<div class="carayim"> 
			<div class="icatv"> </div>
			<div class="txtcarar"> 
				<span class="txtyoi">Área de serviço</span>
			</div>
		</div>

		<!-- caracterists -->
		<div class="carayim"> 
			<div class="icatv"> </div>
			<div class="txtcarar"> 
				<span class="txtyoi">Churrasqueira</span>
			</div>
		</div>

		<!-- caracterists -->
		<div class="carayim"> 
			<div class="icatv"> </div>
			<div class="txtcarar"> 
				<span class="txtyoi">Quarto de empregada</span>
			</div>
		</div>

		<!-- caracterists -->
		<div class="carayim"> 
			<div class="icatv"> </div>
			<div class="txtcarar"> 
				<span class="txtyoi">Piscina</span>
			</div>
		</div>

		<!-- caracterists -->
		<div class="carayim"> 
			<div class="icatv"> </div>
			<div class="txtcarar"> 
				<span class="txtyoi">Salão de festas</span>
			</div>
		</div>

		<!-- caracterists -->
		<div class="carayim"> 
			<div class="icatv"> </div>
			<div class="txtcarar"> 
				<span class="txtyoi">Porteiro 24h</span>
			</div>
		</div>

		<div class="sepctv"></div>
	</div>
	<!-- FIM INFORMACOES -->