{% extends "bases/base_interna.html" %}
{% load staticfiles %}

{% block conteudo %}
<!-- BASE DO CONTEUDO conteudo <!-->
<div  class="basempcnthomecot">
	<div class="spscondd"> </div>
	<div  class="sbvrdivspra"> </div>
	
	<div class="titmefor">
		<p style="color:#FFF; font-family: 'Ubuntu', sans-serif; font-size:33pt; text-shadow: 0 0 3px rgba(0,0,0,.25); margin-top:-10px; text-align:center;">
			Novo anuncio
			<span style="color:#FC0; font-family: 'Ubuntu', sans-serif;">
				{{categoria|upper}}
			</span>
		</p>
	</div>
	
	<!-- baseresp  -->
	<div style="background:none; border:none; margin-top:10px;" class="babybgnh"> 
		<div  class="ny3kct">
			<!-- FORMULARIO EXPANSIVO -->
			<div style="background-color:#FFF;" class="lad-avsform"> 
				<div class="formcentralin"> 
					<div class="sidcateeasco"> </div>
					<form role="form" action='.' method='POST' enctype='multipart/form-data'> 
						<div class="box-body">
							<div>
								<br>
								{% csrf_token %}
								{{form.as_p}}
								<input type="text" class='hide' name="categoria" value={{categoria}}>
								<input type="text" class='hide' name="subcategoria" value={{subcategoria}}>
							</div>
							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-12 col-md-6"><input type="submit" value="Salvar" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
								<div class="col-xs-12 col-md-6"><a href="/painel" class="btn btn-success btn-block btn-lg">Cancelar</a></div>
							</div>
						</div>
					</form>
				</div>
			</div>
<!-- FIM FORMULARIO EXPANSIVO -->

</ul>
</div>
</div>
</Div>      
<!-- fim baseresp  -->
<!-- FIM DADS USER, RESUM --> 

<Div class="separcont"> </Div>

</div>
<!-- BASE DO CONTEUDO conteudo <!-->
</div>
{% endblock conteudo %}