<!-- BX MAIS INFORMA DO IMOVEL-->
	<div class="bxinfomoyv">
		<div class="bcsxmaisinfmo"> 
			<div class="titlght">
				<span class="txghyt">
					<strong> Mais Informações </strong>
				</span> 
			</div>
			<div class="lnsdd"> </div>
			<div class="bxyatrb"> 
				<div class="cvhyt">
					<span class="txthuy"> Número de quartos: <strong>3</strong></span>
				</div>
				
				<div class="cvhyt">
					<span class="txthuy"> Área útil: <strong>47m²</strong></span>
				</div>

				<div class="cvhyt">
					<span class="txthuy">Vagas na garagem: <strong>1</strong></span>
				</div>

				<div class="cvhyt">
					<span class="txthuy">Condomínio: <strong>R$ 150</strong></span>
				</div>

				<div class="cvhyt">
					<span class="txthuy">IPTU: <strong>R$ 400</strong></span>
				</div>
			</div>
		</div>
	</div>
	<!-- BX MAIS INFORMA -->