			<div style="margin-top:10px;" id='cssmenu'>
				<ul>
					<!-- CATEGORIA -->
					<li class='active has-sub'>
						<a>
							<span class="txtfom">Eletronicos e celulares</span>
						</a>
					<ul>
						<li class='has-sub'>
							<a href='/anuncio_novo/eletronicos_celulares/telefonia'>
								<span class="txtfom">Celulares e telefonia</span>
							</a>
						</li>

						<li class='has-sub'>
							<a href='/anuncio_novo/eletronicos_celulares/videogames'>
								<span class="txtfom">Vídeogames</span>
							</a>	
						</li>

						<li class='has-sub'>
							<a href='/anuncio_novo/eletronicos_celulares/computadores'>
								<span class="txtfom">Computadores e acessórios</span>
							</a>
						</li>

						<li class='last'>
							<a href='/anuncio_novo/eletronicos_celulares/audio_tv_video_fotografia'>
								<span class="txtfom">Audio, Tv, vídeo e fotografia</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- FIM CATEGORIA -->

				<!-- CATEGORIA -->
				<li class='active has-sub'>
					<a>
						<span class="txtfom">Músicas, hobbies e artes</span>
					</a>
					
					<ul>
						<li class='has-sub'>
							<a href='/anuncio_novo/musica_arte_hobbies/instrumentos'>
								<span class="txtfom">Instrumentos musicais</span>
							</a>
						</li>

						<li class='last'>
							<a href='/anuncio_novo/musica_arte_hobbies/musica'>
								<span class="txtfom">Músicas,filmes etc.</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/musica_arte_hobbies/livros_revistas'>
								<span class="txtfom">Livros e revistas</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/musica_arte_hobbies/antiguidades'>
								<span class="txtfom">Antiguidades</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/musica_arte_hobbies/hobbie'>
								<span class="txtfom">Hobbies e coleções</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- FIM CATEGORIA -->  

				<!-- CATEGORIA -->
				<li class='active has-sub'>
					<a>
						<span class="txtfom">Imóveis</span>
					</a>
					
					<ul>
						<li class='has-sub'>
							<a href='/anuncio_novo/imoveis/apartamentos'>
								<span class="txtfom">Apartamentos</span>
							</a>
						</li>
				
						<li class='has-sub'>
							<a href='/anuncio_novo/imoveis/casas'>
								<span class="txtfom">Casas</span>
							</a>
						</li>

						<li class='last'>
							<a href='/anuncio_novo/imoveis/aluguel_quartos'>
								<span class="txtfom">Aluguel de quartos</span>
							</a>
						</li>

						<li class='has-sub'>
							<a href='/anuncio_novo/imoveis/temporada'>
								<span class="txtfom">Temporada</span>
							</a>
						</li>

						<li class='has-sub'>
							<a href='/anuncio_novo/imoveis/terrenos_lotes'>
								<span class="txtfom">Terrenos, sítios e fazendas</span>
							</a>
						</li>

						<li class='last'>
							<a href='/anuncio_novo/imoveis/lojas_salas'>
								<span class="txtfom">Loja, salas e outros</span>
							</a>
						</li>
				
						<li class='has-sub'>
							<a href='/anuncio_novo/imoveis/lancamentos'>
								<span class="txtfom">Lançamentos</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- FIM CATEGORIA --> 

				<!-- CATEGORIA -->
				<li class='active has-sub'>
					<a>
						<span class="txtfom">Veículos e barcos</span>
					</a>
					
					<ul>
						<li class='last'>
							<a href='/anuncio_novo/veiculos/carros'>
								<span class="txtfom">Carros</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/veiculos/caminhoes_onibus'>
								<span class="txtfom">Caminhões, ônibus e vans</span>
							</a>
						</li>
				
						<li class='last'>
							<a href='/anuncio_novo/veiculos/motos'>
								<span class="txtfom">Motos</span>
							</a>
						</li>
				
						<li class='last'>
							<a href='/anuncio_novo/veiculos/barcos'>
								<span class="txtfom">Barcos, lanchas e aviões</span>
							</a>
						</li>

						<li class='last'>
							<a href='/anuncio_novo/veiculos/veiculos_pecas_acessorios'>
								<span class="txtfom">Peças e acessórios</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- FIM CATEGORIA -->

				<!-- CATEGORIA -->
				<li class='active has-sub'>
					<a>
						<span class="txtfom">Moda e Beleza</span>
					</a>
					<ul>
						<li class='has-sub'>
							<a href='/anuncio_novo/moda_beleza/roupas_calcados'>
								<span class="txtfom">Roupas e calçados</span>
							</a>
						</li>

						<li class='last'>
							<a href='/anuncio_novo/moda_beleza/bijout'>
								<span class="txtfom">Bjouterias e acessórios</span>
							</a>
						</li>
				
						<li class='last'>
							<a href='/anuncio_novo/moda_beleza/beleza_saude'>
								<span class="txtfom">Beleza e saúde</span>
							</a>
						</li>
				
						<li class='last'>
							<a href='/anuncio_novo/moda_beleza/bolsas_malas'>
								<span class="txtfom">Bolças, malas etc.</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- FIM CATEGORIA -->

				<!-- CATEGORIA -->
				<li class='active has-sub'>
					<a>
						<span class="txtfom">Para sua casa</span>
					</a>

					<ul>
						<li class='has-sub'>
							<a href='/anuncio_novo/para_casa/moveis'>
								<span class="txtfom">Móveis</span>
							</a>
						</li>

						<li class='has-sub'>
							<a href='/anuncio_novo/para_casa/eletrodomesticos'>
								<span class="txtfom">Eletrodomésticos</span>
							</a>
						</li>

						<li class='last'>
							<a href='/anuncio_novo/para_casa/construcao'>
								<span class="txtfom">Construção e jardinagem</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/para_casa/cama_mesa_banho'>
								<span class="txtfom">Cama, mesa e banho</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/para_casa/arte_decoracao'>
								<span class="txtfom">Arte e decoração</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- FIM CATEGORIA -->

				<!-- CATEGORIA -->
				<li class='active has-sub'>
					<a>
						<span class="txtfom">Esporte e ginástica</span>
					</a>
					
					<ul>
						<li class='has-sub'>
							<a href='/anuncio_novo/esportes_fitness/esportes'>
								<span class="txtfom">Esportes</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/esportes_fitness/ciclismo'>
								<span class="txtfom">Ciclismo</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- FIM CATEGORIA -->

				<!-- CATEGORIA -->
				<li class='active has-sub'>
					<a>
						<span class="txtfom">Bebês e Crianças</span>
					</a>
					<ul>
						<li class='last'>
							<a href='/anuncio_novo/bebes_criancas/roupas'>
								<span class="txtfom" >Roupas</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/bebes_criancas/brinquedos'>
								<span class="txtfom">Brinquedos</span>
							</a>
						</li>
						
						<li>
							<a href='/anuncio_novo/bebes_criancas/carrinhos_cadeiras'>
								<span class="txtfom">Carrinhos e cadeiras</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/bebes_criancas/bercos_moveis'>
								<span class="txtfom">Berços e móveis</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/bebes_criancas/outros_criancas'>
								<span class="txtfom">Outros</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- FIM CATEGORIA -->

				<!-- CATEGORIA -->
				<li class='active has-sub'>
					<a>
						<span class="txtfom">Animais e Acessórios</span>
					</a>
					
					<ul>
						<li class='last'>
							<a href='/anuncio_novo/animais/cachorros'>
								<span class="txtfom" >Cachorros e acessórios</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/animais/gatos'>
								<span class="txtfom">Gatos e acessórios</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/animais/roedores'>
								<span class="txtfom">Roedores e acessórios</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/animais/cavalos'>
								<span class="txtfom">Cavalos e acessórios</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/animais/peixes'>
								<span class="txtfom">Artigos para peixes</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/animais/outros_animais'>
								<span class="txtfom">Outros animais e acessórios</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- FIM CATEGORIA -->

				<!-- CATEGORIA -->
				<li class='active has-sub'>
					<a>
						<span class="txtfom">Empregos e negócios</span>
					</a>
					
					<ul>
						<li class='last'>
							<a href='/anuncio_novo/empregos_negocios/empregos'>
								<span class="txtfom" >Ofertas de emprego</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/empregos_negocios/curriculos'>
								<span class="txtfom">Currículos</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/empregos_negocios/servicos'>
								<span class="txtfom">Serviços</span>
							</a>
						</li>
						
						<li class='last'>
							<a href='/anuncio_novo/empregos_negocios/industria'>
								<span class="txtfom">Indústria, comércio e agro</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- FIM  CATEGORIA -->
			</ul>