{% load staticfiles %}
<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<a title="Animais e Acessórios" href="/{{estado}}/{{categoria}}">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg1.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Animais e Acessórios</b>
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/dm.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999; font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Cachorros</b> 
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Raças</strong>
			</p>
			<label>
				<input type="checkbox" name="Basset Hound" id="Basset" value="Basset Hound">
				<span class="checkatrovb">Basset Hound</span>
			</label>
			<br>
			
			<label>
				<input type="checkbox" name="Beagle" value="Beagle" id="Beagle">
				<span class="checkatrovb">Beagle</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Boxer" value="Boxer" id="Boxer">
				<span class="checkatrovb">Boxer</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Bulldog" value="Bulldog" id="Bulldog">
				<span class="checkatrovb">Bulldog</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Bull Terrier" value="Bull Terrier" id="Bull">
				<span class="checkatrovb">Bull Terrier</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Cocker Spaniel" value="Cocker Spaniel" id="Cocker">
				<span class="checkatrovb">Cocker Spaniel</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Chow-Chow" value="Chow-Chow" id="Chow-Chow">
				<span class="checkatrovb">Chow-Chow</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Labrador" value="Labrador" id="Labrador">
				<span class="checkatrovb">Labrador</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Lhasa Apso" value="Lhasa Apso" id="Lhasa">
				<span class="checkatrovb">Lhasa Apso</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Maltês" value="Maltês" id="Maltês">
				<span class="checkatrovb">Maltês</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Pastor" value="Pastor" id="Pastor">
				<span class="checkatrovb">Pastor</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Pitbull" value="Pitbull" id="Pitbull">
				<span class="checkatrovb">Pitbull</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Pinscher" value="Pinscher" id="Pinscher">
				<span class="checkatrovb">Pinscher</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Poodle" value="Poodle" id="Poodle">
				<span class="checkatrovb">Poodle</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Pug" value="Pug" id="Pug">
				<span class="checkatrovb">Pug</span>
			</label>
			<br>

			<label>
			<input type="checkbox" name="Rottweiler" value="Rottweiler" id="Rottweiler">
			<span class="checkatrovb">Rottweiler</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Yorkshire" value="Yorkshire" id="Yorkshire">
				<span class="checkatrovb">Yorkshire</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="outros" value="outros" id="outros">
				<span class="checkatrovb">Outras raças</span>
			</label>
			<br>
		</form>

		{% include "faixa_preco.html" %}
	</div>
	<!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->