<!-- ANUNCIO PATROCINADO EXEMPLE -->
<a title="Abrir Anúncio" href="#">
	<div class="blocanc"> 
		<div class="laeftooo"> 
			<!-- foto principal do anuncio -->
			<div class="ftoanucn" >
				<div class="ftodentrouo"> 
					<!-- FOTO AQUI, JA ESTA CONFIGURADO NO CSS PARA AJUSTAR O TAMANHO. -->
					<img class="imganucoferant" style="display:inline;" src="/static/img/images-guia/ex1.jpg">
					<!-- FIM FOTO AQUI. -->
				</div>
			</div> 
			<!-- fim foto principal do anuncio -->
		</div>

		<!-- descricao do anuncio -->
		<div class="ladinfanc">
			<div class="titleancui"> 
				<span style="font-size:11pt; font-family:Arial, Helvetica, sans-serif;">
					<strong>
						Exemplo de Anúncio Destacado sempre no Topo! GTU Semi Novo com apenas 5 mil km!!!
					</strong>
				</span>
			</div>
			<!--  informacao -->
			<div class="postdicnf"> 
				<!--  cidade,estado -->
				• <span style="color:#666; font-size:9pt;">Jaboatão dos Guararapes, PE </span>
					<br>
					<!--  categoria do anuncio -->
				• <span style="color:#666; font-size:9pt;">Veículos/Carros </span>
			</div>
			<!--  fim informacao-->

			<div class="nvhrdiaprice"> 
				<!--  PREÇO DO ANUNCIO -->
				<div class="priceynf"> 
					<p>
						<strong>
							R$ 1.250.000
						</strong>
					</p>
				</div>
				<!--  FIM PREÇO DO ANUNCIO -->
				<div class="bandenfet"> </div>
				<!--  quando foi postado -->
				<div class="bxhrdia">
					<p><span>  Hoje  </span>,   <span>  10:45 </span></p>
				</div>

				<!-- SÓ APARECE QUANDO O ANUNCIO É PATROCINADO -->
				<div style="background-image:url(/static/img/dtsq.png);" class="patrocinfotmy"> </div>
				<!-- fim INFO QUANDO E PATROCINADO -->

				<!-- fim quando foi postado -->
			</div>
		</div>
		<!--fim descricao do anuncio -->
	</div>
</a>