<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:5px;"> <strong>Faixa Salarial</strong></p>

<form class="pricerangebx" ethod="GET" id="preco" action=".">
	<input class="gxfpricebx" name="min" id="min" placeholder="  Mín." value="" maxlength="13" type="text">
	<input class="gxfpricebx" name="max" id="max" placeholder="  Máx." value="" maxlength="13" type="text">
	<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px; background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
</form>

<div class="stparpincbx"> </div>