{% for anuncio in anuncios %}

<script type="text/javascript">
	var lista = {% autoescape off %}{{marca}}{% endautoescape %};
	console.log(lista.length)
	$.each(lista, function(key, value) {
		$('#'+value).prop('checked', true)
		console.log(value)
	});
	$(document).ready(function() {
		$(lista).prop('checked', true);
	});
</script>


	<input id='marca' type="hidden" value='{{marca}}'>
<!-- ANUNCIO SIMPLES EXEMPLO -->
<a title="Abrir Anúncio" href="/anuncio/ver_anuncio/{{anuncio.id}}">
	<div class="blocanc"> 
		<div class="laeftooo"> 
			<!-- foto principal do anuncio -->
			<div class="ftoanucn" >
				<div class="ftodentrouo"> 
					<!-- FOTO AQUI, JA ESTA CONFIGURADO NO CSS PARA AJUSTAR O TAMANHO. -->
					{% if anuncio.imagem1 %}
						<img class="imganucoferant" style="display:inline;" src="/media/{{anuncio.imagem1}}">
					{% endif %}
					<!-- FIM FOTO AQUI. -->
				</div>
			</div> 
			<!-- fim foto principal do anuncio -->
		</div>
		<!-- descricao do anuncio -->
		<div class="ladinfanc">
			<div class="titleancui"> 
				<span style="font-size:11pt; font-family:Arial, Helvetica, sans-serif;"> 
					<strong>
						{{anuncio.titulo}}
					</strong>
				</span>
			</div>
			<!--  informacao -->
			<div class="postdicnf"> 
				<!--  cidade,estado -->
				• <span style="color:#666; font-size:9pt;"> {{anuncio.cidade}}, {{anuncio.estado}} </span>
				<br>
				<!--  categoria do anuncio -->
				• <span style="color:#666; font-size:9pt;">{{anuncio.categoria}}/{{anuncio.subcategoria}} </span>
			</div>
			<!--  fim informacao-->
			<div class="nvhrdiaprice"> 
				<!--  PREÇO DO ANUNCIO -->
				<div class="priceynf"> 
					<p><strong>R$ {{anuncio.preco}}</strong></p>
				</div>
				<!--  FIM PREÇO DO ANUNCIO -->
				<div class="bandenfet"> </div>
				<!--  quando foi postado -->
				<div class="bxhrdia">
					{% if anuncio.created_on.date == hoje.date %}
						<p>
							<span>
								Hoje, {{anuncio.created_on.time}}
							</span>
						</p>
					{% else %}
					<p> 
						<span> {{hoje.date}} </span>
					</p>
					{% endif %}
				</div>
				<!-- fim quando foi postado -->
			</div>
		</div>
		<!--fim descricao do anuncio -->
	</div>
</a>
<!-- fim anuncio  simples Exemplo -->

{% endfor %}

<div class="numberpag"> 

	<div class="braasssop">
		<div class="brarcegrto">
			{% if anuncios.has_previous %}
				<a title="Voltar" href="?page={{ anuncios.previous_page_number }}">
					<div style="background-image:url(/static/img/uno.png);" class="nattashrge"></div>
				</a>
			{% endif %}

			{% if anuncios.has_next %}
				<a title="Próxima Página" href="?page={{ anuncios.next_page_number }}">
					<div style="background-image:url(/static/img/uno2.png); margin-left:2px;" class="nattashrge"> </div>
				</a>
			{% endif %}

			<p class="utbrotbn">
				<strong> Página: 
					<span style="font-family:Arial, Helvetica, sans-serif;">{{ anuncios.number }} de {{ anuncios.paginator.num_pages }}</span>
				</strong>
			</p>
		</div>
	</div>
</div>