<div class="promm">  <!-- PATROCINADOS ALEATORIOS -->
		<a target="_blank" href="#"> 
			<div style="margin-left:10px;" class="bxpromo">   <!-- PATROCINADO 1 --> 
				<div class="patrocfto"> 
					<div class="patrocftbs">
					<img class="patrocftodt" style="display:inline;" src="/static/img/anunc/2.jpg">
				</div>
			</div>
			<!-- FOTO DO PATROCINADO --> 
			<div class="desccr-patr"> <!-- BREVE DESCRICAO DO PATROCINADO --> 
				<p style="font-size:13px; color:#666; " >
					STG Novo na caixa, só produtos importados é aqui!!!
				</p>
			</div>
			<!-- PREÇO --> 
			<div class="princeee">
				<p style="font-family: 'Ubuntu', sans-serif; font-size:10pt; color:#C33;">
					R$ 750
				</p>
				</div>
			<!-- FIM PREÇO -->

			<div style="margin-top:-1px;" class="titulo-patr"> 
				<p style="font-family: 'Ubuntu', sans-serif; font-size:11px; color:#39C;">São 
					Paulo - SP
				</p>
			</div> <!-- LOCAL PATROCINADO --> 
			</div>

			<div class="seppro"></div>
		</a> <!-- FIM PATROCINADO 1 -->

	<a target="_blank" href="#"> <!-- PATROCINADO 2 --> 
		<div  style="margin-left:5px;" class="bxpromo">
			<div class="patrocfto"> 
					<div class="patrocftbs">
					<img class="patrocftodt" style="display:inline;" src="/static/img/images-guia/ex2.jpg">
				</div>
			</div> 
			<!-- FOTO DO PATROCINADO --> 
			<div class="desccr-patr"> <!-- BREVE DESCRICAO DO PATROCINADO --> 
				<p style="font-size:13px; color:#666; " >
					Oportunidade única, condomínio em Brenion em Piedade
				</p>
			</div>
			<!-- PREÇO --> 
			<div class="princeee">
				<p style="font-family: 'Ubuntu', sans-serif; font-size:10pt; color:#C33;">
					R$ 130.000.000
				</p>
				</div>
			<!-- FIM PREÇO --> 

			<div style="margin-top:-1px;" class="titulo-patr">
				<p style="font-family: 'Ubuntu', sans-serif; font-size:11px; color:#39C;">
					Guarulhos - SP
				</p>
			</div> <!-- LOCAL PATROCINADO --> 
		</div>

		<div class="seppro"></div>
	</a> <!-- FIM PATROCINADO 2 -->

	<a target="_blank" href="#"> <!-- PATROCINADO 3 --> 
		<div  style="margin-left:5px;" class="bxpromo">
			<div class="patrocfto"> 
				<div class="patrocftbs">
						<img class="patrocftodt" style="display:inline;" src="/static/img/images-guia/ex1.jpg">
				</div>
			</div> 
			<!-- FOTO DO PATROCINADO -->

			<div class="desccr-patr"> <!-- BREVE DESCRICAO DO PATROCINADO --> 
				<p style="font-size:13px; color:#666; " >
					XGT Semi-novo 2013 com jogo de rodas e GPS
				</p>
			</div>

			<!-- PREÇO --> 
			<div class="princeee">
				<p style="font-family: 'Ubuntu', sans-serif; font-size:10pt; color:#C33;">
					R$ 127.000.000
				</p>
				</div>
			<!-- FIM PREÇO --> 

			<div style="margin-top:-1px;" class="titulo-patr">
				<p style="font-family: 'Ubuntu', sans-serif; font-size:11px; color:#39C;">
					Campinas - SP
				</p>
			</div> <!-- LOCAL PATROCINADO --> 
		</div>
	</a> <!-- FIM PATROCINADO 3 -->
</div> <!-- FIM PATROCINADOS ALEATORIOS -->