	<!-- PESQUISA -->
	<form  method="GET" id="search2" action="/{{estado}}/{{categoria}}/{{subcategoria}}">
		<input style="width:171px; margin-left:1px; margin-top:1px;" id="busca" type="text" class="search2" name="busca" placeholder='Ex: Sofá, celular, golf...'>
		<button style="width:40px; margin-left:-2px; background:none; border:none; background-image:url(/static/img/lpt.png); background-color:#F60;" title="Buscar no site" type="submit">Submit</button>
	</form>

	<div class="spsesbusexp"><span></span></div>

	<div class="sdssao"> 
		<span style="color:#FFF; font-family:arial; font-size:12pt; float:left; margin-top:8px; margin-left:33px;">
			<strong> Buscar por Categorias </strong>
		</span>
	</div>

	<div style="margin-top:-13px;" class="nmscltsgoria">
		<a class="ahtxt" title="Voltar para as categorias" href="/{{estado}}">
			<span style="font-family:Arial, Helvetica, sans-serif;">
				<span class="uiuo"></span>
				<strong style="margin-left:5px;">Todas as categorias</strong>
			</span>
		</a>
	</div>