{% load staticfiles compress %}

<html>
	<head>
		<title>InfoNegócio Brasil</title>
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
		{% compress css %}
			<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/responsivo.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/master.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/set2.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/ofertabot.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "js/slider-guia-cfg/style.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/jquery-ui.css" %}>
			{% block css_top %}
			{% endblock css_top %}
		{% endcompress %}
		{% block css_top_inline %}
			{% compress css inline %}
			{% endcompress %}
		{% endblock css_top_inline %}
	</head>
	<body style="background-color:#D9F1FF;">
		{% block cabecalho %}
			{% include "bases/cabecalho.html" %}
		{% endblock cabecalho %}
		{% block conteudo %}
		{% endblock conteudo %}
		{% block rodape %}
			{% include "bases/rodape.html" %}
		{% endblock rodape %}
	</body>
	{% compress js %}
		<script type="text/javascript" src={% static "js/jquery-1.10.2.min.js" %}></script>
		<script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
		<script type="text/javascript" src={% static "js/jquery-ui.js" %}></script>
		<script type="text/javascript" src={% static "js/slider-guia-cfg/wowslider.js" %}></script>
		<script type="text/javascript" src={% static "js/autocomplete_cidades.js" %}></script>
		<script type="text/javascript" src={% static "js/estados_cidades.js" %}></script>
		<script type="text/javascript" src={% static "js/cidades-estados-1.2-utf8.js" %}></script>
		<script type="text/javascript" src={% static "js/masked_input.js" %}></script>
		<script type="text/javascript" src={% static "js/busca_automatica.js" %}></script>
		{% block js_bottom %}
		{% endblock js_bottom %}
	{% endcompress js %}
	{% compress js inline %}
		{% block js_bottom_inline %}
		{% endblock js_bottom_inline %}
	{% endcompress %}
</html>