{% load staticfiles %}

<html>
	<head>
		<title>InfoNegócio Brasil</title>
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

		{% block css %}
			<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/responsivo.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/master.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/set2.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/ofertabot.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "js/slider-guia-cfg/style.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/usuario-painel.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/painel-usuario.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/multilevel-dropdown.css" %}>
			<link rel="stylesheet" type="text/css" href={% static "css/jquery-ui.css" %}>
		{% endblock css %}

		{% block js %}
			<script type="text/javascript" src={% static "js/slider-guia-cfg/jquery.js" %}></script>
			<script type="text/javascript" src={% static "js/slider-guia-cfg/wowslider.js" %}></script>
			<script type="text/javascript" src={% static "js/jquery-1.11.3.min.js" %}></script>
			<script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
			<script type="text/javascript" src={% static "js/jquery-ui.js" %}></script>
			<script type="text/javascript" src={% static "js/multilevel-dropdown.js" %}></script>
			<script type="text/javascript" src={% static "js/autocomplete_cidades.js" %}></script>
			<script type="text/javascript" src={% static "js/estados_cidades.js" %}></script>
			<script type="text/javascript" src={% static "js/cidades-estados-1.2-utf8.js" %}></script>
			<script type="text/javascript" src={% static "js/masked_input.js" %}></script>
			<script type="text/javascript" src={% static "js/mascaras.js" %}></script>
		{% endblock js %}
	</head>
	<body style="background-image:url(/static/img/bgclass.png);">
		{% block cabecalho %}
			{% include "bases/cabecalho.html" %}
		{% endblock cabecalho %}
		{% block conteudo %}
		{% endblock conteudo %}
		{% block rodape %}
			{% include "bases/rodape.html" %}
		{% endblock rodape %}
	</body>
</html>