<div class="nav-topo"> 
	<div class="sidertopp">   <!-- SIDEBAR DO TOPO -->
		<a title="Início" href="/"> <div class="logo"> </div> </a>
		
		<div class="nmond">
			<span style="color:#FFF; font-family: 'Ubuntu', sans-serif; font-size:10pt; text-shadow: 0 0 3px rgba(0,0,0,.25);">
				Onde:
			</span>
		</div>

		<div class="estado23"> 
			<label>
				<input id="cidade" type="text" class="form-control2" name="cidade" placeholder='Ex: São Paulo'>
			</label>
		</div>

		<div class="nmond2">
			<span style="color:#FFF; font-family: 'Ubuntu', sans-serif; font-size:10pt; text-shadow: 0 0 3px rgba(0,0,0,.25);">
				O que:
			</span>
		</div>        

		<div class="estado24">
			{% if estado %}
				<form method="GET" id="search2" action="/{{estado}}/">
					<input id="busca" type="text" class="search2" name="busca" placeholder='Ex: Veiculo, Video Game Etc..'>
					<button title="Buscar no site" type="submit">Submit</button>
				</form>
			{% else %}
				<form method="GET" id="search2" action="/Brasil/">
					<input id="busca" type="text" class="search2" name="busca" placeholder='Ex: Veiculo, Video Game Etc..'>
					<button title="Buscar no site" type="submit">Submit</button>
				</form>
			{% endif %}
		</div>

		<div class="entrar-log"> 
			<a style="border:none;" title="Cadastre-se Grátis!" href="/anuncio/cadastrar_anuncio"> 
				<div style="margin-left:-15px;" class="cadastre-se2"></div>
			</a>
		</div>
	</div>
	<!-- FIM CATEGORIAS -->
	
	<div class="categorias-separa"> 
		<div class="mnuminhacnt"> 
			<div class="mhfct"> 
				<p>
					<strong>
						{% if user.id %}
							<a style="color:#0099CC;" title="Minha Conta" href="/painel_usuario">
								Ola, {{user}}
							</a>
						{% else %}	
							<a style="color:#0099CC;" title="Minha Conta" href="/entrar">
								Minha Conta
							</a>
						{% endif %}

						{% if user.id %}
							<a href="/sair/">
								[sair]
							</a>
						{% endif %}
					</strong>
				</p>
			</div>
			
			<div style="background-image:url(/static/img/vtct.png);" class="icnyghj"> </div>

			<div class="mhfct"> 
				<p>
					<strong>
						<a style="color:#0099CC;" title="Ajuda" href="#">
							Ajuda
						</a>
					</strong>
				</p>
			</div>

			<div style="background-image:url(/static/img/ift.png);" class="icnyghj"> </div>

			<div class="mhfct"> 
				<p>
					<strong>
						<a style="color:#0099CC;" title="Meus anúncios" href="/painel_usuario">
							Meus Anúncios
						</a>
					</strong>
				</p>
			</div>

			{% if user.id %}
				<div style="background-image:url(/static/img/oft.png);" class="icnyghj"> </div>

				<div class="mhfctrel"> 
					<p>
						<strong>
								
							<a style="color:#F86401;" title="Ver Mensagens" href="#">
								00
							</a>
						</strong>
					</p>
				</div>
			
				<div class="icnyghjmailnew"> </div>
			{% endif %}

		</div>
	</div>
	<div class="categorias-separa2"> </div>
</div>