<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<a title="Imóveis" href="/{{estado}}/{{categoria}}">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg6.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Imóveis</b> 
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/tmp.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Temporada</b> 
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Tipo</strong>
			</p>
			
			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Apartamentos</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Casas</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Quartos</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Quartos compartilhados</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Pousadas</span>
			</label>
			<br>
		</form>

		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:5px;">
			<strong>Faixa de Preço</strong></p>
		<div class="pricerangebx">
			<input class="gxfpricebx" name="ps" id="ps" placeholder="  Mín." value="" maxlength="13" type="text">
			<input class="gxfpricebx" name="pe" id="pe" placeholder="  Máx." value="" maxlength="13" type="text">
			<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px; background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
		</div>

		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:10px;"> 	<strong>Número de quartos</strong>
		</p>
		<div style="margin-top:10px;" id="rooms" class="rooms featurebox filter range">
			<select class="gxfpricebx" name="ros" id="rooms_ros">
				<option value="" selected="selected">Mín.</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 ou mais</option>
			</select>

			<select class="gxfpricebx" name="roe" id="rooms_roe">
				<option value="" selected="selected">Máx.</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 ou mais</option>
			</select>

			<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px;  background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
		</div>

		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:10px;">
			<strong>Número de camas</strong>
		</p>
		
		<div style="margin-top:-8px;" id="rooms" class="rooms featurebox filter range">
			<select  class="gxfpricebx" name="ros" id="rooms_ros">
				<option value="" selected="selected">Mín.</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">20</option>
				<option value="17">25</option>
			</select>

			<select class="gxfpricebx" name="roe" id="rooms_roe">
				<option value="" selected="selected">Máx.</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">20</option>
				<option value="17">25</option>
				<option value="18">30</option>
			</select>

			<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px; background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
		</div>

		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Filtro por:</strong>
			</p>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Geladeira</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Fogão</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Estacionamento</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Ventilador</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Varanda/Terraço</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Tv a cabo</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Churrasqueira</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Piscina</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Ar condicionado</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Roupa de cama</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Internet</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Permitido animais</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Máquina de lavar</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Toalhas</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Café da manhã</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Aquecimento</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Lareira</span>
			</label>
			<br>
		</form>

		<div class="stparpincbx"> </div>
	</div>
	<!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->