<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<a title="Imóveis" href="/{{estado}}/{{categoria}}">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg6.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Imóveis</b> 
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/faz.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Terrenos, sítios etc.</b> 
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;"> <strong>Tipo</strong></p>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Terrenos e lotes</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Sítios e chácaras</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Fazendas</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Outros</span>
			</label>
			<br>
		</form>

		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Transação</strong>
			</p>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Venda</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Aluguel</span>
			</label>
			<br>
		</form>  

		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:5px;"> 
			<strong>Faixa de Preço</strong>
		</p>

		<div class="pricerangebx">
			<input class="gxfpricebx" name="ps" id="ps" placeholder="  Mín." value="" maxlength="13" type="text">
			<input class="gxfpricebx" name="pe" id="pe" placeholder="  Máx." value="" maxlength="13" type="text">
			<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px; background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
		</div>

		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:10px;"> 
			<strong>Área</strong>
		</p>
		<div style="margin-top:-8px;" id="rooms" class="rooms featurebox filter range">

			<select  class="gxfpricebx" name="ros" id="rooms_ros">
				<option value="" selected="selected">Mín.</option>
				<option value="0">0</option>
				<option value="1">30</option>
				<option value="2">60</option>
				<option value="3">90</option>
				<option value="4">120</option>
				<option value="5">150</option>
				<option value="6">180</option>
				<option value="7">200</option>
				<option value="8">250</option>
				<option value="9">300</option>
				<option value="10">400</option>
				<option value="11">500</option>
			</select>

			<select class="gxfpricebx" name="roe" id="rooms_roe">
				<option value="" selected="">Max.</option>
				<option value="1">30</option>
				<option value="2">60</option>
				<option value="3">90</option>
				<option value="4">120</option>
				<option value="5">150</option>
				<option value="6">180</option>
				<option value="7">200</option>
				<option value="8">250</option>
				<option value="9">300</option>
				<option value="10">400</option>
				<option value="11">500</option>
				<option value="12">Acima de 500</option>
			</select>

			<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px; background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
		</div>

		<div class="stparpincbx"> </div>

	</div>
	<!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->