<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<a title="Para sua casa" href="/{{estado}}/{{categoria}}">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg8png.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Para sua casa</b>
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/electoc.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999; font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Eletrodomésticos</b> 
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Tipos</strong>
			</p>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Ar condicionado e ventilação</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Eletroportáteis</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Filtro e purificadores</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Fogões, fornos e micro-ondas</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Geladeiras e freezers</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Lava-louças</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Lava-roupas e secadoras</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Outros</span>
			</label>
			<br>
		</form>

		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:5px;"> 
			<strong>Faixa de Preço</strong>
		</p>

		<div class="pricerangebx">
			<input class="gxfpricebx" name="ps" id="ps" placeholder="  Mín." value="" maxlength="13" type="text">
			<input class="gxfpricebx" name="pe" id="pe" placeholder="  Máx." value="" maxlength="13" type="text">
			<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px; background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
		</div>

		<div class="stparpincbx"> </div>

	</div>
	<!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->