<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

{% include "pesquisa.html" %}

	<a title="Veículos" href="/{{estado}}/{{categoria}}">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg10.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Veículos</b> 
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg10.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Carros</b> 
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:10px;"> 
			<strong>Faixa de Preço</strong>
		</p>

		<div class="pricerangebx">
			<input class="gxfpricebx" name="ps" id="ps" placeholder="  Mín." value="" maxlength="13" type="text">
			<input class="gxfpricebx" name="pe" id="pe" placeholder="  Máx." value="" maxlength="13" type="text">
			<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px; background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
		</div>

		<select style="width:190px; margin-left:10px; margin-top:10px; height:40px; border: 1px solid #D6D6D6; -webkit-border-radius: 5px; -moz-border-radius: 3px; border-radius: 3px;" name="vb" id="vehicle_brand_vb" class="form-field form-field-select full">
			<option value="" selected="selected">Filtrar por marca</option>
			<option title="citroen" value="16" >Citroën</option>
			<option title="fiat" value="25" >Fiat</option>
			<option title="ford" value="27">Ford</option>
			<option title="gm-chevrolet" value="29">GM - Chevrolet</option>
			<option title="honda" value="33">Honda</option>
			<option title="hyundai" value="34">Hyundai</option>
			<option title="jac" value="36">JAC</option>
			<option title="kia-motors" value="41">Kia Motors</option>
			<option title="nissan" value="59">Nissan</option>
			<option title="peugeot" value="60">Peugeot</option>
			<option title="renault" value="64">Renault</option>
			<option title="toyota" value="73">Toyota</option>
			<option title="vw-volkswagen" value="75">VW - VolksWagen</option>
			<option disabled="disabled" value="---------------">---------------</option>
			<option title="acura" value="2">Acura</option>
			<option title="agrale" value="3">Agrale</option>
			<option title="alfa-romeo" value="4">Alfa Romeo</option>
			<option title="am-gen" value="1">AM Gen</option>
			<option title="asia-motors" value="5">Asia Motors</option>
			<option title="aston-martin" value="81">ASTON MARTIN</option>
			<option title="audi" value="6">Audi</option>
			<option title="bmw" value="7">BMW</option>
			<option title="brm" value="8">BRM</option>
			<option title="buggy" value="9">Buggy</option>
			<option title="bugre" value="10">Bugre</option>
			<option title="cadillac" value="14">Cadillac</option>
			<option title="cbt-jipe" value="11">CBT Jipe</option>
			<option title="chana" value="88">CHANA</option>
			<option title="changan" value="12">CHANGAN</option>
			<option title="chery" value="13">CHERY</option>
			<option title="chrysler" value="15">Chrysler</option>
			<option title="cross-lander" value="17">Cross Lander</option>
			<option title="daewoo" value="18">Daewoo</option>
			<option title="daihatsu" value="19">Daihatsu</option>
			<option title="dkw-vemag" value="85">Dkw Vemag</option>
			<option title="dodge" value="20">Dodge</option>
			<option title="effa" value="21">EFFA</option>
			<option title="engesa" value="22">Engesa</option>
			<option title="envemo" value="23">Envemo</option>
			<option title="ferrari" value="24">Ferrari</option>
			<option title="fibravan" value="26">Fibravan</option>
			<option title="foton" value="82">FOTON</option>
			<option title="fyber" value="28">Fyber</option>
			<option title="geely" value="87">GEELY</option>
			<option title="great-wall" value="30">GREAT WALL</option>
			<option title="gurgel" value="31">Gurgel</option>
			<option title="hafei" value="32">HAFEI</option>
			<option title="isuzu" value="35">Isuzu</option>
			<option title="jaguar" value="39">Jaguar</option>
			<option title="jeep" value="40">Jeep</option>
			<option title="jinbei" value="37">JINBEI</option>
			<option title="jpx" value="38">JPX</option>
			<option title="lada" value="45">Lada</option>
			<option title="lamborghini" value="42">LAMBORGHINI</option>
			<option title="land-rover" value="46">Land Rover</option>
			<option title="landwind" value="86">Landwind</option>
			<option title="lexus" value="47">Lexus</option>
			<option title="lifan" value="43">LIFAN</option>
			<option title="lobini" value="44">LOBINI</option>
			<option title="lotus" value="48">Lotus</option>
			<option title="mahindra" value="51">Mahindra</option>
			<option title="maserati" value="52">Maserati</option>
			<option title="matra" value="53">Matra</option>
			<option title="mazda" value="54">Mazda</option>
			<option title="mercedes-benz" value="55">Mercedes-Benz</option>
			<option title="mercury" value="56">Mercury</option>
			<option title="mg" value="49">MG</option>
			<option title="mini" value="50">MINI</option>
			<option title="mitsubishi" value="57">Mitsubishi</option>
			<option title="miura" value="58">Miura</option>
			<option title="plymouth" value="61">Plymouth</option>
			<option title="pontiac" value="62">Pontiac</option>
			<option title="porsche" value="63">Porsche</option>
			<option title="puma" value="89">Puma</option>
			<option title="rely" value="83">RELY</option>
			<option title="rolls-royce" value="84">Rolls-Royce</option>
			<option title="rover" value="65">Rover</option>
			<option title="saab" value="67">Saab</option>
			<option title="saturn" value="68">Saturn</option>
			<option title="seat" value="69">Seat</option>
			<option title="shineray" value="80">SHINERAY</option>
			<option title="smart" value="79">smart</option>
			<option title="ssangyong" value="66">SSANGYONG</option>
			<option title="subaru" value="70">Subaru</option>
			<option title="suzuki" value="71">Suzuki</option>
			<option title="tac" value="72">TAC</option>
			<option title="troller" value="74">Troller</option>
			<option title="volvo" value="76">Volvo</option>
			<option title="wake" value="77">Wake</option>
			<option title="walk" value="78">Walk</option>
		</select>

		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Câmbio</strong>
			</p>
			
			<label>
				<input  type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Manual</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Automático</span>
			</label>
			<br>
		</form>

		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Combustível:</strong>
			</p>
			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Gasolina</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Álcool</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Flex</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Gás natural</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Diesel</span>
			</label>
			<br>
		</form> 

		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Tipo:</strong>
			</p>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Passeio</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Conversível</span>
			</label>
			<br> 

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Pick-up</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Antigo</span>
			</label>
			<br>  

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">SUV</span>
			</label>
			<br>
		</form>

		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Tipo:</strong>
			</p>
			
			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Air bag</span>
			</label>
			<br>  

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Alarme</span>
			</label>
			<br> 

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Ar condicionado</span>
			</label>
			<br> 

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Direção hidráulica</span>
			</label>
			<br> 

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Trava elétrica</span>
			</label>
			<br>   

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Vidro elétrico</span>
			</label>
			<br> 
		</form>  
		
		{% include "subcategorias/veiculos/quilometragem_ano.html" %}
		
		<div class="stparpincbx"> </div>
	</div>
	<!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->
