		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:10px;"> 
			<strong>Quilometragem</strong>
		</p>
	
		<div style="margin-top:10px;" id="rooms" class="rooms featurebox filter range">
			<select class="gxfpricebx" name="ros" id="rooms_ros">
				<option value="" selected="selected">Km de</option>
				<option value="0">0</option>
				<option value="5000">5.000</option>
				<option value="10000">10.000</option>
				<option value="20000">20.000</option>
				<option value="30000">30.000</option>
				<option value="40000">40.000</option>
				<option value="60000">60.000</option>
				<option value="80000">80.000</option>
				<option value="100000">100.000</option>
				<option value="120000">120.000</option>
				<option value="140000">140.000</option>
				<option value="160000">160.000</option>
				<option value="180000">180.000</option>
				<option value="200000">200.000</option>
				<option value="250000">250.000</option>
				<option value="300000">300.000</option>
				<option value="400000">400.000</option>
				<option value="500000">500.000</option>
			</select>

			<select class="gxfpricebx" name="roe" id="rooms_roe">
				<option value="" selected="selected">Km até</option>
				<option value="0">0</option>
				<option value="5000">5.000</option>
				<option value="10000">10.000</option>
				<option value="20000">20.000</option>
				<option value="30000">30.000</option>
				<option value="40000">40.000</option>
				<option value="60000">60.000</option>
				<option value="80000">80.000</option>
				<option value="100000">100.000</option>
				<option value="120000">120.000</option>
				<option value="140000">140.000</option>
				<option value="160000">160.000</option>
				<option value="180000">180.000</option>
				<option value="200000">200.000</option>
				<option value="250000">250.000</option>
				<option value="300000">300.000</option>
				<option value="400000">400.000</option>
				<option value="500000">500.000</option>
			</select>

			<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px;  background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
		</div>
	  
		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:10px;"> 
			<strong>Ano</strong>
		</p>
		
		<div style="margin-top:-8px;" id="rooms" class="rooms featurebox filter range">
			<select  class="gxfpricebx" name="ros" id="rooms_ros">
				<option value="" selected="selected">Do ano</option>
				<option value="33">2015</option>
				<option value="32">2014</option>
				<option value="31">2013</option>
				<option value="30">2012</option>
				<option value="29">2011</option>
				<option value="28">2010</option>
				<option value="27">2009</option>
				<option value="26">2008</option>
				<option value="25">2007</option>
				<option value="24">2006</option>
				<option value="23">2005</option>
				<option value="22">2004</option>
				<option value="21">2003</option>
				<option value="20">2002</option>
				<option value="19">2001</option>
				<option value="18">2000</option>
				<option value="17">1999</option>
				<option value="16">1998</option>
				<option value="15">1997</option>
				<option value="14">1996</option>
				<option value="13">1995</option>
				<option value="12">1994</option>
				<option value="11">1993</option>
				<option value="10">1992</option>
				<option value="9">1991</option>
				<option value="8">1990</option>
				<option value="7">1985</option>
				<option value="6">1980</option>
				<option value="5">1975</option>
				<option value="4">1970</option>
				<option value="3">1965</option>
				<option value="2">1960</option>
				<option value="1">1955</option>
				<option value="0">1950 ou anterior</option>
			</select>

			<select class="gxfpricebx" name="roe" id="rooms_roe">
				<option value="" selected="selected">Até ano</option>
				<option value="33">2015</option>
				<option value="32">2014</option>
				<option value="31">2013</option>
				<option value="30">2012</option>
				<option value="29">2011</option>
				<option value="28">2010</option>
				<option value="27">2009</option>
				<option value="26">2008</option>
				<option value="25">2007</option>
				<option value="24">2006</option>
				<option value="23">2005</option>
				<option value="22">2004</option>
				<option value="21">2003</option>
				<option value="20">2002</option>
				<option value="19">2001</option>
				<option value="18">2000</option>
				<option value="17">1999</option>
				<option value="16">1998</option>
				<option value="15">1997</option>
				<option value="14">1996</option>
				<option value="13">1995</option>
				<option value="12">1994</option>
				<option value="11">1993</option>
				<option value="10">1992</option>
				<option value="9">1991</option>
				<option value="8">1990</option>
				<option value="7">1985</option>
				<option value="6">1980</option>
				<option value="5">1975</option>
				<option value="4">1970</option>
				<option value="3">1965</option>
				<option value="2">1960</option>
				<option value="1">1955</option>
				<option value="0">1950 ou anterior</option>
			</select>

			<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px; background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
		</div>