
<!DOCTYPE html>
<html lang="pt-br">
    <head>
<title>Nova Mensagem</title>
<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
<meta charset="UTF-8">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>



<body style="background-color:#efefef;">

<div class="tdfnse">


	<div style="width:100%; height:66px; float:left; margin-top:20px;" class="sidincl">

		<div style="width:208px; height:66px; margin:auto;"  class="ftlosg">
		<img src="https://3.bp.blogspot.com/-oUKF80wb_eg/VxeVhVog73I/AAAAAAAADvM/V4zlw47O-tQWlaTaCnOiPcXqUs-ubb_4wCLcB/s1600/clilo.png">
		</div>
		
		
		<div class="lasdmss">
		
		<p style="font-size:20pt; text-align:center; font-family:arial; color:#038781;">
		Você Recebeu uma Nova Mensagem! </p>
		</div>
		
				
		<div class="sadesc">		
		<p style="font-family: 'Open Sans', sans-serif; text-align:center;">
		<strong style="font-size:15pt; color:#265f94;" class="liass">ivisonjr,</strong>  <span style="font-size:15pt;">chegou mensagem pra você! </span> 
		<br> <br>
		<strong style="font-size:13pt; color:#265f94;" class="liass1">{{enviou}}, </strong>
		enviou uma proposta referente a seu anúncio:<br><br>
		<strong style="color:#265f94;">"Casa no Curado II Leia o anuncio"</strong>

		</p>
		
		
		<a style="text-decoration:none; margin-top:20px;" title="Ver Mensagem" href="#">				
		<div style="width:90%; height:40px; margin:auto; background-color:#038781; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;" class="bturcsup"> 
		
		<p style="text-align:center; color:white; "> 
		<strong style="font-size:19pt; font-family: 'Open Sans', sans-serif;" class="buggbg">Ver Mensagem</strong> </p>
		
		</div>
		</a>
		
		
		
		
		
		<div class="lasdmss">
		
		<p style="font-size:10pt; text-align:center; font-family:arial; color:#5e5d5d;">
		Atenção: Não responda este e-mail, para ver a proposta clique em "Ver Mensagem" em seguida
faça login e acesse nosso painel do CliqueNegócio.		</p>
		</div>
		
	
	
	</div>




</div>




        
     
</body>
</html>