<!DOCTYPE html>
<html lang="pt-br">
    <head>
		<title>Nova Mensagem</title>
		<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
		<meta charset="UTF-8">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='https://googledrive.com/host/0B8eMz0L4Y7Bbc21xLWxZLWFxZWM/' rel='stylesheet'/>

	</head>
	<body style="background-color:#efefef;">

	<div class="tdfnse">


		<div class="sidincl">

			<div class="ftlosg">
				<img src="https://3.bp.blogspot.com/-oUKF80wb_eg/VxeVhVog73I/AAAAAAAADvM/V4zlw47O-tQWlaTaCnOiPcXqUs-ubb_4wCLcB/s1600/clilo.png">
			</div>

			<div class="lasdmss">
				<p style="font-size:20pt; text-align:center; font-family:arial; color:#038781;">Você Recebeu uma Nova Mensagem!</p>
			</div>
					
			<div class="sadesc">		
				<p>
					<span style="font-size:15pt;"> <strong class="liass">{{usuario.first_name}},</strong> chegou mensagem pra você! </span> 
					<br>
					<br>
					<strong class="liass1"></strong>você recebeu uma proposta referente a seu anúncio:<br><br>
					<strong style="color:#265f94;">{{anuncio.titulo}}</strong>
				</p>

				<a style="text-decoration:none; margin-top:20px;" title="Responder Mensagem" href="http://cliquenegocio.herokuapp.com/entrar">
					<div class="bturcsup">
						<p style="text-align:center; color:white; "> 
							<strong class="buggbg">Visualizar Mensagem</strong>
						</p>
					</div>
				</a>

				<div class="lasdmss">
					<p style="font-size:10pt; text-align:center; font-family:arial; color:#5e5d5d;">
						Atenção: Não responda este e-mail, para ver a proposta clique em <a href="http://cliquenegocio.herokuapp.com/entrar">"Responder Mensagem"</a> em seguida faça login e acesse nosso painel do CliqueNegócio.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>