<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 
	{% include "pesquisa.html" %}

	<a title="Emprego e negócio" href="/{{estado}}/{{categoria}}">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg4.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
				<b>Emprego e negócio</b>
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/sbv.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999; font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Serviços</b> 
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;">
				<strong>Tipo</strong>
			</p>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Serviços domésticos</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Babás</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Eventos / Festas</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Conserto e reforma</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Saúde e beleza</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Tradução</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Transportes / Mudanças</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Profissionais liberais</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Turismo</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
				<span class="checkatrovb">Outros</span>
			</label>
			<br>
		</form> 

	<div class="stparpincbx"> </div>
</div>
<!--FIM  ATRIB CTTG -->












<div class="lnespctglae"></div>


</div>
<!-- FIM CATEGORIAS PRINCIPAL -->