<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg1.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Animais e Acessórios</b>
		</span>
	</div>

	<a title="Cachorros" href="/{{estado}}/{{categoria}}/cachorros">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/dm.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
				<b>Cachorros</b> 
				<span style="color:#666; font-size:8pt;">1451</span> 
			</span>
		</div>
	</a>

	<a title="Gatos" href="/{{estado}}/{{categoria}}/gatos">
		<div class="sdmnctg">
			<div style="background-image:url(/static/img/ctg/ct.png);" class="icsesctgg"></div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Gatos</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Roedores" href="/{{estado}}/{{categoria}}/roedores">
		<div class="sdmnctg">
			<div style="background-image:url(/static/img/ctg/hms.png);" class="icsesctgg"></div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Roedores</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Cavalos" href="/{{estado}}/{{categoria}}/cavalos">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/hse.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Cavalos</b> 
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Artigos para peixes" href="/{{estado}}/{{categoria}}/peixes">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/fs.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Art. para peixes</b> 
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Outros animais" href="/{{estado}}/{{categoria}}/outros_animais">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/vcs.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Outros animais</b> 
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<div class="lnespctglae"></div>

</div>
<!-- FIM CATEGORIAS PRINCIPAL -->