<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<div class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg2.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> <b>Bebês e Crianças</b> </span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;"> <strong>Tipo</strong></p>
			<label>
				<input type="checkbox" name="Berços e móveis" value="Berços e móveis" id="Berços e móveis">
				<span class="checkatrovb">Berços e móveis</span>
			</label>
			<br>
			
			<label>
				<input type="checkbox" name="Brinquedos" value="Brinquedos" id="Brinquedos">
				<span class="checkatrovb">Brinquedos</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Carrinhos e cadeirinhas" value="Carrinhos e cadeirinhas" id="Carrinhos e cadeirinhas">
				<span class="checkatrovb">Carrinhos e cadeirinhas</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Roupas" value="Roupas" id="Roupas">
				<span class="checkatrovb">Roupas</span>
			</label>
			<br>

			<label>
				<input type="checkbox" name="Outros" value="Outros" id="Outros">
				<span class="checkatrovb">Outros</span>
			</label>
			<br>
		</form>

		<form class="formcheatrb" name="form1" method="post" action="">
			<p style="font-family:Arial, Helvetica, sans-serif; color:#099;"> <strong>Novo/Usado</strong></p>
			<label>
				<input type="checkbox" name="Novo" value="Novo" id="Novo">
				<span class="checkatrovb">Novo</span>
			</label>
			<br>
			
			<label>
				<input type="checkbox" name="Usado" value="Usado" id="Usado">
				<span class="checkatrovb">Usado</span>
			</label>
			<br>
		</form>

		{% include "faixa_preco.html" %}
	</div>
<!--FIM  ATRIB CTTG -->

	<div class="lnespctglae"></div>

</div>
<!-- FIM CATEGORIAS PRINCIPAL -->