<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	<!-- PESQUISA -->
	<form  method="POST" id="search2" action=".">
		<input style="width:171px; margin-left:1px; margin-top:1px;" id="busca" type="text" class="search2" name="busca" placeholder='Ex: Sofá, celular, golf...'>
		<button style="width:40px; margin-left:-2px; background:none; border:none; background-image:url(/static/img/lpt.png); background-color:#F60;" title="Buscar no site" type="submit">Submit</button>
	</form>

	<div class="spsesbusexp"><span></span></div>

	<div class="sdssao"> 
		<span style="color:#FFF; font-family:arial; font-size:12pt; float:left; margin-top:8px; margin-left:33px;">
			<strong> Buscar por Categorias </strong>
		</span>
	</div>

	<a title="Animais e Acessórios" href="/{{estado}}/animais_acessorios">
		<div style="margin-top:-13px;" class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg1.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Animais e Acessórios</b>
			</span>
		</div>
	</a>

	<a title="Bebês e Crianças" href="/{{estado}}/bebes_criancas">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg2.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Bebês e Crianças</b>
			</span>
		</div>
	</a>

	<a title="Eletrônicos e Celulares" href="/{{estado}}/eletronicos_celulares">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg3.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Eletrônicos e Celulares</b>
			</span>
		</div>
	</a>

	<a title="Empregos e Negócios" href="/{{estado}}/empregos_negocios">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg4.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Empregos e Negócios</b>
			</span>
		</div>
	</a>

	<a title="Esportes e Fitness" href="/{{estado}}/esportes_fitness">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/frt.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Esportes e Fitness</b>
			</span>
		</div>
	</a>

	<a title="Imóveis" href="/{{estado}}/imoveis">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg6.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Imóveis</b>
			</span>
		</div>
	</a>

	<a title="Moda e Beleza" href="/{{estado}}/moda_beleza">
		<div class="sdmnctg">
			<div style="background-image:url(/static/img/ctg7.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Moda e Beleza</b>
			</span>
		</div>
	</a>

	<a title="Para sua casa" href="/{{estado}}/para_casa">
		<div class="sdmnctg">
			<div style="background-image:url(/static/img/ctg8png.png)" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 	<b>Para sua casa</b>
			</span>
		</div>
	</a>

	<a title="Música, arte e hobbies" href="/{{estado}}/musica_arte_hobbies">
		<div class="sdmnctg">
			<div style="background-image:url(/static/img/ctg9.png)" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Música, Hobbies e Artes</b>
			</span>
		</div>
	</a>

	<a title="Veículos" href="/{{estado}}/veiculos">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg10.png)" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Veículos</b>
			</span>
		</div>
	</a>

	<div class="lnespctglae"></div>

</div>
<!-- FIM CATEGORIAS PRINCIPAL -->