<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 
	{% include "pesquisa.html" %}

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/cel.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Eletrônicos e celulares</b> 
		</span>
	</div>

	<a title="Audio, vídeo, tv e fotografia" href="/{{estado}}/{{categoria}}/audio_tv_video_fotografia">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/aip.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Audio/Vídeo/TV</b> 
				<span style="color:#666; font-size:8pt;">111.451</span> 
			</span>
		</div>
	</a>

	<a title="Computadores e acessórios" href="/{{estado}}/{{categoria}}/computadores">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/compt.png);" class="icsesctgg"> </div>
			<span class="vdapr" style="font-size:10pt; font-family:arial; margin-top:3px;  margin-left:5px; float:left;">
				<b>Computadores e acessórios</b>
				<span style="color:#666; font-size:8pt;">141151</span>
			</span>
		</div>
	</a>

	<a title="Celular e telefonia" href="/{{estado}}/{{categoria}}/telefonia">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/cel.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Celular e telefonia</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Videogames" href="/{{estado}}/{{categoria}}/videogames">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/vdg.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Videogames</b> 
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->