<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae">

	{% include "pesquisa.html" %}

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg4.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Emprego e negócios</b> 
		</span>
	</div>

	<a title="Currículos" href="/{{estado}}/{{categoria}}/curriculos">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg4.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Currículos</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Empregos" href="/{{estado}}/{{categoria}}/empregos">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/sbv.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Empregos</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Indústria, agro e comércio" href="/{{estado}}/{{categoria}}/industria">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/anemp.png);" class="icsesctgg"> </div>
			<span class="vdapr" style="font-size:10pt; font-family:arial; margin-top:3px;  margin-left:5px; float:left;">
				<b>Indústria, agro e comércio</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Serviços" href="/{{estado}}/{{categoria}}/servicos">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/sbv.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Serviços</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->
