<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg6.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Imóveis</b> 
		</span>
	</div>

	<a title="Venda de casas e apartamentos" href="/{{estado}}/{{categoria}}/venda_casa_apartamentos">
		<div  class="sdmnctg">
			<div style="background-image:url(/static/img/ctg/vendo.png);" class="icsesctgg"> </div>
			<span class="vdapr" style="font-size:10pt; font-family:arial; margin-top:3px;  margin-left:5px; float:left;">
				<b>Venda de casas e apartamento</b> 
				<span style="color:#666; font-size:8pt;">111.451</span> 
			</span>
		</div>
	</a>

	<a title="Aluguel de casas e apartamentos" href="/{{estado}}/{{categoria}}/aluguel_casa_apartamentos">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/alg.png);" class="icsesctgg"> </div>
			<span class="vdapr" style="font-size:10pt; font-family:arial; margin-top:3px;  margin-left:5px; float:left;">
				<b>Aluguel de casas e apartamento</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Lançamentos" href="/{{estado}}/{{categoria}}/lancamentos">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/alanc.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Lançamentos</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Terreno, lotes, sítios e fazendas" href="/{{estado}}/{{categoria}}/terrenos_lotes">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/faz.png);" class="icsesctgg"> </div>
			<span class="vdapr" style="font-size:10pt; font-family:arial; margin-top:3px;  margin-left:5px; float:left;">
				<b>Terreno, lotes, sítios e fazendas</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Lojas, salas e outros" href="/{{estado}}/{{categoria}}/lojas_salas">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/lj.png);" class="icsesctgg"> </div>
			<span class="vdapr" style="font-size:10pt; font-family:arial; margin-top:3px;  margin-left:5px; float:left;">
				<b>Lojas, salas e outros</b>
				<span style="color:#666; font-size:8pt;">141151</span>
			</span>
		</div>
	</a>

	<a title="Temporadas" href="/{{estado}}/{{categoria}}/temporada">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/tmp.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Temporada</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->