<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg7.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Moda e Beleza</b> 
		</span>
	</div>

	<a title="Bjouterias e acessórios" href="/{{estado}}/{{categoria}}/bijout">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/puls.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Bijout./Acessórios</b> 
				<span style="color:#666; font-size:8pt;">1451</span> 
			</span>
		</div>
	</a>

	<a title="Roupas e calçados" href="/{{estado}}/{{categoria}}/roupas_calcados">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/bku.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
				<b>Roupas/Calçados</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Beleza e saúde" href="/{{estado}}/{{categoria}}/beleza_saude">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/pef.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Beleza e saúde</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Bolças malas etc." href="/{{estado}}/{{categoria}}/bolsas_malas">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/bolc.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Bolças/Malas etc.</b> 
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<div class="lnespctglae"></div>

</div>
<!-- FIM CATEGORIAS PRINCIPAL -->