<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg10.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Veículos</b> 
		</span>
	</div>

	<a title="Motos" href="/{{estado}}/{{categoria}}/motos">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/mtccle.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Motos</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Carros" href="/{{estado}}/{{categoria}}/carros">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg10.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Carros</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Caminhões, ônibus e vans" href="/{{estado}}/{{categoria}}/caminhoes_onibus">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/trk.png);" class="icsesctgg"> </div>
			<span class="vdapr" style="font-size:10pt; font-family:arial; margin-top:3px;  margin-left:5px; float:left;">
				<b>Caminhões, ônibus e vans </b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Barcos, lanchas e aviões" href="/{{estado}}/{{categoria}}/barcos">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/bco.png);" class="icsesctgg"> </div>
			<span class="vdapr" style="font-size:10pt; font-family:arial; margin-top:3px;  margin-left:5px; float:left;">
				<b>Barcos, lanchas e aviões</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<div class="lnespctglae"></div>

</div>
<!-- FIM CATEGORIAS PRINCIPAL -->