 <!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<a title="Veículos" href="/{{estado}}/{{categoria}}">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg10.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Veículos</b> 
			</span>
		</div>
	</a>

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/mtccle.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Motos</b> 
		</span>
	</div>

	<!-- ATRIB CTTG -->
	<div class="sfbctgsele"> 
		<p style="font-family:Arial, Helvetica, sans-serif; color:#099; margin-left:12px; margin-top:10px;"> 
			<strong>Faixa de Preço</strong>
		</p>

		<div class="pricerangebx">
			<input class="gxfpricebx" name="ps" id="ps" placeholder="  Mín." value="" maxlength="13" type="text">
			<input class="gxfpricebx" name="pe" id="pe" placeholder="  Máx." value="" maxlength="13" type="text">
			<input style=" margin-left:3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:34px; height:35px; background-image:url(/static/img/lpt23.png);" class="btn btn-green btn-filter" value="" id="price_bt" type="submit">
		</div>

		<select style="width:190px; margin-left:10px; margin-top:10px; height:40px; border: 1px solid #D6D6D6; -webkit-border-radius: 5px; -moz-border-radius: 3px; border-radius: 3px;" name="vb" id="vehicle_brand_vb" class="form-field form-field-select full">
			<option value="" selected="selected">Marca</option>	
			<option disabled="disabled" value="">-</option>
			<option title="adly" value="20">ADLY</option>
			<option title="agrale" value="38">AGRALE</option>
			<option title="amazonas" value="14">AMAZONAS</option>
			<option title="aprilia" value="17">APRILIA</option>
			<option title="atala" value="32">ATALA</option>
			<option title="bajaj" value="36">BAJAJ</option>
			<option title="benelli" value="69">Benelli</option>
			<option title="beta" value="66">BETA</option>
			<option title="bimota" value="42">BIMOTA</option>
			<option title="bmw" value="53">BMW</option>
			<option title="brandy" value="51">BRANDY</option>
			<option title="brava" value="76">BRAVA</option>
			<option title="brp" value="77">BRP</option>
			<option title="buell" value="2">BUELL</option>
			<option title="bueno" value="59">BUENO</option>
			<option title="bycristo" value="73">byCristo</option>
			<option title="cagiva" value="34">CAGIVA</option>
			<option title="caloi" value="63">CALOI</option>
			<option title="daelim" value="13">DAELIM</option>
			<option title="dafra" value="23">DAFRA</option>
			<option title="dayang" value="46">DAYANG</option>
			<option title="dayun" value="47">DAYUN</option>
			<option title="derbi" value="19">DERBI</option>
			<option title="ducati" value="1">DUCATI</option>
			<option title="emme" value="62">EMME</option>
			<option title="fox" value="5">FOX</option>
			<option title="fym" value="55">FYM</option>
			<option title="garinni" value="57">GARINNI</option>
			<option title="gas-gas" value="50">GAS GAS</option>
			<option title="green" value="48">GREEN</option>
			<option title="haobao" value="58">HAOBAO</option>
			<option title="harley-davidson" value="28">HARLEY-DAVIDSON</option>
			<option title="hartford" value="61">HARTFORD</option>
			<option title="hero" value="16">HERO</option>
			<option title="honda" value="15">HONDA</option>
			<option title="husaberg" value="54">HUSABERG</option>
			<option title="husqvarna" value="40">HUSQVARNA</option>
			<option title="iros" value="8">IROS</option>
			<option title="jiapeng-volcano" value="60">JIAPENG VOLCANO</option>
			<option title="johnnypag" value="24">JOHNNYPAG</option>
			<option title="jonny" value="18">JONNY</option>
			<option title="kahena" value="4">KAHENA</option>
			<option title="kasinski" value="41">KASINSKI</option>
			<option title="kawasaki" value="21">KAWASAKI</option>
			<option title="kimco" value="44">KIMCO</option>
			<option title="ktm" value="3">KTM</option>
			<option title="laquila" value="11">L'AQUILA</option>
			<option title="landum" value="64">LANDUM</option>
			<option title="lavrale" value="67">LAVRALE</option>
			<option title="lerivo" value="56">LERIVO</option>
			<option title="lifan" value="35">LIFAN</option>
			<option title="lon-v" value="43">Lon-V</option>
			<option title="magrao-triciclos" value="65">MAGRÃO TRICICLOS</option>
			<option title="malaguti" value="37">Malaguti</option>
			<option title="miza" value="49">MIZA</option>
			<option title="moto-guzzi" value="33">MOTO GUZZI</option>
			<option title="motocar" value="81">MOTOCAR</option>
			<option title="motorino" value="80">MOTORINO</option>
			<option title="mrx" value="6">MRX</option>
			<option title="mv-agusta" value="30">MV AGUSTA</option>
			<option title="mvk" value="26">MVK</option>
			<option title="orca" value="22">ORCA</option>
			<option title="pegassi" value="29">PEGASSI</option>
			<option title="peugeot" value="31">PEUGEOT</option>
			<option title="piaggio" value="25">PIAGGIO</option>
			<option title="regal-raptor" value="27">REGAL RAPTOR</option>
			<option title="riguete" value="79">RIGUETE</option>
			<option title="royal-enfield" value="78">Royal Enfield</option>
			<option title="sanyang" value="52">SANYANG</option>
			<option title="shineray" value="75">SHINERAY</option>
			<option title="siamoto" value="68">SIAMOTO</option>
			<option title="sundown" value="12">SUNDOWN</option>
			<option title="suzuki" value="9">SUZUKI</option>
			<option title="targos" value="70">TARGOS</option>
			<option title="tiger" value="72">TIGER</option>
			<option title="traxx" value="39">TRAXX</option>
			<option title="triumph" value="10">TRIUMPH</option>
			<option title="vento" value="71">VENTO</option>
			<option title="wuyang" value="74">WUYANG</option>
			<option title="yamaha" value="7">YAMAHA</option>
		</select>

		{% include "subcategorias/veiculos/quilometragem_ano.html" %}

		<div class="stparpincbx"> </div>
	</div>
	 <!--FIM  ATRIB CTTG -->
	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->