<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg/frt.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Esportes/Fitness</b> 
		</span>
	</div>

	<a title="Esportes" href="/{{cidade}}-{{estado}}/{{categoria}}/esportes">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/spr.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Esportes</b> 
				<span style="color:#666; font-size:8pt;">111.451</span> 
			</span>
		</div>
	</a>

	<a title="Ciclismo" href="/{{cidade}}-{{estado}}/{{categoria}}/ciclismo">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/ccls.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Ciclismo</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Fitness e luta" href="/{{cidade}}-{{estado}}/{{categoria}}/fitness_luta">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/frt.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Fitness e luta</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->