<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg9.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Músicas, artes e hobbies</b> 
		</span>
	</div>

	<a title="Antiguidades" href="/{{cidade}}-{{estado}}/{{categoria}}/antiguidades">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/ant.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Antiguidades</b> 
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Hobbies e coleções" href="/{{cidade}}-{{estado}}/{{categoria}}/hobbie">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/hbs.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Hobbies/Coleções</b>
			<span style="color:#666; font-size:8pt;">122</span>
		</span>
		</div>
	</a>

	<a title="Música, filmes e etc" href="/{{cidade}}-{{estado}}/{{categoria}}/musica">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/mf.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Música, filme Etc.</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Instrumentos musicais" href="/{{cidade}}-{{estado}}/{{categoria}}/instrumentos">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg9.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Instr. musicias</b> 
				<span style="color:#666; font-size:8pt;">1451</span> 
			</span>
		</div>
	</a>

	<a title="Livros e revistas" href="/{{cidade}}-{{estado}}/{{categoria}}/livros_revistas">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/bk.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Livros e revistas</b> 
				<span style="color:#666; font-size:8pt;">1451</span> 
			</span>
		</div>
	</a>

	<div class="lnespctglae"></div>
</div>
<!-- FIM CATEGORIAS PRINCIPAL -->