<!-- CATEGORIAS PRINCIPAL -->
<div class="sesctglae"> 

	{% include "pesquisa.html" %}

	<div  class="sdmnctgdois"> 
		<div style="background-image:url(/static/img/ctg8png.png);" class="icsesctgg"> </div>
		<span style="font-size:10pt; color:#999;  font-family:arial; margin-top:10px;  margin-left:5px; float:left;">
			<b>Para sua casa</b> 
		</span>
	</div>

	<a title="Arte e decoração" href="/{{cidade}}-{{estado}}/{{categoria}}/arte_decoracao">
		<div  class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/pcts.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Arte e Decoração</b> 
				<span style="color:#666; font-size:8pt;">1451</span> 
			</span>
		</div>
	</a>

	<a title="Cama mesa e banho" href="/{{cidade}}-{{estado}}/{{categoria}}/cama_mesa_banho">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/tal.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Cama/Mesa/Banho</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Móveis" href="/{{cidade}}-{{estado}}/{{categoria}}/moveis">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg8png.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Móveis</b>
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Eletrodomésticos" href="/{{cidade}}-{{estado}}/{{categoria}}/eletrodomesticos">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/electoc.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Eletrodomésticos</b> 
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<a title="Construção/Jard." href="/{{cidade}}-{{estado}}/{{categoria}}/construcao">
		<div class="sdmnctg"> 
			<div style="background-image:url(/static/img/ctg/jdn.png);" class="icsesctgg"> </div>
			<span style="font-size:10pt; font-family:arial; margin-top:10px;  margin-left:5px; float:left;"> 
				<b>Construção/Jard.</b> 
				<span style="color:#666; font-size:8pt;">1451</span>
			</span>
		</div>
	</a>

	<div class="lnespctglae"></div>

</div>
<!-- FIM CATEGORIAS PRINCIPAL -->